.layout {
  &.layout-sidebar {
    display: grid;
    grid-template-columns: 295px 1fr;
    gap: 2rem;
  }
  &.layout-no-sidebar {
    .product-item__image {
      padding-bottom: 75.25%;
    }
    .product-slider__wrapper {
      padding-right: 1px;
    }
  }
  .content {
    min-width: 0;
  }
  .product-slider__wrapper {
    margin-bottom: 47px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.home-page-catalog {
  .layout-sidebar {
    @media (max-width: 1200px) {
      grid-template-columns: 250px 1fr;
    }
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
      .sidebar {
        display: none;
      }
    }
  }
}
