.catalog-pagination__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 14px;
  .catalog-pagination__list-item {
    width: 42px;
    border-radius: 6px;
    border: 1px solid #e5e7eb;
  }
  li {
    &:first-of-type {
      [class^="icon-"] {
        transform: rotate(-180deg);
      }
    }
    &.active {
      > * {
        background-color: var(--blue-color);
        color: #fff;
      }
    }
    > * {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 42px;
      background: #ffffff;

      border-radius: 6px;
      font-size: 1rem;
      line-height: 22px;
      font-weight: var(--fw-600);
    }
    a {
      transition: 0.25s;
      &:hover {
        background-color: var(--blue-color);
        color: #fff;
      }
    }
  }
}

.catalog-pagination__list-numbers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 14px;
  width: auto;
  .catalog-pagination__list-numbers-item {
    width: 42px;
  }
}

.catalog-pagination__inner-list {
  display: flex;
  width: 100;
  .catalog-pagination__list-numbers-item {
    border: 1px solid #e5e7eb;
    border-radius: 6px;
  }
}
