.top-products {
  padding-top: 65px;
  padding-bottom: 65px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #e5e7eb;
  }
  .top-products__row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .top-products__item {
    display: block;
    font-weight: var(--fw-500);
    font-size: 16px;
    line-height: 22px;
    background-color: var(--light-color);
    border-radius: 8px;
    padding: 6.5px 1rem;
    transition: 0.25s;
    &:hover {
      background-color: var(--blue-color);
      color: #fff;
    }
    @media (max-width: 768px) {
      padding: 8px;
    }
  }
  @media (max-width: 1024px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
