@media (max-width: 768px) {
  .mobile-mt-0 {
    margin-top: 0 !important;
  }
}

.bg-black {
  background-color: #191E28;
}

html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
  height: 100%;
  font-family: 'Geometria', sans-serif;
  position: relative;
  overflow-x: hidden;
}

.site-wrapper {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
}

svg {
  display: block;
}

@media (max-width: 1100px) {
  .site-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.15s ease-in;
    transition: opacity 0.15s ease-in;
    cursor: pointer;
  }
  .site-backdrop.active {
    opacity: .6;
    visibility: visible;
    -webkit-transition: opacity 0.15s ease-in;
    transition: opacity 0.15s ease-in;
    background-color: #333;
    z-index: 1;
  }
}

.modal-backdrop {
  background-color: #191E28;
}

@font-face {
  font-family: 'greenredfood';
  src: url("../fonts/greenredfood.ttf?939spb") format("truetype"), url("../fonts/greenredfood.woff?939spb") format("woff"), url("../fonts/greenredfood.svg?939spb#greenredfood") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="grf-"], [class*=" grf-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'greenredfood' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grf-arrow-l:before {
  content: "\e900";
}

.grf-arrow-r:before {
  content: "\e901";
}

.grf-close:before {
  content: "\e902";
}

.grf-facebook:before {
  content: "\e903";
}

.grf-google:before {
  content: "\e904";
}

.grf-instagram:before {
  content: "\e905";
}

.grf-login:before {
  content: "\e906";
}

.grf-minus:before {
  content: "\e907";
}

.grf-phone:before {
  content: "\e908";
}

.grf-plus:before {
  content: "\e909";
}

.grf-search:before {
  content: "\e90a";
}

.grf-up:before {
  content: "\e90b";
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.text-green {
  color: #24AB70;
}

.text-black {
  color: #191E28;
}

.text-strong {
  font-weight: bold;
  letter-spacing: 0.05em;
}

.text-big {
  font-size: 48px;
  line-height: 60px;
}

.text-xs {
  font-size: 12px;
  line-height: 18px;
}

.text-sm {
  font-size: 14px;
  line-height: 18px;
}

.text-md {
  font-size: 16px;
  line-height: 18px;
}

.text-lg {
  font-size: 32px;
  line-height: 36px;
}

.subscribe-form input {
  border-radius: 50px;
  border: 1px solid transparent;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  padding-left: 25px;
}

.subscribe-form input::-webkit-input-placeholder {
  color: #191E28;
  font-size: 16px;
  opacity: 0.5;
}

.subscribe-form input::-ms-input-placeholder {
  color: #191E28;
  font-size: 16px;
  opacity: 0.5;
}

.subscribe-form input::placeholder {
  color: #191E28;
  font-size: 16px;
  opacity: 0.5;
}

.subscribe-form input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}

.subscribe-form label {
  color: #191E28;
  opacity: 0.5;
  font-size: 16px;
  line-height: 18px;
  max-width: 135px;
  letter-spacing: normal;
  margin-bottom: 0;
  margin-right: 40px;
}

.subscribe-form .btn {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #191E28;
  letter-spacing: normal;
  margin-left: 10px;
}

.subscribe-form__input {
  background-color: #fff;
  border-radius: 50px;
  padding: 3px 3px 3px 0;
}

.number-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.number-form input {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  border: none;
  background: transparent;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.number-form input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.number-form .plus,
.number-form .minus {
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  max-width: 50px;
  width: 50px;
  height: 50px;
}

.btn {
  border-radius: 25px;
  position: relative;
  padding: 17px 20px 15px;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0);
}

.btn-white {
  background-color: #FFFFFF;
}

.btn-icon {
  border-radius: 50px;
  padding: 13px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-icon i {
  font-size: 22px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn-icon:hover i {
  opacity: 0.5;
}

.btn-has-dropdown {
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0);
  -webkit-transition: border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border-radius 0.3s;
  transition: box-shadow 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
}

.btn-has-dropdown .btn-dropdown {
  position: absolute;
  background-color: #fff;
  width: 100%;
  top: 100%;
  left: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s, opacity 0.15s;
  transition: all 0.3s, opacity 0.15s;
  border: 1px solid transparent;
  z-index: 1;
}

.btn-has-dropdown:hover .btn-dropdown {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.btn-tobar__phone {
  padding-right: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
}

.btn-tobar__phone a {
  display: block;
  text-align: left;
  color: #191E28;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.btn-tobar__phone .topbar__phone-dropdown a {
  margin-bottom: 17px;
}

.btn-tobar__phone i {
  position: absolute;
  right: 20px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.btn-tobar__phone:hover {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
}

.btn-tobar__phone:hover a:hover {
  color: #24AB70;
}

.btn-tobar__phone:hover i {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.btn-login a {
  display: block;
  text-align: left;
  margin-bottom: 20px;
  text-decoration: none;
  color: #191E28;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.btn-login a:hover {
  color: #24AB70;
}

.btn-login .btn-dropdown {
  padding-top: 20px;
  top: -1px;
  left: -1px;
  min-width: 210px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
}

.btn-topbar__cart {
  padding-left: 80px;
  padding-right: 44px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  border: none;
}

.btn-topbar__cart span {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn-topbar__cart span:first-of-type {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #24AB70;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  border-radius: 50px;
  font-weight: bold;
}

.btn-topbar__cart:hover span:last-of-type {
  opacity: .5;
}

.btn-border {
  border: 2px solid transparent;
  border-radius: 50px;
}

.btn-green {
  border-color: #24AB70;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.btn-green:hover, .btn-green.active {
  background-color: #24AB70;
  color: #FFFFFF;
}

.btn-turq {
  background-color: #EAF8F2;
}

.btn-turq:hover {
  background-color: #d7f2e6;
}

/** Category nav tabs button **/
.category-btn {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  text-align: center;
  background-color: #191E28;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  padding: 10px;
  word-wrap: break-word;
}

.category-btn:hover, .category-btn:focus {
  color: #24AB70;
}

@media (max-width: 1100px) {
  .category-btn {
    width: 100px;
    height: 100px;
    font-size: 14px;
    line-height: 1;
  }
}

.topbar {
  padding: 10px 75px;
  background-color: #EAF8F2;
}

.topbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.topbar-left, .topbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.topbar-left .btn, .topbar-right .btn {
  margin: 0 15px;
}

.topbar-left {
  margin-left: -15px;
}

.topbar-right {
  margin-right: -15px;
}

.topbar-logo {
  padding: 0 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 152px;
  flex: 0 0 152px;
  max-width: 152px;
}

@media (max-width: 1439.98px) {
  .topbar {
    padding: 10px 0;
  }
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #24AB70;
}

.main-nav__link {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 22px 0 20px;
  margin: 0 42.5px;
  opacity: .8;
  -webkit-transition: opacity .25s;
  transition: opacity .25s;
}

.main-nav__link.active {
  opacity: 1;
}

.main-nav__link.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  width: 100%;
  height: 4px;
}

.main-nav__link:hover {
  opacity: 1;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .main-nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .main-nav__link {
    margin: 0 20px;
  }
}

.info {
  padding: 87px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0 -15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 1440px) {
  .info-list {
    margin: 0 -50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.info-list__phones {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info-list__phones li {
  line-height: 1;
}

.info-list__phones a {
  text-decoration: none;
  -webkit-transition: color .25s;
  transition: color .25s;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
}

.info-list__phones a:hover {
  color: #24AB70;
}

.info-list__subtitle {
  text-transform: uppercase;
  margin-bottom: 12px;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.info-list__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}

@media (min-width: 1440px) {
  .info-list__item {
    padding: 0 50px;
  }
}

.info-list__item .text-big span {
  font-size: 24px;
  line-height: 30px;
}

.info-list__item .text-big > span:not(:first-of-type) {
  margin-left: 5px;
}

.info-list__item .text-big > span:first-of-type {
  margin-right: 5px;
}

.info-list__item .text-big > span:last-of-type {
  margin-left: 5px;
}

.info-list__item .text-xs {
  letter-spacing: 0.05em;
}

.slider__header {
  color: #FFFFFF;
  padding: 42px 0;
}

.slider__title {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  padding: 0 100px;
}

.slider__btn {
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider__btn i {
  font-size: 20px;
}

.product__card {
  border: 1px solid #F0F0F0;
  display: block;
  position: relative;
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.product__card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  will-change: box-shadow;
}

.product__card-thumb {
  width: 100%;
  padding: 30px 20px 40px;
  position: relative;
  display: block;
}

.product__card-thumb::before {
  content: "";
  display: block;
  padding-top: 33%;
  padding-bottom: 33%;
}

.product__card-thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 200px;
  max-height: 150px;
}

@media (max-width: 1439.98px) {
  .product__card-thumb img {
    max-width: 150px;
  }
}

.product__card-footer {
  padding: 0 30px;
}

.product__card-footer {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 16px;
}

.product__card-title {
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 30px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  text-decoration: none;
  color: #191E28;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}

.product__card-title:hover {
  color: #24AB70;
}

.product__card-descr {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  margin-bottom: 27px;
  padding-left: 30px;
  padding-right: 30px;
}

.product__card-holder {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.product__card-holder::before {
  content: '';
  position: absolute;
  height: 60px;
  width: 100%;
  top: -60px;
  background-color: #FFFFFF;
  z-index: 2;
}

.product__card-hidden {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #F0F0F0;
  will-change: box-shadow;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0;
  visibility: hidden;
}

.product__card-hidden-descr {
  margin-bottom: 9px;
}

.product__card-hidden-price {
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

.product__card-hidden-price span {
  font-size: 16px;
  line-height: 18px;
  margin-left: 5px;
}

.product__card-hidden-weight {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.product__card-hidden .product__card-order__btn {
  margin-top: 19px;
}

.product__card:hover::before {
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  will-change: box-shadow;
  z-index: 3;
}

.product__card:hover .product__card-thumb,
.product__card:hover .product__card-title {
  cursor: pointer;
}

.product__card.active .product__card-thumb,
.product__card.active .product__card-title {
  z-index: 7;
}

.category .product__card:hover {
  cursor: pointer;
}

.category .product__card:hover::before {
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  will-change: box-shadow;
  z-index: 3;
}

.category .product__card:hover .product__card-holder {
  overflow: visible;
  z-index: 7;
}

.category .product__card:hover .product__card-hidden {
  will-change: box-shadow;
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.category .product__card:hover .product__card-order__btn {
  margin-left: -6px;
  margin-right: -6px;
}

.category .product__card.active .product__card-title {
  z-index: 8;
}

.subscribe {
  background-color: #EAF8F2;
  padding: 35px 0;
}

.subscribe-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promo {
  padding: 50px 0;
}

.promo [class^="col-"], .promo [class*=" col-"] {
  padding: 0 10px;
}

.promo .promo-banner__header {
  background-color: #24AB70;
  padding: 16px 0;
  text-align: center;
}

.promo .promo-banner__title {
  color: #FFFFFF;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.category-header {
  padding: 57px 0;
}

@media (max-width: 1330px) {
  .category-header {
    padding: 27px 0;
  }
}

.category-tab__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.category-btn__wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 225px;
  flex: 0 0 225px;
  max-width: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 43px 0;
  margin: 20px 20px;
  border-radius: 50%;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: #FFFFFF;
  background-size: cover;
}

.category-btn__wrapper.active {
  opacity: 1;
}

.category-btn__wrapper.active .btn {
  color: #24AB70;
}

.category-btn__wrapper:hover {
  opacity: 1;
}

.category-btn__wrapper:hover .btn {
  color: #24AB70;
}

@media (max-width: 1330px) {
  .category-btn__wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
    max-width: 180px;
    padding: 20px 0;
  }
}

@media (max-width: 1100px) {
  .category-btn__wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 140px;
    flex: 0 0 140px;
    max-width: 140px;
  }
}

@media (min-width: 576px) {
  .product-modal .modal-dialog {
    max-width: 840px;
  }
}

.product-modal__thumb {
  width: 100%;
  position: relative;
  display: block;
}

.product-modal__thumb::before {
  content: "";
  display: block;
  padding-top: 33%;
  padding-bottom: 33%;
}

.product-modal__thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 570px;
  max-height: 360px;
}

.product-modal__description {
  margin-bottom: 35px;
}

.product-modal__description {
  padding-left: calc(40px - calc(var(--bs-gutter-x) / 2));
  padding-right: calc(30px - calc(var(--bs-gutter-x) / 2));
}

.product-modal__consist {
  margin-left: -10px;
  margin-right: -10px;
  padding-left: calc(15px - calc(var(--bs-gutter-x) / 2));
  padding-right: calc(30px - calc(var(--bs-gutter-x) / 2));
}

.product-modal .product-consist__item {
  margin-bottom: 29px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  padding: 0 10px;
}

.product-modal .product-consist__item img {
  max-width: 80px;
  max-height: 60px;
  height: 60px;
  margin-bottom: 10px;
  -o-object-fit: contain;
  object-fit: contain;
}

.product-modal .product-consist__item .text-black {
  color: #000000;
  font-weight: bolder;
  letter-spacing: 0.05em;
  margin-bottom: 0;
}

.product-modal .modal-content {
  border-radius: 0;
  border: none;
}

.order-info {
  background-color: #24AB70;
  height: 100%;
  position: relative;
  margin-left: -calc(var(--bs-gutter-x) / 2);
  margin-right: -calc(var(--bs-gutter-x) / 2);
  padding-top: 90px;
}

.order-info .btn-close {
  position: absolute;
  right: 30px;
  top: 30px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.3332 2.54666L17.4532 0.666664L9.99984 8.12L2.5465 0.666664L0.666504 2.54666L8.11984 10L0.666504 17.4533L2.5465 19.3333L9.99984 11.88L17.4532 19.3333L19.3332 17.4533L11.8798 10L19.3332 2.54666Z' fill='white'/%3E%3C/svg%3E%0A");
  opacity: 1;
  background-size: 100%;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  width: .6em;
  height: .6em;
}

.order-info__wrapper {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.order-info__recommend {
  padding: 0 22px;
}

.order-info__quant {
  margin-bottom: 35px;
}

.order-info__btn {
  margin-top: 35px;
}

.recommend-item {
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 10px 18px 13px;
}

.recommend-item img {
  width: 65px;
  height: 65px;
  -o-object-fit: contain;
  object-fit: contain;
}

.recommend-item__info {
  padding: 10px 0;
  padding-left: 5px;
  margin-left: -18px;
}

.site-header {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
}

.site-footer {
  padding: 115px 0;
}

.site-footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-footer__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  display: block;
  -webkit-transition: color .25s;
  transition: color .25s;
}

.site-footer__link:hover {
  color: #24AB70;
}

.site-footer__nav {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.site-footer__actions a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 210px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.site-footer__actions a span {
  color: #191E28;
  -webkit-transition: color .25s;
  transition: color .25s;
  margin-left: 15px;
}

.site-footer__actions a i {
  font-size: 18px;
  -webkit-transition: color .25s;
  transition: color .25s;
}

.site-footer__actions a:hover span {
  color: #24AB70;
}

.site-footer__actions a:hover i {
  color: #24AB70;
  opacity: 1;
}
