@media (max-width: 768px) {
  .mobile-mt-0 {
    margin-top: 0 !important;
  }
}

.bg-black {
  background-color: #191E28;
}

html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #fff;
  height: 100%;
  font-family: 'Geometria', sans-serif;
  position: relative;
  font-size: 16px;
  line-height: 18px;
}

.site-wrapper {
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-height: calc(100vh - 160px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

img {
  width: 100%;
}

svg {
  display: block;
}

@media (max-width: 1100px) {
  .site-backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.15s ease-in;
    transition: opacity 0.15s ease-in;
    cursor: pointer;
  }
  .site-backdrop.active {
    opacity: .6;
    visibility: visible;
    -webkit-transition: opacity 0.15s ease-in;
    transition: opacity 0.15s ease-in;
    background-color: #333;
    z-index: 1;
  }
}

.site-backdrop.searchbarActive {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: visible;
  -webkit-transition: opacity 0.15s ease-in;
  transition: opacity 0.15s ease-in;
}

@font-face {
  font-family: 'greenredfood';
  src: url("../fonts/greenredfood.ttf?939spb") format("truetype"), url("../fonts/greenredfood.woff?939spb") format("woff"), url("../fonts/greenredfood.svg?939spb#greenredfood") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="grf-"], [class*=" grf-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'greenredfood' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grf-arrow-l:before {
  content: "\e900";
}

.grf-arrow-r:before {
  content: "\e901";
}

.grf-close:before {
  content: "\e902";
}

.grf-facebook:before {
  content: "\e903";
}

.grf-google:before {
  content: "\e904";
}

.grf-instagram:before {
  content: "\e905";
}

.grf-login:before {
  content: "\e906";
}

.grf-minus:before {
  content: "\e907";
}

.grf-phone:before {
  content: "\e908";
}

.grf-plus:before {
  content: "\e909";
}

.grf-search:before {
  content: "\e90a";
}

.grf-up:before {
  content: "\e90b";
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Geometria';
  src: url("../fonts/Geometria-ExtraBold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.text-green {
  color: #24AB70;
}

.text-black {
  color: #191E28;
}

.text-strong {
  font-weight: bold;
  letter-spacing: 0.05em;
}

.text-big {
  font-size: 48px;
  line-height: 60px;
}

.text-xs {
  font-size: 12px;
  line-height: 18px;
}

.text-sm {
  font-size: 14px;
  line-height: 18px;
}

.text-md {
  font-size: 16px;
  line-height: 18px;
}

.text-lg {
  font-size: 32px;
  line-height: 36px;
}

.subscribe-form input {
  border-radius: 50px;
  border: 1px solid transparent;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  padding-left: 25px;
}

.subscribe-form input::-webkit-input-placeholder {
  color: #191E28;
  font-size: 16px;
  opacity: 0.5;
}

.subscribe-form input::-ms-input-placeholder {
  color: #191E28;
  font-size: 16px;
  opacity: 0.5;
}

.subscribe-form input::placeholder {
  color: #191E28;
  font-size: 16px;
  opacity: 0.5;
}

.subscribe-form input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: transparent;
}

.subscribe-form label {
  color: #191E28;
  opacity: 0.5;
  font-size: 16px;
  line-height: 18px;
  max-width: 135px;
  letter-spacing: normal;
  margin-bottom: 0;
  margin-right: 40px;
}

.subscribe-form .btn {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #191E28;
  letter-spacing: normal;
  margin-left: 10px;
}

.subscribe-form__input {
  background-color: #fff;
  border-radius: 50px;
  padding: 3px 3px 3px 0;
}

.number-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.number-form input {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
  border: none;
  background: transparent;
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.number-form input:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.number-form .plus,
.number-form .minus {
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #FFFFFF;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50px;
  flex: 0 0 50px;
  max-width: 50px;
  width: 50px;
  height: 50px;
}

.authorization-form {
  margin: 0 -20px;
}

.authorization-form .form-input-wrapper {
  margin: 0 20px 37px;
  position: relative;
}

.authorization-form .form-input-wrapper .invalid-feedback {
  position: absolute;
  top: 100%;
  left: 0;
}

.authorization-form-btns .btn {
  margin: 0 10px;
  min-width: 240px;
  padding-left: 0;
  padding-right: 0;
}

.form-label {
  margin-bottom: 6px;
  font-size: 14px;
  line-height: 18px;
}

.form-input {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #C4C4C4;
  border-radius: 0;
  padding-left: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 8px;
}

.form-input:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  background-color: transparent;
  border-color: #C4C4C4;
}

.cart__form {
  padding-bottom: 70px;
}

.cart__form-container {
  max-width: calc(1020px + var(--bs-gutter-x, 1.5rem));
}

.cart__form-header {
  padding: 50px 0;
}

.cart__form-title {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.cart__form-title a {
  color: #24AB70;
  text-decoration: none;
  font-weight: bold;
}

.cart__form-title a:hover {
  text-decoration: underline;
}

.cart__form .form-input {
  max-width: 300px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

input[type=number] {
  -moz-appearance: textfield !important;
}

select.form-select {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='5' viewBox='0 0 10 5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0L5 5L10 0H0Z' fill='%23191E28'/%3E%3C/svg%3E");
  background-size: 10px;
}

.btn {
  border-radius: 25px;
  position: relative;
  padding: 17px 20px 15px;
  font-size: 16px;
  line-height: 18px;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:focus {
  -webkit-box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0);
}

.btn-white {
  background-color: #FFFFFF;
}

.btn-icon {
  border-radius: 50px;
  padding: 13px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.btn-icon i {
  font-size: 22px;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn-icon:hover i {
  opacity: 0.5;
}

.btn-has-dropdown {
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0);
  -webkit-transition: border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: border-radius 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border-radius 0.3s;
  transition: box-shadow 0.3s, border-radius 0.3s, -webkit-box-shadow 0.3s;
}

.btn-has-dropdown .btn-dropdown {
  position: absolute;
  background-color: #FFFFFF;
  width: 100%;
  top: 100%;
  left: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s, opacity 0.15s;
  transition: all 0.3s, opacity 0.15s;
  border: 1px solid transparent;
  z-index: 1;
}

.btn-has-dropdown:hover .btn-dropdown {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.btn-tobar__phone {
  padding-right: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
}

.btn-tobar__phone a {
  display: block;
  text-align: left;
  color: #191E28;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.btn-tobar__phone .topbar__phone-dropdown a {
  margin-bottom: 17px;
}

.btn-tobar__phone i {
  position: absolute;
  right: 20px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.btn-tobar__phone:hover {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
}

.btn-tobar__phone:hover a:hover {
  color: #24AB70;
}

.btn-tobar__phone:hover i {
  -webkit-transform: rotate(0);
  transform: rotate(0);
}

.btn-login a {
  display: block;
  text-align: left;
  margin-bottom: 20px;
  text-decoration: none;
  color: #191E28;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.btn-login a:hover {
  color: #24AB70 !important;
}

.btn-login .btn-dropdown {
  padding-top: 20px;
  top: -1px;
  left: -1px;
  min-width: 210px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
}

.btn-topbar__cart {
  padding-left: 80px;
  padding-right: 44px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  border: none;
}

.btn-topbar__cart span {
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.btn-topbar__cart span:first-of-type {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid #24AB70;
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  border-radius: 50px;
  font-weight: bold;
}

.btn-topbar__cart:hover span:last-of-type {
  opacity: .5;
}

.btn-border {
  border: 2px solid transparent;
  border-radius: 50px;
}

.btn-green {
  border-color: #24AB70;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}

.btn-green:hover, .btn-green.active {
  background-color: #24AB70;
  color: #FFFFFF;
}

.btn-turq {
  background-color: #EAF8F2;
}

.btn-turq:hover {
  background-color: #d7f2e6;
}

.btn-grey {
  background-color: #F0F0F0;
}

.btn-black-border {
  border-color: #191E28;
}

.btn-black-border:hover {
  background-color: #191E28;
  color: #FFFFFF;
}

.btn-black-border.active {
  background-color: #191E28;
  color: #FFFFFF;
}

/** Category nav tabs button **/
.category-btn {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  text-align: center;
  background-color: #191E28;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  padding: 10px;
  word-wrap: break-word;
}

.category-btn:hover, .category-btn:focus {
  color: #24AB70;
}

@media (max-width: 1100px) {
  .category-btn {
    width: 100px;
    height: 100px;
    font-size: 14px;
    line-height: 1;
  }
}

.topbar {
  padding: 10px 75px;
  background-color: #EAF8F2;
}

.topbar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
}

.topbar-left, .topbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.topbar-left .btn, .topbar-right .btn {
  margin: 0 15px;
}

.topbar-right {
  margin-right: -15px;
}

.topbar-left, .topbar-logo {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  visibility: visible;
}

.topbar-left.searchbarActive, .topbar-logo.searchbarActive {
  opacity: 0;
  visibility: hidden;
}

.topbar-left {
  margin-left: -15px;
}

.topbar-logo {
  padding: 0 15px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 152px;
  flex: 0 0 152px;
  max-width: 152px;
}

@media (max-width: 1439.98px) {
  .topbar {
    padding: 10px 0;
  }
}

.search-form {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: calc(100% - 400px);
  width: 100%;
  height: 50px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}

.search-form form {
  width: 100%;
  height: 100%;
}

.search-form input {
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: none;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  padding-left: 25px;
  font-size: 16px;
  line-height: 18px;
}

.search-form input.show {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.search-form.searchbarActive {
  opacity: 1;
  visibility: visible;
}

.search-form .dropdown-menu {
  border: none;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-top: -2px !important;
  width: 100%;
  padding-top: 0;
}

.search-form .dropdown-menu .dropdown-item {
  padding-left: 25px;
  color: #191E28;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 10px;
  z-index: 25;
  position: relative;
}

.search-form .dropdown-menu .dropdown-item span {
  font-weight: bold;
  color: #191E28 !important;
}

.search-form .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
  color: #24AB70 !important;
}

.search-form .dropdown-menu .dropdown-item:hover span {
  color: #24AB70 !important;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #24AB70;
}

.main-nav__link {
  position: relative;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 22px 0 20px;
  margin: 0 42.5px;
  opacity: .8;
  -webkit-transition: opacity 0.3s, color 0.3s;
  transition: opacity 0.3s, color 0.3s;
}

.main-nav__link.active {
  opacity: 1;
}

.main-nav__link.active::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  width: 100%;
  height: 4px;
}

.main-nav__link:hover {
  opacity: 1;
  color: #FFFFFF;
}

@media (max-width: 1200px) {
  .main-nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .main-nav__link {
    margin: 0 20px;
  }
}

.info {
  padding: 87px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info-list {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0 -15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 1440px) {
  .info-list {
    margin: 0 -50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.info-list__phones {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.info-list__phones li {
  line-height: 1;
}

.info-list__phones a {
  text-decoration: none;
  -webkit-transition: color .25s;
  transition: color .25s;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 0;
}

.info-list__phones a:hover {
  color: #24AB70;
}

.info-list__subtitle {
  text-transform: uppercase;
  margin-bottom: 12px;
  font-weight: bold;
  letter-spacing: 0.02em;
}

.info-list__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}

@media (min-width: 1440px) {
  .info-list__item {
    padding: 0 50px;
  }
}

.info-list__item .text-big span {
  font-size: 24px;
  line-height: 30px;
}

.info-list__item .text-big > span:not(:first-of-type) {
  margin-left: 5px;
}

.info-list__item .text-big > span:first-of-type {
  margin-right: 5px;
}

.info-list__item .text-big > span:last-of-type {
  margin-left: 5px;
}

.info-list__item .text-xs {
  letter-spacing: 0.05em;
}

.slider__header {
  color: #FFFFFF;
  padding: 42px 0;
}

.slider__title {
  text-transform: uppercase;
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  padding: 0 100px;
}

.slider__btn {
  background: none;
  border: 2px solid #FFFFFF;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider__btn i {
  font-size: 20px;
}

.product__card {
  border: 1px solid #F0F0F0;
  display: block;
  position: relative;
  background-color: #FFFFFF;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.product__card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  will-change: box-shadow;
}

.product__card-thumb {
  width: 100%;
  padding: 40px 20px 53px;
  position: relative;
  display: block;
}

.product__card-thumb::before {
  content: "";
  display: block;
  padding-top: 36%;
  padding-bottom: 36%;
}

.product__card-thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 200px;
  max-height: 150px;
}

@media (max-width: 1439.98px) {
  .product__card-thumb img {
    max-width: 150px;
  }
}

.product__card-footer {
  padding: 0 30px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 16px;
}

.product__card-footer .btn {
  z-index: 10;
}

.product__card-title {
  padding-bottom: 9px;
  padding-left: 30px;
  padding-right: 30px;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 2;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  text-decoration: none;
  color: #191E28;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
}

.product__card-title:hover {
  color: #24AB70;
}

.product__card-descr {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  margin-bottom: 27px;
  padding-left: 30px;
  padding-right: 30px;
}

.product__card-holder {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.product__card-holder::before {
  content: '';
  position: absolute;
  height: 60px;
  width: 100%;
  top: -60px;
  background-color: #FFFFFF;
  z-index: 2;
}

.product__card-hidden {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #F0F0F0;
  will-change: box-shadow;
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0;
  visibility: hidden;
}

.product__card-hidden-descr {
  margin-bottom: 9px;
}

.product__card-hidden-price {
  font-size: 32px;
  line-height: 36px;
  font-weight: bold;
}

.product__card-hidden-price span {
  font-size: 16px;
  line-height: 18px;
  margin-left: 5px;
}

.product__card-hidden-weight {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.product__card-hidden .product__card-order__btn {
  margin-top: 19px;
}

.product__card:hover::before {
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  will-change: box-shadow;
  z-index: 3;
}

.product__card:hover .product__card-thumb,
.product__card:hover .product__card-title {
  cursor: pointer;
}

.product__card.active .product__card-thumb,
.product__card.active .product__card-title {
  z-index: 7;
}

.category .product__card:hover {
  cursor: pointer;
}

.category .product__card:hover::before {
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  will-change: box-shadow;
  z-index: 3;
}

.category .product__card:hover .product__card-holder {
  overflow: visible;
  z-index: 7;
}

.category .product__card:hover .product__card-hidden {
  will-change: box-shadow;
  -webkit-box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

.category .product__card:hover .product__card-order__btn {
  margin-left: -6px;
  margin-right: -6px;
  text-align: center;
}

.category .product__card:hover .product__card-order__btn .btn {
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 190px;
  width: 100%;
}

.category .product__card.active .product__card-title {
  z-index: 8;
}

.category .product__card-footer .product__card-order__btn {
  display: none;
}

.subscribe {
  background-color: #EAF8F2;
  padding: 35px 0;
}

.subscribe-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promo {
  padding: 50px 0;
}

.promo [class^="col-"], .promo [class*=" col-"] {
  padding: 0 10px;
}

.promo .promo-banner__header {
  background-color: #24AB70;
  padding: 16px 0;
  text-align: center;
}

.promo .promo-banner__title {
  color: #FFFFFF;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.category-header {
  padding: 57px 0;
}

@media (max-width: 1330px) {
  .category-header {
    padding: 27px 0;
  }
}

.category-tab__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.category-btn__wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 225px;
  flex: 0 0 225px;
  max-width: 225px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 43px 0;
  margin: 20px 20px;
  border-radius: 50%;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-color: #FFFFFF;
  background-size: cover;
}

.category-btn__wrapper.active {
  opacity: 1;
}

.category-btn__wrapper.active .btn {
  color: #24AB70;
}

.category-btn__wrapper:hover {
  opacity: 1;
}

.category-btn__wrapper:hover .btn {
  color: #24AB70;
}

@media (max-width: 1330px) {
  .category-btn__wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 180px;
    flex: 0 0 180px;
    max-width: 180px;
    padding: 20px 0;
  }
}

@media (max-width: 1100px) {
  .category-btn__wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 140px;
    flex: 0 0 140px;
    max-width: 140px;
  }
}

.greenRedFood-modal .modal-content {
  border-radius: 0;
  border: none;
}

.greenRedFood-modal .modal-header,
.greenRedFood-modal .modal-footer {
  border: none;
  border-radius: 0;
}

.modal-backdrop {
  background-color: #191E28;
}

.order-complete-modal .modal-dialog {
  max-width: 560px;
  margin-top: 260px;
}

.order-complete-modal .modal-content {
  background-color: #EAF8F2;
  padding: 60px 25px 50px;
}

.order-complete-modal .modal-title {
  margin-bottom: 54px;
}

.order-complete-modal .btn {
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
}

.authorization-modal .modal-dialog {
  max-width: 560px;
  margin-top: 260px;
}

.authorization-modal .modal-content {
  background: #EAF8F2;
}

.authorization-modal .modal-header {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 40px 2.5rem 32px;
}

.authorization-modal .modal-body {
  padding: 0 2.5rem 2.5rem;
  line-height: 18px;
}

.authorization-modal .modal-footer {
  background-color: #FFFFFF;
  padding: 27px 2.5rem 32px;
}

.authorization-modal .modal-title {
  font-size: 18px;
  line-height: 18px;
}

.authorization-modal .modal-socials {
  margin-top: 27px;
}

.authorization-modal .modal-socials .btn {
  margin: 0 20px;
  width: 60px;
  height: 60px;
}

.authorization-modal .modal-socials .btn i {
  font-size: 30px;
}

.authorization-modal .btn-close {
  position: absolute;
  right: 22px;
  top: 20px;
  margin: 0;
  background: none;
  color: #191E28;
  opacity: 1;
  font-size: 20px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.authorization-modal .btn-close:hover {
  color: #24AB70;
}

@media (min-width: 576px) {
  .product-modal .modal-dialog {
    max-width: 840px;
  }
}

.product-modal__thumb {
  width: 100%;
  position: relative;
  display: block;
}

.product-modal__thumb::before {
  content: "";
  display: block;
  padding-top: 33%;
  padding-bottom: 33%;
}

.product-modal__thumb img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 570px;
  max-height: 360px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.product-modal__description {
  margin-bottom: 26px;
}

.product-modal__description p {
  margin-top: 18px;
  margin-bottom: 12px;
}

.product-modal__description {
  padding-left: calc(40px - calc(var(--bs-gutter-x) / 2));
  padding-right: calc(30px - calc(var(--bs-gutter-x) / 2));
}

.product-modal__consist {
  padding-left: calc(15px - calc(var(--bs-gutter-x) / 2));
  padding-right: calc(20px - calc(var(--bs-gutter-x) / 2));
}

.product-modal .product-consist__item {
  margin-bottom: 29px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  padding: 0 10px;
}

.product-modal .product-consist__item img {
  max-width: 80px;
  max-height: 60px;
  height: 60px;
  margin-bottom: 10px;
  -o-object-fit: contain;
  object-fit: contain;
}

.product-modal .product-consist__item .text-black {
  color: #000000;
  font-weight: bolder;
  letter-spacing: 0.05em;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.order-info {
  background-color: #24AB70;
  height: 100%;
  position: relative;
  margin-left: -calc(var(--bs-gutter-x) / 2);
  margin-right: -calc(var(--bs-gutter-x) / 2);
  padding-top: 90px;
}

.order-info .btn-close {
  position: absolute;
  right: 30px;
  top: 30px;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.3332 2.54666L17.4532 0.666664L9.99984 8.12L2.5465 0.666664L0.666504 2.54666L8.11984 10L0.666504 17.4533L2.5465 19.3333L9.99984 11.88L17.4532 19.3333L19.3332 17.4533L11.8798 10L19.3332 2.54666Z' fill='white'/%3E%3C/svg%3E%0A");
  opacity: 1;
  background-size: 100%;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  width: .6em;
  height: .6em;
}

.order-info__wrapper {
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.order-info__recommend {
  padding: 0 21px;
}

.order-info__quant {
  margin-bottom: 35px;
}

.order-info__btn {
  margin-top: 35px;
}

.recommend-item {
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 0 18px 18px;
}

.recommend-item img {
  width: 65px;
  height: 65px;
  -o-object-fit: contain;
  object-fit: contain;
}

.recommend-item__info {
  padding: 10px 0 10px;
  padding-left: 5px;
  margin-left: -18px;
}

.profile__header {
  background-color: #EAF8F2;
  padding: 50px 0 60px;
}

.profile__title {
  margin-bottom: 44px;
}

.profile__tabs-nav {
  border: none;
}

.profile__tabs-nav .btn {
  margin: 0 10px;
  min-width: 240px;
}

.profile__tabs-nav .btn.active {
  background-color: #191E28;
  color: #FFFFFF;
}

.profile__container {
  max-width: 740px;
}

.profile-content {
  padding: 80px 0 70px;
}

.profile-data {
  margin-left: -10px;
  margin-right: -10px;
}

.profile-data__inner {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  padding: 0 10px;
  max-width: 210px;
}

.profile-data__inner:nth-child(even) {
  padding-left: 20px;
}

.profile-data__inner:last-of-type {
  margin-bottom: 80px;
}

.profile-data__label {
  margin-bottom: 12px;
  word-wrap: break-word;
}

.profile-data__info {
  margin-bottom: 32px;
  word-wrap: break-word;
}

.profile .personal-info__title {
  margin-bottom: 32px;
}

.profile .personal-info__avatar {
  width: 130px;
  height: 130px;
  margin: 0 auto 30px;
  position: relative;
}

.profile .personal-info__avatar .info-avatar__logged {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35px;
  height: 35px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 35px;
}

.profile .personal-info__avatar img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.profile .personal-info__name {
  text-align: center;
}

/** Order history */
.order-history-tab-header {
  margin-bottom: 32px;
}

.order-history-tab-footer {
  background-color: #24AB70;
  padding: 25px 40px 19px;
}

.order-history-tab-footer .cart-footer-price {
  font-size: 24px;
  line-height: 36px;
}

.order-history-tab-footer .cart-footer-price span {
  font-size: 24px;
  line-height: 36px;
}

.order-history-tab-footer .btn {
  height: 50px;
  padding-left: 24px;
  padding-right: 24px;
}

.order-history-btn {
  text-align: left;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-bottom: 24px;
  margin-top: 8px;
  line-height: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.order-history-btn::before {
  content: '';
  position: absolute;
  left: 8px;
  bottom: 6px;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  -webkit-transform: translateX(-8px);
  transform: translateX(-8px);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 0;
  visibility: hidden;
}

.order-history-btn:hover {
  color: #24AB70;
}

.order-history-btn.active {
  padding-left: 20px;
  position: relative;
}

.order-history-btn.active::before {
  background-color: #24AB70;
  opacity: 1;
  visibility: visible;
}

.order-history .nav-tabs {
  border: none;
  margin-right: 42px;
}

.order-history .cart-item__info {
  margin-right: 0;
  padding: 0;
}

.order-history .cart-item__thumb {
  margin-right: 40px;
}

.order-history .tab-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 700px;
  flex: 0 0 700px;
}

.order-history .tab-content .fade {
  -webkit-transform: translateX(40px);
  transform: translateX(40px);
  -webkit-transition: .2s;
  transition: .2s;
}

.order-history .tab-content .show {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.cart-header {
  padding: 42px 15px;
}

.cart-container {
  max-width: calc(940px + var(--bs-gutter-x, 1.5rem));
}

.cart-body {
  padding: 40px 0;
  background-color: #EAF8F2;
}

.cart-item {
  background-color: #FFFFFF;
  margin-bottom: 30px;
}

.cart-item:last-of-type {
  margin-bottom: 0;
}

.cart-item__thumb {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 220px;
  flex: 0 0 220px;
  margin-right: 20px;
  padding: 10px 10px 10px 10px;
}

.cart-item__info {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 340px;
  flex: 0 0 340px;
  margin-right: 30px;
}

.cart-item__meta {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 230px;
  flex: 0 0 230px;
  max-width: 230px;
  background-color: #24AB70;
  padding: 30px 30px 24px;
}

.cart-item__meta .order-info__quant {
  margin-bottom: 30px;
}

.cart-item__info {
  padding: 30px 0 25px;
}

.cart-item__name {
  margin-bottom: 20px;
  color: #191E28;
  text-decoration: none;
  letter-spacing: normal;
  text-transform: capitalize;
}

.cart-item__descr {
  margin-bottom: 23px;
}

.cart-item__remove {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cart-item__remove .btn {
  width: 50px;
  height: 50px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cart-footer {
  padding: 15px 0;
  background-color: #24AB70;
  position: fixed;
  width: 100%;
  z-index: 99;
  bottom: 0;
}

.cart-full-price {
  margin-left: 10px;
}

.cart-full-price span {
  margin-left: 5px;
}

.error-page {
  padding-top: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
}

.error-page .container {
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.error-page .container,
.error-page .row,
.error-page .col-12 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.error-page__header {
  margin-bottom: 37px;
}

.error-page__message {
  font-size: 32px;
  line-height: 36px;
}

.error-page__404 {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.error-page__404 h1 {
  font-size: 20rem;
  line-height: .2;
  margin-bottom: 0;
  font-weight: 900;
  color: #EAF8F2;
  opacity: .75;
}

@media (min-height: 1200px) and (min-width: 1440px) {
  .error-page__404 h1 {
    font-size: 560px;
  }
}

@media (max-width: 991px) {
  .error-page__404 h1 {
    font-size: 10rem;
  }
}

.site-header {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

.site-footer {
  padding: 115px 0;
  position: relative;
  margin-top: auto;
}

.site-footer ul {
  list-style: none;
  padding: 0;
  margin-left: 0;
}

.site-footer__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
  display: block;
  -webkit-transition: color .25s;
  transition: color .25s;
}

.site-footer__link:hover {
  color: #24AB70;
}

.site-footer__nav {
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.site-footer__actions {
  margin-top: -10px;
}

.site-footer__actions a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 210px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.site-footer__actions a span {
  color: #191E28;
  -webkit-transition: color .25s;
  transition: color .25s;
  margin-left: 15px;
  font-weight: 500;
}

.site-footer__actions a i {
  font-size: 18px;
  -webkit-transition: color .25s;
  transition: color .25s;
}

.site-footer__actions a:hover span {
  color: #24AB70;
}

.site-footer__actions a:hover i {
  color: #24AB70;
  opacity: 1;
}
