// Base form style form
// To connect/disconnect styles for exact form element look //? base/forms/forms.scss
@import "base/forms/forms";

// Popup styles
// @import "base/popup";

// Spoiler styles
// @import "base/spollers";

// Tabs styles
// @import "base/tabs";

// Map styles
// @import "base/maps";

// Show more block styles
// @import "base/showmore";

// Sticky block styles
// @import "base/sticky";

// Fullscreen block styles
@import "base/fullscreen";

// Fullscreen scroll styles
// Styles for fullpage scroll
@import "base/fullpage";

// Ripple effect styles
// Styles for ripple effect
// @import "base/ripple";

// Custom cursor styles
// Styles for custom cursor
// @import "base/cursor";

// Fluid img styles
// Сніппет (HTML): ibg (div with img and classes)
// Сніппет (HTML): ibga (link with img and classes)
[class*="-ibg"] {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
[class*="-ibg_contain"] {
  img {
    object-fit: contain;
  }
}

// @extend %ім'я шаблону;
// Snippet (SCSS): ex

// Counter for list
%listCounter {
  list-style-type: none;
  counter-reset: item;
  li {
    position: relative;
    &:before {
      counter-increment: item;
      content: counter(item);
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}
// Adaptive video
%responsiveVideo {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
  video,
  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
// Video as background
%videoBackground {
  video,
  iframe,
  object,
  embed {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}
// Gray filter
%grayfilter {
  transition: all 0.3s ease 0s;
  filter: grayscale(1);
  @media (any-hover: hover) {
    &:hover {
      filter: grayscale(0);
    }
  }
}
// No selelect
%noselect {
  user-select: none;
}
// Mirror
%mirror {
  transform: scale(-1, 1);
}
// Smooth scroll
%smoothscroll {
  -webkit-overflow-scrolling: touch;
}
// Hide scrollbar
%hidescroll {
  &::-webkit-scrollbar {
    display: none;
  }
}
