.section {
  padding-top: 110px;
  position: relative;
  &:last-of-type {
    padding-bottom: 110px;
  }
  .section-caption {
    max-width: 830px;
    margin: 0 auto;
  }
  @media (max-width: 1024px) {
    padding-top: 60px;
    &:last-of-type {
      padding-bottom: 60px;
    }
  }
}

.form-wrapper {
  max-width: 830px;
  margin: 0 auto;
}

.form-group {
  position: relative;
  &:last-of-type {
    margin-bottom: rem(0);
  }
  ._form-error {
    span {
      color: red;
    }
  }
  .form__error {
    position: absolute;
    bottom: -15px;
    color: red;
    font-size: rem(12);
  }
}

[data-watch] {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
  &._watcher-view {
    opacity: 1;
    transform: translateY(0);
  }
}
