.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: calc(
    100vh - env(safe-area-inset-bottom, 0) - env(safe-area-inset-top, 0)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $clr-white;
  z-index: 151;
  transition: 0.5s ease-in-out;
  @supports (-webkit-touch-callout: none) {
    min-height: -webkit-fill-available;
  }
  .preloader-logo {
    width: rem(200);
    height: rem(120);
    display: block;
    max-width: 100%;
  }
}
