// Font Import
// --------------------------------------------------
@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Geometria';
	src: url('../fonts/Geometria-ExtraBold.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}
