//
// Icon Font
// --------------------------------------------------

@font-face {
  font-family: 'greenredfood';
  src:
    url('../fonts/greenredfood.ttf?939spb') format('truetype'),
    url('../fonts/greenredfood.woff?939spb') format('woff'),
    url('../fonts/greenredfood.svg?939spb#greenredfood') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="grf-"], [class*=" grf-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'greenredfood' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grf-arrow-l:before {
  content: "\e900";
}
.grf-arrow-r:before {
  content: "\e901";
}
.grf-close:before {
  content: "\e902";
}
.grf-facebook:before {
  content: "\e903";
}
.grf-google:before {
  content: "\e904";
}
.grf-instagram:before {
  content: "\e905";
}
.grf-login:before {
  content: "\e906";
}
.grf-minus:before {
  content: "\e907";
}
.grf-phone:before {
  content: "\e908";
}
.grf-plus:before {
  content: "\e909";
}
.grf-search:before {
  content: "\e90a";
}
.grf-up:before {
  content: "\e90b";
}
