/**
 Hover styling for all devices and browsers
 */
 @mixin hover() {
	@media (hover: none) {
			-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
			&:active {
				@content;
			}
	}

	@media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
			&:hover {
				@content;
			}
	}
}

/* Opacity visibility mixin */

@mixin visibility-none {
opacity: 0;
visibility: hidden;
}

@mixin visibility-visible {
opacity: 1;
visibility: visible;
}

@mixin dropdown-appear {
@include visibility-visible;
transform: translateY(0) translateX(-50%);
}

