//
// Scaffolding
// --------------------------------------------------
html * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: -webkit-fill-available;
}

body {
  background-color: #fff;
  font-family: $font-family-helvetica;
  font-weight: 400;
  line-height: 1;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-wrapper {
  flex: 1;
  padding-top: 108px;
  @media (max-width: 991px) {
    padding-top: 56px;
  }
}

img { width: 100%;}

svg { display: block;}

.overflow-hidden {
  position:relative;
  overflow:hidden;
  touch-action: none;
  -ms-touch-action: none;
  .main-wrapper {
    overflow: hidden;
  }
}

@media (max-width: 1309px) {
  .container {
    max-width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.main-wrapper {
  overflow-x: hidden;
}

.site-backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s ease;
  cursor: pointer;
  &.active {
    opacity: .6;
    visibility: visible;
    transition: opacity .35s ease;
    background: rgba(169, 169, 169, 0.7);
    z-index: 98;
  }
}


.backdrop {
  .site-backdrop {
    opacity: .6;
    visibility: visible;
    transition: opacity .35s ease;
    background: rgba(169, 169, 169, 0.7);
    z-index: 98;
  }
}


