//
// Utilities
// --------------------------------------------------

.helvetica-family { font-family: $font-family-helvetica;}
.proba-family { font-family: $font-family-proba;}

.text-thin { font-weight: 300;}
.text-normal { font-weight: 500;}
.text-semi-bold { font-weight: 600;}
.text-bold { font-weight: bold;}

.text-dark { color: $black-clr;}
.text-accent{ color: $accent-clr; }

.text-sm {
  font-weight: 300;
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: -0.4px;
}

.text-lead {
  font-size: 53px;
  font-weight: 500;
  line-height: 1.1;
}
.text-lg { font-size: 24px;}
.text-36 { font-size: 36px !important; }

@media (max-width: $tablet-port) {
  .mobile-mt-0 { margin-top: 0 !important;}
}

.bg-grey {
  background-color: $grey-light-clr;
}

.bg-black {
  background-color: $black-clr;
}

.bg-beige {
  background-color: $beige-clr;
}

.text-grey {
  color: $grey-lighter-clr;
}


.text-crop {
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.pt-38 {
  padding-top: 38px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}