//
// Variables
// --------------------------------------------------

//== Colors
// --------------------------------------------------

$beige:              		#eee7db;
$black-text:            #333333;
$white:    					 		#FFFFFF;
$brown:              		#221f20;
$brown-beige:				 		#b89c68;
$brown-beige-secondary: #9e8453;
$beige-orange: 					#dfc6b2;

$gray-super-light:   #f7f6f6;
$gray-lighter:       #8f9093;
$gray-light:         #5f6975;
$gray:               #0a3039;
$green: 						 #2A495B;
$gray-dark:          #818284;
$gray-darker:        #6D6E70;
$btn-border:         #968a8e;
$slider-line:        #b89c68;
$brick: 						 #dfc6b2;
$black: 						 #221f20;



$primary-red:        #EC1A22;
$body-color:         #f7f6f6;


//== Font Family
// --------------------------------------------------

$font-family-silk: 'Silk Serif';
$font-family-basis: 'Basis Grotesque';

//== Media queries (responsive breakpoints)
// -------------------------------------------------------

$desktop:   		   '1200px';
$tablet-land:      '1024px';
$tablet-port:    	 '767px';
$mobile-land:		 	 '479px';
$mobile-port:		 	 '364px';
$menu-collapse: 	 $tablet-land;
