@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-Bold.woff2") format("woff2"),
    url("../fonts/Exo2-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-Regular.woff2") format("woff2"),
    url("../fonts/Exo2-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Exo2;
  font-display: swap;
  src: url("../fonts/Exo2-SemiBold.woff2") format("woff2"),
    url("../fonts/Exo2-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: greenFuz;
  font-display: swap;
  src: url("../fonts/green-fuz.woff2") format("woff2"),
    url("../fonts/green-fuz.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
