.admin-products__item {
	@media (min-width: 768px) {
		grid-template-columns: 73px 1fr 70px 70px 230px;
		grid-template-areas: 'product-image product-name product-price-one product-price-two product-action'
													'product-image product-about product-price-one product-price-two product-action';
	}
	background-color: $white-clr;
	margin-bottom: 8px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
	border: 1px solid $grey-superlight-clr;

	display: grid;
	column-gap: 1rem;
	align-items: center;
	grid-template-columns: 64px 1fr 1fr;
	grid-template-areas: 'product-name product-name product-name'
												'product-image product-about product-price-one'
												'product-image product-about product-price-two'
												'product-action product-action product-action';
	.admin-products__item-img {
		grid-area: product-image;
		width: 73px;
		height: 73px;
		background-color: $white-clr;
		position: relative;
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
		margin: 3px;
		a {
			display: block;
		}
		img {
			width: 100%;
			height: 100%;
			display: block;
		}
		@include hover {
			.admin-products__item-tooltip {
				opacity: 1;
				visibility: visible;
			}
		}
		.admin-products__item-tooltip {
			position: absolute;
			top: 22px;
			left: calc(100% + 10px);
			width: 250px;
			height: 250px;
			background-color: $white-clr;
			box-shadow: 3px 6px 3px rgba(0, 0, 0, 0.06);
			border: 1px solid #DADADA;
			opacity: 0;
			visibility: hidden;
			pointer-events: none;
			transition: .25s;
			z-index: 2;
		}
	}
	.admin-products__item-about {
		grid-area: product-about;
		display: grid;
		grid-template-columns: 1fr;
		padding-bottom: 10px;
		> * {
			font-size: 14px;
			line-height: 1;
		}
	}
	.admin-products__item-info {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 10px;
	}
	.admin-products__item-name {
		grid-area: product-name;
		max-width: 310px;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: .5rem;
		text-decoration: none;
		color: $black-clr;
		transition: color .25s;
		padding: 10px 0 0;
		@include hover {
			color: $accent-clr;
		}
	}
	.admin-products__item-price {
		font-size: 18px;
		line-height: 1;
		text-align: left;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		word-wrap: break-word;
		word-break: break-all;
		max-width: 70px;
		label {
			font-family: $font-family-helvetica;
			font-size: 14px;
			line-height: 1;
			display: none;
		}
		&.retail-price {
			grid-area: product-price-one;
			label {
				text-transform: uppercase;
			}
		}
		&.your-price {
			grid-area: product-price-two;
		}
	}
	.admin-products__item-actions {
		grid-area: product-action;
		display: flex;
		padding-right: 1rem;
		align-items: center;
	}
	.admin-products__cart-btn {
		text-decoration: none;
		background-color: transparent;
		display: inline-flex;
		align-items: center;
		column-gap: 15px;
		padding: 10px 16px 10px 12px;
		border-radius: 4px;
		border: none;
		transition: background-color .25s;
		margin-left: auto;
		cursor: pointer;
		outline: none !important;
		&.is-hidden {
			display: none;
		}
		i {
			color: $grey-lighter-clr;
			transition: color .25s;
		}
		@include hover {
			background-color: #EBFFFC;
			i {
				color: $accent-clr;
			}
		}
	}
	.admin-products__item-brand {
		a {
			transition: color .25s;
		}
		@include hover {
			a {
				color: $black-clr;
				text-decoration: none;
			}
		}
	}
	.admin-products__item-availability {
		display: inline-flex;
		align-items: center;
		i {
			margin-right: 10px;
		}
		&.available {
			i {
				color: $accent-clr;
			}
		}
		&.order {
			i {
				color: #F9A800;
				font-size: 22px;
			}
		}
		&.not-available {
			color: $grey-lighter-clr;
		}
	}
}

@media (max-width: 768px) {
	.admin-products__item {
		padding: 20px 16px 0;
		.admin-products__item-name {
			max-width: 100%;
			padding: 0;
			margin-bottom: 15px;
		}
		.admin-products__item-price {
			text-align: right;
			max-width: 100%;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-start;
			label {
				display: block;
			}
		}
		.admin-products__item-about {
			padding-bottom: 0;
		}
		.admin-products__item-info {
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
		.admin-products__item-info > * {
			line-height: 18px;
		}
		.admin-products__item-actions {
			padding: 14px 0 18px;
			position: relative;
			justify-content: flex-start;
			margin-top: 18px;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: -1rem;
				width: calc(100% + 2rem);
				height: 1px;
				background: $grey-superlight-clr;
			}
		}
		.admin-products__cart-btn {
			margin: 0 auto;
		}
	}
}