.article-item {
	overflow: hidden;
	.article-item__header {
		.catalog-title {
			margin-bottom: 30px;
		}
	}
	.article-item__container {
		padding: 0 11px;
		margin: -42px auto 0;
		max-width: 960px;
	}
	.article-item__time {
		display: flex;
		column-gap: 36px;
	}
	.news-item__date {
		margin-bottom: 1rem;
	}
	.article-item__clock {
		display: flex;
		align-items: center;
		color: #000;
		opacity: 0.7;
		margin-bottom: 1rem;
		i {
			color: $grey-lighter-clr;
		}
	}
	.article-item__actions {
		display: flex;
		column-gap: 40px;
		row-gap: .8rem;
		flex-wrap: wrap;
		i {
			color: $accent-clr;
		}
		.news-btn {
			font-weight: 400;
			letter-spacing: normal;
		}
	}
	.news-item__tags {
		display: flex;
		flex-wrap: wrap;
		row-gap: 8px;
		column-gap: 8px;
	}
	.article-big-img {
		position: relative;
		margin-top: 60px;
		margin-bottom: 70px;
		padding-bottom: 68.9%;
		img {
			position: absolute;
			top: 0;
			right: 50%;
			transform: translateX(50%);
			height: 100%;
			width: 1440px;
			object-fit: cover;
		}
	}
	.article-body {
		padding-top: 63px;
		p {
			margin-bottom: 30px;
			font-size: 18px;
			line-height: 27px;
			color: $black-clr;
		}
	}
	.article-double-img {
		column-gap: 49px;
		@media (max-width: 767px) {
			figure {
				width: 100%;
			}
		}
	}
	figure {
		margin-bottom: 42px;
	}
	figcaption {
		margin-top: 15px;
		font-size: 14px;
		color: #000000;
		opacity: 0.7;
	}
	.article-pagination {
		padding-top: 50px;
		.pagination-inner {
			column-gap: 15px;
		}
		.pagination-btn {
			flex: 0 0 40px;
		}
	}
	.pagination-prev,
	.pagination-next {
		display: flex;
		align-items: center;
		column-gap: 24px;
	}
	.pagination-next {
		flex-direction: row-reverse;
		.article-pagination__name {
			text-align: right;
		}
	}
	@media (max-width: 575px) {
		.pagination-next,
		.pagination-prev {
			flex-direction: column;
		}
		.pagination-prev {
			align-items: flex-start;
		}
		.pagination-next {
			align-items: flex-end;
		}
		.article-pagination {
			.pagination-btn {
				margin-bottom: 15px;
			}
		}
	}
	.article-pagination__name {
		font-size: 18px;
		line-height: 24px;
		color: $black-clr;
		max-width: 276px;
		text-decoration: none;
		transition: .25s;
		@media (max-width: 767px) {
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
			overflow: hidden;
			-ms-line-clamp: 1;
			-webkit-line-clamp: 1;
			line-clamp: 1;
			display: -webkit-box;
			word-wrap: break-word;
			-webkit-box-orient: vertical;
			box-orient: vertical;
		}
		@include hover {
			color: $accent-clr;
		}
	}
	@media (max-width: 1240px) {
		.article-item__container {
			margin-top: 25px;
		}
	}
	@media (max-width: 767px) {
		.article-body {
			padding-top: 35px;
		}
		.article-item__back {
			margin-top: 15px;
		}
	}
}