.brands-item {
	display: block;
	max-width: 301px;
	margin: 0 auto;
	&.brands-item__no-hover {
		position: sticky;
		top: 112px;
		@include hover {
			text-decoration: none;
			.brands-item__thumb {
				border-color: transparent;
				box-shadow: none;
			}
		}
		@media (max-width: 991px) {
			top: 56px;
		}
	}
	.brands-item__thumb {
		background-color: $white-clr;
		padding: 50px 42px;
		border-radius: 4px;
		border: 1px solid transparent;
		transition: .25s;
		img {
			width: auto;
			object-fit: contain;
			max-width: 100%;
			margin: 0 auto;
			display: block;
		}
	}
	@include hover {
		text-decoration: none;
		.brands-item__thumb {
			border-color: $grey-superlight-clr;
			box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
		}
		.brands-item__name {
			color: $accent-clr;
		}
	}
	.brands-item__name {
		font-size: 18px;
		line-height: 27px;
		padding-top: 1rem;
		color: $black-clr;
		transition: .25s;
	}
}

@media (max-width: 767px) {
	.brands-item {
		max-width: 100%;
	}
}

@media (max-width: 480px) {
	.brands-item {
		.brands-item__thumb {
			padding: 35px;
		}
		.brands-item__name {
			padding-top: .5rem;
		}
	}
}

.single-brand-descr {
	font-size: 1rem;
	line-height: 24px;
	background-color: $white-clr;
	padding: 26px 32px;
	border-radius: 4px;
	.single-brand-descr__list {
		list-style: none;
		padding-left: 0;
	}
	.single-brand-descr__list-item {
		font-size: 1rem;
		line-height: 24px;
	}
}

.brands-products {
	background-color: $grey-light-clr;
	padding-top: 27px;
}

.brand-product {
	text-decoration: none;
	color: $black-clr;
	transition: .25s;
	overflow: hidden;
	@include hover {
		color: $accent-clr;
		text-decoration: none;
		.product-tile__img {
			transform: scale(1.05);
		}
	}
	.product-tile__img {
		transition: .25s;
	}
	.brand-product__thumb {
		margin-bottom: 1rem;
	}
}