.breadcrumbs {
	list-style: none;
	margin: 0;
	display: flex;
	padding: 24px 0;
	white-space: nowrap;
	overflow: auto;
	.breadcrumbs-item {
		color: $black-clr;
		display: flex;
		align-items: center;
		padding-right: 18px;
		padding-left: 15px;
		position: relative;
		font-size: 14px;
		line-height: 27px;
		&:first-of-type {
			padding-left: 0;
		}
		&:last-of-type {
			color: #c4c4c4;
			&::after {
				display: none;
			}
		}
		&::after {
			content: '\e900';
			font-family: 'icomoon';
			position: absolute;
			right: 0;
			top: 0;
			width: 5px;
			height: 8px;
			font-size: 8px;
			color: #c4c4c4;
		}
		a {
			font-size: 14px;
			line-height: 27px;
			display: block;
			color: $black-clr;
			text-decoration: none;
			transition: .25s;
			@include hover {
				color: $accent-clr;
			}
		}
	}
	@media (max-width: 767px) {
		padding: 8px 0 7px;
	}
}