.btn {
	border-radius: 25px;
	position: relative;
	padding: 17px 20px 15px;
	font-size: 16px;
	line-height: 18px;
	position: relative;
	transition: all $transition;
	-webkit-appearance: none;
	text-decoration: none;
	color: $black;
	@media (max-width: 767.98px) {
		padding: 15px 20px 13px;
	}
	span {
		transition: opacity $transition;
	}
	&:focus {
		box-shadow: 0 0 0 .25rem rgba(0, 0, 0, 0);
	}
	&-white {
		background-color: $white;
		&:hover {
			span {
				opacity: 0.5;
			}
		}
	}
	&-icon {
		border-radius: 50px;
		padding: 13px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		i {
			font-size: 22px;
			transition: opacity $transition;
		}
		&:hover {
			i {
				opacity: 0.5;
			}
		}
	}
	&-has-dropdown {
		box-shadow: 0px 30px 60px rgba(0, 0, 0, 0);
		transition: box-shadow $transition, border-radius $transition;
		.btn-dropdown {
			position: absolute;
			background-color: $white;
			width: 100%;
			top: 100%;
			left: 0;
			border-bottom-left-radius: 25px;
			border-bottom-right-radius: 25px;
			padding-left: 20px;
			padding-right: 20px;
			transform: translateY(-20px);
			opacity: 0;
			visibility: hidden;
			transition: all $transition, opacity .15s;
			border: 1px solid transparent;
			z-index: 1;
		}
		&:hover {
			.btn-dropdown {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
	}
	&-tobar__phone {
		padding-right: 56px;
		display: flex;
		align-items: center;
		border: none;
		a {
			display: block;
			text-align: left;
			color: $black;
			text-decoration: none;
			transition: color $transition;
		}
		.topbar__phone-dropdown {
			a {
				margin-bottom: 17px;
			}
		}
		i {
			position: absolute;
			right: 20px;
			transform: rotate(180deg);
			transition: transform $transition;
		}
		&:hover {
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
			box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
			a {
				&:hover {
					color: $green-accent;
				}
			}
			i {
				transform: rotate(0);
			}
		}
	}
	&-login {
		a {
			display: block;
			text-align: left;
			margin-bottom: 20px;
			text-decoration: none;
			color: $black;
			transition: color $transition;
			&:hover {
				color: $green-accent !important;
			}
		}
		.btn-dropdown {
			padding-top: 20px;
			top: -1px;
			left: -1px;
			min-width: 210px;
			border-radius: 25px;
			box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
		}
	}
	&-topbar__cart {
		padding-left: 80px;
		padding-right: 44px;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.05em;
		border: none;
		span {
			transition: opacity $transition;
			&:first-of-type {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				border: 2px solid $green-accent;
				position: absolute;
				left: 0;
				top: 0;
				width: 50px;
				height: 100%;
				border-radius: 50px;
				font-weight: bold;
			}
		}
		&:hover {
			span {
				&:last-of-type {
					opacity: .5;
				}
			}
		}
		@media (max-width: 991.98px) {
			padding: 0;
			width: 50px;
			height: 50px;
			background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' viewBox='0 0 20 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 0C11.5913 0 13.1174 0.632141 14.2426 1.75736C15.3679 2.88258 16 4.4087 16 6V7H20V9H18.833L18.076 18.083C18.0552 18.3329 17.9413 18.5658 17.7568 18.7357C17.5723 18.9055 17.3308 18.9999 17.08 19H2.92C2.66925 18.9999 2.4277 18.9055 2.24322 18.7357C2.05875 18.5658 1.94481 18.3329 1.924 18.083L1.166 9H0V7H4V6C4 4.4087 4.63214 2.88258 5.75736 1.75736C6.88258 0.632141 8.4087 0 10 0ZM16.826 9H3.173L3.84 17H16.159L16.826 9ZM11 11V15H9V11H11ZM7 11V15H5V11H7ZM15 11V15H13V11H15ZM10 2C8.97376 2 7.98677 2.39444 7.24319 3.10172C6.4996 3.80901 6.05631 4.77504 6.005 5.8L6 6V7H14V6C14 4.97376 13.6056 3.98677 12.8983 3.24319C12.191 2.4996 11.225 2.05631 10.2 2.005L10 2Z' fill='black'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: center center;
			span {
				display: none;
				&:first-of-type {
					display: none;
				}
			}
		}
	}
	&-border {
		border: 2px solid transparent;
		border-radius: 50px;
	}
	&-solid {
		background-color: $green-accent;
		border-color: $green-accent !important;
		color: #fff;
		&:hover {
			background-color: lighten($green-accent, 10%) !important;
			border-color: lighten($green-accent, 10%) !important;
			color: $white;
		}
	}
	&-green {
		border-color: $green-accent;
		color: $green-accent;
		text-transform: uppercase;
		font-weight: bold;
		letter-spacing: 0.05em;
		&:hover,
		&.active {
			background-color: $green-accent;
			color: $white;
		}
	}
	&-turq {
		background-color: $turquoise;
		&:hover {
			background-color: darken($turquoise, 5%);
		}
	}
	&-grey {
		background-color: $gray-light;
		&:hover {
			background-color: darken($gray-light, 10%);
		}
	}
	&-black-border {
		border-color: $black;
		&:hover {
			background-color: $black;
			color: $white;
		}
		&.active {
			background-color: $black;
			color: $white;
		}
	}
	&-link {
		&:hover {
			color: $green-accent;
		}
	}
}


/** Category nav tabs button **/

.category-btn {
	color: $white;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
	border: 2px solid $white;
	border-radius: 50%;
	width: 140px;
	height: 140px;
	text-align: center;
	background-color: $black;
	transition: color $transition;
	padding: 10px;
	word-wrap: break-word;
	@media (min-width: 992px) {
		&:hover,
		&:focus,
		&:active {
			color: $green-accent;
		}
	}
	&:hover {
		color: $white;
	}
	@media (max-width: 1100px) {
		width: 100px;
		height: 100px;
		font-size: 14px;
		line-height: 1;
	}
}

@media (max-width: 991.98px) {
	#searchBtn {
		display: none;
	}
}