.cart-wrapper {
	.cart-row {
		order: 2;
	}
}

.cart-header {
	margin-bottom: 12px;
}

.cart-header__left {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 25px;
	@media (max-width: 1100px) {
		margin-bottom: 30px;
	}
	@media (max-width: 768px) {
		margin-bottom: 10px;
	}
}

.cart-header__payment {
	font-size: 18px;
	line-height: 36px;
	span {
		font-weight: bold;
	}
	@media (max-width: 768px) {
		line-height: 27px;
	}
}

.cart-delete__btn {
	border: none;
	background-color: transparent;
	font-size: 14px;
	line-height: 36px;
	color: $grey-lighter-clr;
	font-weight: bold;
	transition: .25s;
	cursor: pointer;
	@include hover {
		color: $accent-clr;
	}
}

.cart-wrapper {
	.admin-catalog__header {
		.admin-catalog__header-title {
			display: flex;
			column-gap: 55px;
		}
		.catalog-tags__filter-reset {
			opacity: 1;
			color: #DE4422;
			@include hover {
				background-color: $accent-clr-lighter;
			}
		}
		@media (max-width: 768px) {
			flex-wrap: wrap;
			align-items: flex-start;
			column-gap: 15px;
			margin-bottom: 17px;
			.admin-catalog__header-title {
				flex-direction: column;
				width: 100%;
				margin-right: 0;
			}
			.admin-catalog__header-prices {
				background-color: $white-clr;
				padding: 23px 16px;
				border-radius: 4px;
				margin-bottom: 16px;
				width: 100%;
			}
			.catalog-tags__link {
				text-align: center;
				display: flex;
				justify-content: center;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.cart {
	.admin-products__item {
		@media (min-width: 768px) {
			grid-template-columns: 73px 1fr 70px 70px 300px;
		}
		@media (max-width: 767px) {
			.admin-products__item-info {
				display: block;
			}
			.admin-products__item-img {
				width: 64px;
				height: 64px;
			}
		}
	}
	.admin-products__item-actions,
	.admin-products__item-add,
	.number-form {
		height: 100%;
		@include hover {
			background-color: $white-clr;
		}
		&.notification {
			background-color: $white-clr;
			.number-form__inner {
				background-color: #FFF4F1;
			}
			@include hover {
				background-color: $white-clr;
				.number-form__inner {
					background-color: #FFF4F1;
				}
				input {
					background-color: #FFF4F1;
				}
				.plus {
					&::before,
					&::after {
						background-color: #DE4422;
					}
				}
			}
		}
		.number-form__inner {
			display: flex;
			transition: .25s;
			@include hover {
				background-color: $accent-clr-lighter;
			}
		}
		@media (max-width: 767px) {
			height: auto;
		}
	}
	.cart-item {
		> .admin-products__item ~ .admin-products__item {
			[data-retail],
			[data-your-price],
			[data-quantity],
			[data-sum] {
				&::before {
					display: none;
				}
			}

			@media (max-width: 768px) {
				[data-retail],
				[data-your-price],
				[data-sum] {
					&::before {
						display: block;
					}
				}
			}
		}
		> .admin-products__item {
			[data-retail],
			[data-your-price],
			[data-quantity],
			[data-sum] {
				position: relative;
				&::before {
					position: absolute;
					top: -35px;
					font-size: 14px;
					line-height: 36px;
					color: $grey-lighter-clr;
					font-family: $font-family-helvetica;
					left: 50%;
					transform: translateX(-50%);
					width: 100%;
					text-align: center;
				}
			}
			[data-retail] {
				&::before {
					content: attr(data-retail);
				}
			}
			[data-your-price] {
				&::before {
					content: attr(data-your-price);
				}
			}
			[data-quantity] {
				position: relative;
				&::before {
					content: attr(data-quantity);
				}
			}
			[data-sum] {
				position: relative;
				min-width: 70px;
				justify-content: center;
				align-items: center;
				&::before {
					content: attr(data-sum);
				}
				@media (max-width: 767px) {
					min-width: auto;
				}
			}
			@media (max-width: 767px) {
				[data-quantity] {
					&::before {
						display: none;
					}
				}
				[data-retail],
				[data-your-price],
				[data-sum] {
					&::before {
						position: relative;
						line-height: 1.5;
						top: 0;
						left: 0;
						transform: translateX(0);
						text-align: right;
					}
				}
				[data-sum] {
					margin-left: auto;
					&::before {
						text-align: right;
					}
				}
			}
		}
	}

	.admin-products__item-add {
		display: flex;
		width: 100%;
		justify-content: flex-end;
		position: relative;
	}
	.accordion-card__status {
		@media (max-width: 768px) {
			position: absolute;
			left: 138px;
			top: 12px;
			transform: translateX(0) translateY(0);
		}
		&.active {
			.accordion-card__status-tooltip {
				transform: translateX(calc(-50% + 13px)) translateY(0);
			}
		}
		.accordion-card__status-tooltip {
			width: 300px;
			display: flex;
			align-items: center;
			column-gap: 15px;
			z-index: 2;
			bottom: calc(100% + 18px);
			transform: translateX(-54%) translateY(10px);
			&::before {
				left: auto;
				right: 18px;
			}
			&::after {
				left: auto;
				right: 12px;
			}
			i {
				color: $red-clr;
			}
			@media (max-width: 768px) {
				padding-top: 12px;
				padding-bottom: 12px;
				i {
					font-size: 10px;
				}
				&::before {
					left: 101px;
					right: auto;
					z-index: 3;
				}
				&::after {
					left: 109px;
					right: auto;
					z-index: 3;
				}
			}
			@media (max-width: 374px) {
				width: 250px;
				left: -25px;
			}
		}
	}
	.number-form {
		border: none;
		@media (max-width: 767px) {
			border: 1px solid $grey-superlight-clr;
		}
	}
}

.cart-card__btn {
	background-color: transparent;
	border: none;
	appearance: none;
	outline: none !important;
	box-shadow: none !important;
	cursor: pointer;
	width: 100%;
	display: block;
}

.cart-item__footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	column-gap: 35px;
	padding-top: 15px;
	.cart-item__footer-quant {
		font-size: 14px;
		line-height: 36px;
		color: $grey-lighter-clr;
		span {
			font-family: $font-family-proba;
			font-size: 18px;
			line-height: 36px;
			color: $black-clr;
			display: inline-block;
			margin-left: 7px;
		}
	}
	@media (max-width: 768px) {
		.cart-item__footer-quant {
			flex: 0 0 100%;
			display: flex;
			justify-content: space-between;
		}
	}
}

.cart-receipt {
	background-color: $white-clr;
	border: 1px solid $grey-superlight-clr;
	padding: 14px 0;
	border-radius: 4px;
	margin-top: 27px;
	position: sticky;
	bottom: 0;
	z-index: 2;
	.cart-receipt__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: 30px;
	}
	.cart-receipt__info {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		column-gap: 23px;
		row-gap: 12px;
		flex-wrap: wrap;
	}
	.cart-receipt__title {
		font-weight: bold;
		font-size: 24px;
		line-height: 36px;
	}
	.cart-receipt__count {
		color: $grey-lighter-clr;
		font-size: 18px;
		line-height: 36px;
		span {
			color: $black-clr;
			font-size: 24px;
			line-height: 36px;
			display: inline-block;
			margin-left: 7px;
		}
	}
	.cart-receipt__buy {
		.btn-accent {
			letter-spacing: normal;
			font-size: 18px;
			padding: 0 17px;
			height: 56px;
		}
	}
}

