.slick-dots {
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-bottom: 0;
	li {
		font-size: 0;
		&:last-of-type {
			button {
				margin-right: 0;
			}
		}
		button {
			border: none;
			background-color: $white-clr;
			margin-right: 20px;
			width: 30px;
			height: 10px;
			border-radius: 10px;
			outline: none !important;
			box-shadow: none !important;
			cursor: pointer;
			transition: .5s ease;
			@include hover {
				background-color: darken($white-clr, 10%);
			}
		}
		&.slick-active {
			button {
				background-color: $accent-clr;
				width: 50px;
			}
		}
	}
}

@media (max-width: 575px) {
	.slider-controls__row {
		justify-content: center;
	}
}

@media (max-width: 374px) {
	.slick-dots  {
		li {
			button {
				width: 20px;
			}
		}
		li.slick-active {
			button {
				width: 30px;
			}
		}
	}
}

.steps {
	.slick-dots {
		li:not(.slick-active) {
			button {
				background-color: $grey-darker-clr;
			}
		}
	}

}
