.greenRedFood-modal {
	.modal-content {
		border-radius: 0;
		border: none;
	}
	.modal-header,
	.modal-footer {
		border: none;
		border-radius: 0;
	}
}

.modal-backdrop {
	background-color: $black;
}

.order-complete-modal {
	.modal-dialog {
		max-width: 560px;
		margin-top: 260px;
		@media (max-width: 991.98px) {
			margin-top: 0;
		}
	}
	.modal-content {
		background-color: $turquoise;
		padding: 60px 25px 50px;
	}
	.modal-title {
		margin-bottom: 54px;
	}
	.btn {
		max-width: 240px;
		width: 100%;
		margin: 0 auto;
	}
}

#forgotModal {
	.modal-dialog {
		max-width: 430px;
	}
	.form-input {
		width: 100%;
	}
	.btn {
		max-width: 350px;
		margin: 0 auto;
		display: block;
	}
}

#forgotModal,
#callbackModal {
	.modal-content {
		background-color: $white;
	}
	.modal-header {
		padding-left: 40px;
		justify-content: flex-start !important;
		text-align: left;
	}
	p {
		font-size: 14px;
		line-height: 21px;
		margin-bottom: 30px;
		max-width: 350px;
	}
	.modail-title {
		text-align: left;
	}
}

#callbackModal {
	.modal-dialog {
		max-width: 560px;
	}
}

#callbackConfirmModal {
	.modal-content {
		background-color: $white;
	}
	.modal-title {
		font-size: 18px;
		line-height: 27px;
	}
	p {
		margin-bottom: 23px;
		font-size: 14px;
		line-height: 21px;
	}
	.modal-dialog {
		max-width: 330px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 991.98px) {

}

.add-message {
	padding: 8px 12px;
	background-color: $turquoise;
	box-shadow: 3px 13px 13px rgba(0, 0, 0, 0.07);
	border-radius: 5px;
	z-index: 109;
	position: fixed;
	top: 210px;
	left: 50%;
	transform: translateX(-50%);
	max-width: 245px;
	width: 100%;
	display: none;
	@media (max-width: 991.98px) {
		top: 87px;
	}
	p {
		color: $green-accent;
		font-size: 14px;
		line-height: 24px;
		font-weight: bold;
		margin-left: 8px;
	}
}