// Main navigation

.main-nav {
	display: flex;
	justify-content: center;
	background-color: $green-accent;
	transition: none;
	@media (max-width: 1440px) {
		justify-content: space-around;
	}
	&__link {
		position: relative;
		color: $white;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 18px;
		font-weight: bold;
		letter-spacing: 0.05em;
		padding: 22px 0 20px;
		margin: 0 42.5px;
		opacity: .8;
		transition: opacity $transition, color $transition;
		span {
			font-size: 14px;
			line-height: 31px;
			text-transform: lowercase;
			font-weight: 400;
			color: #8C8C8C;
		}
		@media (max-width: 991.98px) {
			font-size: 18px;
			line-height: 31px;
			display: flex;
			width: 80%;
			padding: 15px 0;
			&-text,
			&-mobile {
				display: flex;
				flex: 0 0 50%;
			}
			&-text {
				text-align: right;
				justify-content: flex-end;
				padding-right: 20px;
				position: relative;
			}
			&-mobile {
				padding-left: 21px;
			}
			&.active {
				color: $green-accent;
				&::before {
					display: none;
				}
				.main-nav__link-text {
					&::after {
						content: '';
						position: absolute;
						right: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 1px;
						height: 12px;
						background-color: $green-accent;
					}
				}
			}
		}
		&.active {
			opacity: 1;
			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				background-color: $white;
				width: 100%;
				height: 4px;
			}
		}
		&:hover {
			opacity: 1;
			color: $white;
		}
	}
	@media (max-width: 1200px) {
		justify-content: space-between;
		&__link {
			margin: 0 20px;
		}
	}
	@media (max-width: 991.98px) {
		flex-direction: column;
		position: fixed;
		top: 0;
		right: 0;
		width: 50%;
		height: 100%;
		justify-content: flex-start;
		align-items: center;
		z-index: 99;
		background-color: $black;
		overflow-y: auto;
		transform: translateX(100%);
		opacity: 0;
		visibility: hidden;
		transition: transform .3s cubic-bezier(0.40, 0.05, 0.55, 0.75);
		z-index: 102;
		&.active {
			transform: translateX(0);
			opacity: 1;
			visibility: visible;
		}
	}
	@media (max-width: 767.98px) {
		width: 60%;
	}
	@media (max-width: 575.98px) {
		width: 100%;
	}
}

.mobile-nav {
	position: sticky;
	top: 0;
	width: 100%;
	padding: 21px 16px 11px;
	background-color: $black;
	z-index: 1;
	&-close {
		position: absolute;
		top: 5px;
		right: 11px;
	}
	&-title {
		margin-bottom: 21px;
	}
	&-search {
		text-align: center;
		input {
			max-width: 344px;
			width: 100%;
			height: 56px;
			border-radius: 100px;
			border: none;
			outline: none !important;
			box-shadow: none !important;
			padding-left: 61px;
			padding-top: 20px;
			padding-bottom: 18px;
			background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7233 13.8365H14.7296L14.3774 13.4969C15.6101 12.0629 16.3522 10.2013 16.3522 8.1761C16.3522 3.66038 12.6918 0 8.1761 0C3.66038 0 0 3.66038 0 8.1761C0 12.6918 3.66038 16.3522 8.1761 16.3522C10.2013 16.3522 12.0629 15.6101 13.4969 14.3774L13.8365 14.7296V15.7233L20.1258 22L22 20.1258L15.7233 13.8365ZM8.1761 13.8365C5.04402 13.8365 2.51572 11.3082 2.51572 8.1761C2.51572 5.04402 5.04402 2.51572 8.1761 2.51572C11.3082 2.51572 13.8365 5.04402 13.8365 8.1761C13.8365 11.3082 11.3082 13.8365 8.1761 13.8365Z' fill='%23191E28'/%3E%3C/svg%3E%0A");
			background-repeat: no-repeat;
			background-position: 21px center;
		}
	}
}