.news-item {
	display: grid;
	grid-template-columns: 300px 1fr;
	border-radius: 4px;
	background-color: $white-clr;
	margin-bottom: 1rem;
	overflow: hidden;
	.news-item__img {
		max-width: 300px;
		position: relative;
		height: 100%;
		img {
			height: 100%;
			display: block;
			object-fit: cover;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
		}
	}
	.news-item__body {
		padding: 25px 40px 32px;
	}
	.news-item__title {
		margin-bottom: 8px;
	}
	.news-item__link {
		font-size: 18px;
		line-height: 24px;
		font-weight: bold;
		color: $black-clr;
		text-decoration: none;
		transition: .25s;
		@include hover {
			color: $accent-clr;
		}
	}
	.news-item__date {
		font-size: 14px;
		line-height: 24px;
		color: #000;
		opacity: 0.7;
		margin-bottom: 1rem;
	}
	.news-item__text {
		font-size: 14px;
		line-height: 21px;
		-ms-text-overflow: ellipsis;
		text-overflow: ellipsis;
		overflow: hidden;
		-ms-line-clamp: 2;
		-webkit-line-clamp: 2;
		line-clamp: 2;
		display: -webkit-box;
		word-wrap: break-word;
		-webkit-box-orient: vertical;
		box-orient: vertical;
	}
	.news-item__tags {
		display: flex;
		flex-wrap: wrap;
		column-gap: 8px;
		.btn {
			font-weight: 400;
			margin-bottom: 8px;
			span {
				letter-spacing: normal;
				pointer-events: all;
			}
		}
	}
	@media (max-width: 767px) {
		grid-template-columns: 200px 1fr;
		.news-item__body {
			padding: 15px 15px 7px;
		}
	}
	@media (max-width: 575px) {
		grid-template-columns: 1fr;
		.news-item__img {
			max-width: 100%;
			img {
				border-radius: 0;
			}
		}
	}
}
