.order {
	padding-top: 75px;
	padding-bottom: 75px;
	@media (max-width: 991.98px) {
		padding-top: 0;
		margin-top: -20px;
	}
	@media (max-width: 767.98px) {
		padding-bottom: 0;
	}
	.container {
		max-width: 1440px;
	}
	&-header {
		background-color: $turquoise;
		.container {
			max-width: 1440px;
		}
		&__inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 0;
		}
		&-btn {
			text-transform: uppercase;
			text-decoration: none;
			color: #000;
			font-weight: bold;
			letter-spacing: 0.05em;
			font-size: 16px;line-height: 18px;
			transition: color .25s;
			&:hover {
				color: $green-accent;
			}
			span {
				margin-left: 15px;
			}
			i {
				transform: rotate(-90deg);
				display: inline-block;
			}
		}
	}
	.profile__tabs-nav .btn {
		margin-left: 0;
		margin-right: 20px;
	}
	.tab-content {
		padding-top: 54px;
	}
	.btn.disabled {
		background-color: #DFDFDF;
		border-color: #DFDFDF !important;
		opacity: 1;
	}

	.order-register-socials {
		background-color: #FBFBFB;
		padding: 35px 40px 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 35px;
		.btn {
			background-color: #F0F0F0;
		}
		.text-md-lg {
			margin-bottom: 16px;
			margin-right: 15px;
		}
		.subscribe-socials {
			margin: 0 auto 16px;
		}
		@media (max-width: 991.98px) {
			text-align: center;
			flex-direction: column;
		}
	}
	&-accordion {
		.accordion-item {
			border-radius: 0;
			border: none;
			.form-input {
				max-width: 100%;
			}
		}
		.accordion-body,
		.accordion-button {
			padding-left: 0;
			@media (max-width: 767.98px) {
				padding-right: 0;
			}
		}
		.accordion-button {
			font-weight: bold;
			font-size: 18px;
			line-height: 18px;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #000000;
			background-color: transparent;
			border: none;
			box-shadow: none;
			&:after {
				margin-left: 0;
				width: 9px;
				height: 6px;
				background-size: 8px;
				margin-left: 15px;
				background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.243 -1.71661e-05L0 4.24298L1.415 5.65698L4.243 2.82798L7.071 5.65698L8.486 4.24298L4.243 -1.71661e-05Z' fill='black'/%3E%3C/svg%3E%0A");
				transform: rotate(180deg);
			}
			&:not(.collapsed)::after {
				transform: rotate(0deg);
			}
		}
	}
	&-card {
		position: sticky;
		top: 75px;
		box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);

		&__header {
			padding: 36px 40px 23px;
			position: relative;
			&::after {
				content: '';
				position: absolute;
				left: 50%;
				bottom: 0;
				width: calc(100% - 80px);
				height: 1px;
				background-color: #C4C4C4;
				transform: translateX(-50%);
			}
			&-title {
				font-weight: bold;
				color: $black;
				letter-spacing: 0.05em;
				font-size: 18px;
				line-height: 18px;
			}
			&-edit {
				font-size: 16px;
				line-height: 18px;
				color: $green-accent;
				text-decoration: none;
				transition: color .25s;
				&:hover {
					color: $black;
				}
			}
		}
		&__body {
			padding: 30px 40px 40px;
		}
		&__coupon {
			margin-bottom: 33px;
			.form-group {
				width: 100%;
				margin-right: 20px;
			}
			.btn {
				max-width: 165px;
			}
		}
		@media (max-width: 767.98px) {
			box-shadow: none;
			background: $turquoise;
			&__wrapper {
				padding: 0;
			}
			&__header {
				box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
				padding: 19px 16px 23px;
				&::after {
					display: none;
				}
			}
			&__body {
				padding: 20px 15px 29px;
			}
		}
	}

	@media (max-width: 767.98px) {
		.mobile-order-card-header {
			overflow-x: hidden;
			.nav-item {
				width: 50%;
				text-align: center;
			}
			.profile__title {
				text-align: center;
			}
		}
	}
}