.pagination {
	.pagination-inner {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}
	.pagination-body {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		max-width: 80%;
		padding: 0 1rem;
	}
	.pagination-list {
		list-style: none;
		padding-left: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		margin: 0 -4px;
		margin-right: 8px;
	}
	.pagaination-list__item {
		padding: 0 4px;
		margin-bottom: 8px;
		&.active {
			a {
				background-color: $accent-clr;
				color: $white-clr;
				@include hover {
					background-color: $accent-clr;
					color: $white-clr;
				}
			}
		}
		a {
			display: block;
			width: 40px;
			height: 40px;
			background-color: $white-clr;
			display: flex;
			align-items: center;
			justify-content: center;
			color: $black-clr;
			text-decoration: none;
			font-weight: bold;
			border-radius: 4px;
			transition: .25s;
			@include hover {
				background-color: rgba(40,179,161,0.1);
			}
		}
	}
	.pagination-load-more {
		margin: 0 auto 8px;
	}
	.load-more-btn {
		padding: 10px 1rem 10px;
		border-radius: 4px;
		background-color: $white-clr;
		text-decoration: none;
		font-size: 14px;
		line-height: 1;
		color: $black-clr;
		display: flex;
		align-items: center;
		transition: .25s;
		i {
			color: $accent-clr;
			margin-right: 12px;
			font-size: 20px;
			transition: .25s;
		}
		@include hover {
			background-color: rgba(40,179,161,0.1);
			i {
				transform: rotate(180deg);
			}
		}
	}
	.pagination-btn {
		width: 40px;
		height: 40px;
		background-color: $white-clr;
		border-radius: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $grey-lighter-clr;
		text-decoration: none;
		transition: .25s;
		i {
			transition: .25s;
		}
		@include hover {
			background-color: rgba(40,179,161,0.1);
			color: $black-clr;
		}
	}
}

@media (max-width: 575px) {
	.pagination {
		padding-top: 12px;
		.pagination-list {
			margin-right: 0;
			padding: 0 1rem;
			width: 100%;
			max-width: 80%;
			justify-content: center;
		}
		.pagination-inner {
			align-items: flex-end;
			position: relative;
			.pagination-prev,
			.pagination-next {
				position: absolute;
				margin-bottom: 8px;
			}
			.pagination-prev {
				left: 0;
			}
			.pagination-next {
				right: 0;
			}
		}
		.pagination-body {
			flex-direction: column-reverse;
			width: 100%;
			padding: 0;
			max-width: 100%;
		}
		.pagination-load-more {
			width: 100%;
			margin-bottom: 20px;
		}
		.load-more-btn {
			width: 100%;
			justify-content: center;
		}
	}
}