.preorder-wrapper {
	padding-bottom: 90px;
	.catalog-title {
		font-size: 36px;
		line-height: 1;
		margin-bottom: 22px;
	}
}

.preorder-checkout {
	margin-bottom: 40px;
}

.checkout-card {
	background-color: $white-clr;
	border-radius: 4px;
	padding: 19px 32px 32px;
	.checkbox-filter__link {
		font-size: 14px;
		display: block;
		.check.option {
			padding-left: 0;
		}
		.check__box {
			top: .5rem;
		}
	}
}

.checkout-contacts {
	margin: 0 -8px;
	[class*="col-"] {
		padding: 0 8px;
	}
}

.checkout-input {
	border: 1px solid #E3E3E3;
	border-radius: 4px;
	padding: 9px 16px;
	margin-bottom: 8px;
	user-select: none;
	&.checkout-textarea {
		padding-right: 0;
		padding-bottom: 0;
		textarea {
			padding-right: 16px;
			padding-bottom: 9px;
		}
	}
	input,
	textarea {
		font-size: 1rem;
		line-height: 1;
		margin-bottom: 0;
		border: none;
		width: 100%;
		padding: 0;
		color: $black-clr;
		appearance: none;
		&:focus {
			border: none;
			outline: none;
			box-shadow: none;
		}
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type=number] {
		-moz-appearance: textfield;
	}
}
.checkout-input__label {
	font-size: 12px;
	line-height: 1;
	margin-bottom: 8px;
	color: #737373;
}

.checkout-delivery {
	.checkout-delivery__title {
		font-size: 14px;
		line-height: 36px;
		margin-bottom: 11px;
	}
	.checkout-delivery__item {
		border-radius: 4px;
		margin-bottom: 8px;
		&:last-of-type {
			margin-bottom: 24px;
		}
		.checkbox-filter__link {
			padding: 0;
		}
		.check.option {
			padding: 25px 17px;
		}
		.check__text {
			position: relative;
			z-index: 2;
		}
		.check__box {
			top: 50%;
			transform: translateY(-50%);
			z-index: 2;
		}
	}
	.checkout-delivery__shipping {
		padding-top: 26px;
	}
	.checkout-delivery__carrier {
		border: 1px solid #E3E3E3;
		border-radius: 4px;
		margin-bottom: 8px;
		position: relative;
		&::after {
			content: "\e912";
			font-family: 'icomoon' !important;
			color: $grey-lighter-clr;
			position: absolute;
			right: 17px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 10px;
		}
		select {
			width: 100%;
			height: 100%;
			padding: 29px 12px 9px;
			display: block;
			border: none;
			background-color: transparent;
			appearance: none;
		}
	}
	.checkout-delivery__label {
		font-size: 12px;
		line-height: 20px;
		color: #737373;
		padding-left: 16px;
		position: absolute;
		top: 7px;
		pointer-events: none;
		span {
			color: $red-clr;
		}
	}
}

.checkout-input__label {
	font-size: 12px;
	line-height: 20px;
	color: #737373;
	padding-left: 0;
	margin-bottom: 0;
	span {
		color: $red-clr;
	}
}

.checkout-card__edit {
	font-size: 14px;
	line-height: 1;
	color: $accent-clr;
	font-weight: bold;
	text-decoration: none;
	transition: .25s;
	@include hover {
		text-decoration: none;
		color: $black-clr;
		opacity: 0.7;
	}
}

.checkout-card__prices {
	padding: 0;
	padding-left: 24px;
	padding-right: 24px;
	position: sticky;
	top: 90px;
	.checkout-card__prices-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 15px;
		padding: 23px 0;
		border-bottom: 1px solid $grey-superlight-clr;
	}
	.checkout-card__prices-body {
		padding: 31px 0 25px;
	}
	.btn {
		letter-spacing: normal;
		font-size: 18px;
		line-height: 36px;
		height: 56px;
	}
}

.card__prices-item {
	display: flex;
	justify-content: space-between;
	column-gap: 15px;
	font-size: 18px;
	left: 20px;
	margin-bottom: 21px;
	&:last-of-type {
		margin-bottom: 25px;
	}
	.card__prices-item__label {
		color: #222222;
		opacity: .7;
	}
}

.checkout-card__prices-footer {
	font-size: 14px;
	line-height: 21px;
	padding-top: 19px;
	padding-bottom: 25px;
	a {
		color: $accent-clr;
		display: inline-block;
		margin-left: 5px;
		text-decoration: underline;
		transition: .25s;
		@include hover {
			color: $black-clr;
			opacity: 0.7;
		}
	}
}

@media (max-width: 768px) {
	.preorder-checkout {
		margin-bottom: 25px;
	}
	.preorder-wrapper {
		padding-bottom: 25px;
	}
	.checkout-card {
		padding: 14px 16px 24px;
	}
	.checkout-price {
		margin-top: 25px;
	}
}