.promo {
	padding: 50px 0;
	@media (max-width: 767.98px) {
		padding: 40px 0 30px;
	}
	[class^="col-"], [class*=" col-"] {
		padding: 0 10px;
	}
	.promo-banner {
		margin-bottom: 20px;
		text-decoration: none;
		&__header {
			background-color: $green-accent;
			padding: 16px 0;
			text-align: center;
		}
		&__body {
			position: relative;
			.promo-banner__title {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%);
				text-align: center;
				width: 100%;
			}
		}
		&__title {
			color: $white;
			margin-bottom: 0;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			font-size: 16px;
			line-height: 18px;
		}
	}
	.slick-dots {
		button {
			border-color: $white;
		}
	}
}

.promotion-single {
	.profile__title {
		margin-bottom: 18px;
	}
	&__discount-label {
		position: relative;
		left: 0;
		top: 0;
		margin-left: 0;
		margin-right: 29px;
	}
	.inner-header {
		.container {
			padding-left: 95px;
			padding-right: 75px;
		}
		@media (max-width: 1440px) {
			.container {
				padding-left: 45px;
				padding-right: 25px;
			}
		}
		@media (max-width: 991.98px) {
			background-color: $black;
		}
		@media (max-width: 767.98px) {
			.promotion-single__title {
				padding-top: 40px;
			}
		}
	}
	&__container {
		padding: 75px;
		max-width: 1920px;
		margin: 0 auto;
		@media (max-width: 1440px) {
			padding-left: 25px;
			padding-right: 25px;
		}
		@media (max-width: 1200px) {
			padding-left: 0;
			padding-right: 0;
		}
	}
	&__info {
		padding-left: 85px;
		.btn {
			margin-top: 85px;
			@media (max-width: 991.98px) {
				margin-top: 40px;
			}
		}
		@media (max-width: 1440px) {
			padding-left: 0;
		}
	}
	&__thumb {
		@media (max-width: 767.98px) {
			margin-bottom: 50px;
		}
	}
}