.subscribe {
	background-color: $turquoise;
	padding: 32px 0 10px;
	&-inner {
		max-width: 1920px;
		padding: 0 75px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@media (max-width: 991.98px) {
			justify-content: flex-start;
			align-items: flex-start;
		}
		@media (max-width: 767.98px) {
			flex-direction: column;
			padding: 0 25px;
		}
		@media (max-width: 480px) {
			padding: 0 0;
		}
	}
	&-socials {
		@media (max-width: 991.98px) {
			margin: 0 auto;
		}
		.btn {
			&:first-of-type {
				margin-right: 40px;
				@media (max-width: 767.98px) {
					margin-right: 20px;
				}
			}
		}
	}
	&-form {
		margin-right: 50px;
		flex: 0 0 640px;
		&__input {
			width: 100%;
		}
		@media (max-width: 1000px) {
			flex: 1 0 100%;
		}
		@media (max-width: 991.98px) {
			margin-bottom: 20px;
		}
		@media (max-width: 767.98px) {
			margin-right: 0;
			> div {
				flex-direction: column;
				align-items: flex-start !important;
				label {
					margin-bottom: 15px;
				}
			}
		}
	}
}