extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'About'
	-var whatPage = 'About'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	section.about-hero(style="background-image: url('./img/about-bg.png')")
		.container
			.about-hero__caption
				h1.title-big.proba-family Celeste Trade - це потужна команда професіоналів і однодумців!
				p.text-24.lh-36 Разом ми розвиваємося, досягаємося успіхів, переживаємо злети і падіння. Ми - команда, яка йде тільки вперед!

	section.history
		.container
			h3.text-48.proba-family.products-title.text-center Наша Історія

			.history-slider
				.history-slider__item
					.history-slider__year
						button.history-slider__year-btn
							span.line
							span.year 2007
						.history-slider__year-dot
							.history-slider__year-title
								img(src="./img/arrow.svg", alt="")
								h5.history-slider-title Заснування компанії
				.history-slider__item
					.history-slider__year
						button.history-slider__year-btn
							span.line
							span.year 2008
						.history-slider__year-dot
							.history-slider__year-title
								img(src="./img/arrow.svg", alt="")
								h5.history-slider-title Заснування компанії
				.history-slider__item
					.history-slider__year
						button.history-slider__year-btn
							span.line
							span.year 2013
						.history-slider__year-dot
							.history-slider__year-title
								img(src="./img/arrow.svg", alt="")
								h5.history-slider-title Заснування компанії
				.history-slider__item
					.history-slider__year
						button.history-slider__year-btn 2017
						.history-slider__year-dot
							.history-slider__year-title
								img(src="./img/arrow.svg", alt="")
								h5.history-slider-title Заснування компанії
				.history-slider__item
					.history-slider__year
						button.history-slider__year-btn 2019
						.history-slider__year-dot
							.history-slider__year-title
								img(src="./img/arrow.svg", alt="")
								h5.history-slider-title Заснування компанії
				.history-slider__item
					.history-slider__year
						button.history-slider__year-btn
							span.line
							span.year 2020
						.history-slider__year-dot
							.history-slider__year-title
								img(src="./img/arrow.svg", alt="")
								h5.history-slider-title Заснування компанії
				.history-slider__item
					.history-slider__year
						button.history-slider__year-btn
							span.line
							span.year 2021
						.history-slider__year-dot
							.history-slider__year-title
								img(src="./img/arrow.svg", alt="")
								h5.history-slider-title Заснування компанії
			.history-slider__description
				.history-slider__description-item
					p.text-center В цьому році була створена багатопрофільна дистриб'юторська  компанія з продажу європейської дверної фурнітури, паркету та міжкімнатних дверей. Компанія отримала назву Celeste Trade (від італ. "Celeste" - небесно-блакитний, як символ прозорості та відкритості в бізнесі). Першими брендами фурнітури в портфелі компанії стали AGB і Mandelli.ss
				.history-slider__description-item
					p.text-center Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Переписали своего lorem рукописи которой предупреждал заманивший эта домах приставка составитель они вершину текстов всеми, запятых алфавит там страна ipsum.
				.history-slider__description-item
					p.text-center Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Что пунктуация он щеке, по всей деревни вскоре имени даже всеми грамматики мир буквоград коварных! Дорогу до напоивший щеке домах семь предупреждал встретил, языкового но ведущими коварных за свою всемогущая решила силуэт страна рукописи приставка пор реторический использовало. Напоивший, продолжил свое!
				.history-slider__description-item
					p.text-center В цьому році була створена багатопрофільна дистриб'юторська  компанія з продажу європейської дверної фурнітури, паркету та міжкімнатних дверей. Компанія отримала назву Celeste Trade (від італ. "Celeste" - небесно-блакитний, як символ прозорості та відкритості в бізнесі). Першими брендами фурнітури в портфелі компанії стали AGB і Mandelli.kk
				.history-slider__description-item
					p.text-center Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Рукописи последний текст необходимыми деревни путь правилами оксмокс от всех вершину? Последний ведущими языком агентство они своих лучше коварных! Сих наш подзаголовок, скатился реторический то гор безопасную снова рыбного своих продолжил!
				.history-slider__description-item
					p.text-center В цьому році була створена багатопрофільна дистриб'юторська  компанія з продажу європейської дверної фурнітури, паркету та міжкімнатних дверей. Компанія отримала назву Celeste Trade (від італ. "Celeste" - небесно-блакитний, як символ прозорості та відкритості в бізнесі). Першими брендами фурнітури в портфелі компанії стали AGB і Mandelli.hh
				.history-slider__description-item
					p.text-center Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Имени продолжил лучше бросил наш ему пунктуация большого приставка текста, домах пояс гор первую залетают ручеек путь раз рукопись ведущими?

	section.team
		.container
			h3.text-48.proba-family.products-title Команда
			.team-slider__wrapper.position-relative
				.basic-slider.team-slider
					.basic-slider__item.team-slider__item
						img(src="./img/team-slider/team1.png", alt="")
					.basic-slider__item.team-slider__item
						img(src="./img/team-slider/team1.png", alt="")
					.basic-slider__item.team-slider__item
						img(src="./img/team-slider/team1.png", alt="")

				.basic-slider__controls.slider-controls.container
					.slider-controls__row
						.basic-slider__dots.team-slider__dots
						.basic-slider__nav.team-slider__nav
							button.basic-controls__prev.team-controls__prev.team-control.basic-slider__arrow
								i.icon-chevron-left
							button.basic-controls__next.team-controls__next.team-control.basic-slider__arrow
								i.icon-chevron-right
		.container
			.row.m-0
				.col-md-4
					.team-card
						.team-card__img
							img(src="./img/team/zakupka.jpg", alt="")
						.team-card__body
							a(href="#").team-card__body-inner
								.team-card__body-text.text-24 Закупка
								.team-item__body-icon
									img(src="./img/arrow.svg", alt="")
				.col-md-4
					.team-card
						.team-card__img
							img(src="./img/team/sklad.jpg", alt="")
						.team-card__body
							a(href="#").team-card__body-inner
								.team-card__body-text.text-24 Склад
								.team-item__body-icon
									img(src="./img/arrow.svg", alt="")
				.col-md-4
					.team-card
						.team-card__img
							img(src="./img/team/clients.jpg", alt="")
						.team-card__body
							a(href="#").team-card__body-inner
								.team-card__body-text.text-24 Работа с клиентами
								.team-item__body-icon
									img(src="./img/arrow.svg", alt="")





	section.write-us.bg-black
		.container
			.write-us__inner
				h4.text-36.text-white.proba-family Напишите нам, давно выяснено, что при
				p.text-18.text-white Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.
				.write-us__btn
					a(href="#").btn.btn-accent Напишите нам







