extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	- var PageName = "Account logged"
	- var PageID = 'account-logged';
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	section.profile
		include ./partials/account-header

		#profile-tabContent.tab-content.profile-content
			#nav-profile.profile-personal-info.personal-info.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='nav-profile-tab')
				.container.profile__container
					.row
						.col-lg-3.col-md-3
							.personal-info__avatar
								img(src="./img/avatar.png", alt="Аватар")
								.info-avatar__logged
									i.grf-facebook
							.personal-info__name.text-strong Константин
						.col-lg-8.col-md-8.col-12.offset-0.offset-md-1.offset-lg-1
							h2.personal-info__title.text-strong.text-md.text-uppercase Ваши данные
							.personal-info__data.profile-data.d-flex.justify-content-between.flex-wrap
								.profile-data__inner
									label.profile-data__label.text-sm Имя
									p.profile-data__info.text-strong.text-sm Василий
								.profile-data__inner
									label.profile-data__label.text-sm.ms-auto Фамилия
									p.profile-data__info.text-strong.text-sm.ms-auto Василевский
								.profile-data__inner
									label.profile-data__label.text-sm Телефон
									p.profile-data__info.text-strong.text-sm (097) 888-00-88
								.profile-data__inner
									label.profile-data__label.text-sm email
									p.profile-data__info.text-strong.text-sm vasya1976@gmail.com
						.col-lg-8.col-md-8.col-12.offset-0.offset-md-4.offset-lg-4
							h2.personal-info__title.text-strong.text-md.text-uppercase Адрес доставки
							.personal-info__data.profile-data.d-flex.justify-content-between.flex-wrap
								.profile-data__inner
									label.profile-data__label.text-sm Улица
									p.profile-data__info.text-strong.text-sm Героев обороны Одессы
								.profile-data__inner
									label.profile-data__label.text-sm.ms-auto Номер дома
									p.profile-data__info.text-strong.text-sm.ms-auto 5
								.profile-data__inner
									label.profile-data__label.text-sm Квартира
									p.profile-data__info.text-strong.text-sm 126
								.profile-data__inner
									label.profile-data__label.text-sm Этаж
									p.profile-data__info.text-strong.text-sm 7
								.profile-data__inner
									label.profile-data__label.text-sm Домофон
									p.profile-data__info.text-strong.text-sm 359
								.profile-data__inner
									label.profile-data__label.text-sm Комменатарий
									p.profile-data__info.text-strong.text-sm Стучать 3 раза

						.col-lg-8.col-md-8.col-12.offset-0.offset-lg-4.offset-md-4.d-flex.justify-content-center
							a(href="account-edit.html").btn.btn-border.btn-black-border.text-strong.text-uppercase.w-100 Изменить данные

			#nav-history.tab-pane.fade.order-history(role='tabpanel' aria-labelledby='nav-history-tab')
				.container
					.row
						.col-12.p-0
							.order-history-inner.d-flex.justify-content-between
								nav#orderHistoryTab.nav.nav-tabs.flex-column(role="tablist")
									.text-strong.text-uppercase.text-md.mb-4 Ваши заказы
									button#order-history-tab_01.order-history-btn.active(data-bs-toggle='tab' data-bs-target='#orderHistory_01' type='button' role='tab' aria-controls='orderHistory_01' aria-selected='true')
										span.text-sm Заказ №
										span.text-sm 728
										span.d-block.text-strong.text-sm.mt-3 28 сентября 2021
									button#order-history-tab_02.order-history-btn(data-bs-toggle='tab' data-bs-target='#orderHistory_02' type='button' role='tab' aria-controls='orderHistory_02' aria-selected='false')
										span.text-sm Заказ №
										span.text-sm 105
										span.d-block.text-strong.text-sm.mt-3 17 июля 2021
									button#order-history-tab_03.order-history-btn(data-bs-toggle='tab' data-bs-target='#orderHistory_03' type='button' role='tab' aria-controls='orderHistory_03' aria-selected='false')
										span.text-sm Заказ №
										span.text-sm 504
										span.d-block.text-strong.text-sm.mt-3 3 июля 2021

								#orderHistoryTabContent.tab-content
									#orderHistory_01.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='order-history-tab_01')
										.order-history-tab-header.d-flex
											.text-strong.text-uppercase.text-24.me-3
												| Заказ №
												span.text-strong.text-24 728
											.text-md 28 сентября 2021
										.order-history-item
											.cart-item.d-flex.align-items-center
												.cart-item__thumb
													img(src="./img/slider/01.png", alt="")
												.cart-item__body.d-flex
													.cart-item__info
														.d-flex.justify-content-between.flex-wrap
															.cart-item__name.text-strong.text-md Филадельфия классик

														.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем
														.d-flex
															.cart-item__weight.text-strong.text-sm.me-5
																| 120
																span.ms-1 грн
															.cart-item__name.text-strong.text-sm.text-lowercase.me-5 8 шт.
															.cart-item__weight.text-strong.text-sm.me-5
																| 8888
																span.ms-1 г

											.cart-item.d-flex.align-items-center
												.cart-item__thumb
													img(src="./img/slider/02.png", alt="")
												.cart-item__body.d-flex
													.cart-item__info
														.cart-item__name.text-strong.text-md
															.d-flex.justify-content-between.flex-wrap
																.cart-item__name.text-strong.text-md Филадельфия классик
														.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем
														.d-flex
															.cart-item__weight.text-strong.text-sm.me-5
																| 120
																span.ms-1 грн
															.cart-item__name.text-strong.text-sm.text-lowercase.me-5 8 шт.
															.cart-item__weight.text-strong.text-sm.me-5
																| 8888
																span.ms-1 г

											.cart-item.d-flex.align-items-center
												.cart-item__thumb
													img(src="./img/slider/01.png", alt="")
												.cart-item__body.d-flex
													.cart-item__info
														.cart-item__name.text-strong.text-md
															.d-flex.justify-content-between.flex-wrap
																.cart-item__name.text-strong.text-md Филадельфия классик
														.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем
														.d-flex
															.cart-item__weight.text-strong.text-sm.me-5
																| 120
																span.ms-1 грн
															.cart-item__name.text-strong.text-sm.text-lowercase.me-5 8 шт.
															.cart-item__weight.text-strong.text-sm.me-5
																| 8888
																span.ms-1 г


										.order-history-tab-footer.d-flex.justify-content-between.align-items-start
											.cart-footer-price.d-flex.align-items-center
												span.text-strong.text-lg Сумма заказа:
												.cart-full-price.text-strong
													| 8888
													span.text-strong грн.
											.cart-submit
												button.btn.btn-green.btn-solid.btn-icon.text-strong.text-uppercase
													span.text-white Повторить заказ
												.text-sm.mt-3 Повторяя заказ вы можете изменить его при оформлении

									#orderHistory_02.tab-pane.fade(role='tabpanel' aria-labelledby='order-history-tab_02')
										.order-history-tab-header.d-flex
												.text-strong.text-uppercase.text-24.me-3
													| Заказ №
													span.text-strong.text-24 105
												.text-md 17 июля 2021
										.order-history-item
											.cart-item.d-flex.align-items-center
												.cart-item__thumb
													img(src="./img/slider/02.png", alt="")
												.cart-item__body.d-flex
													.cart-item__info
														.cart-item__name.text-strong.text-md
															.d-flex.justify-content-between.flex-wrap
																.cart-item__name.text-strong.text-md Филадельфия классик

														.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем
														.d-flex
															.cart-item__weight.text-strong.text-sm.me-5
																| 120
																span.ms-1 грн
															.cart-item__name.text-strong.text-sm.text-lowercase.me-5 8 шт.
															.cart-item__weight.text-strong.text-sm.me-5
																| 8888
																span.ms-1 г

											.cart-item.d-flex.align-items-center
												.cart-item__thumb
													img(src="./img/slider/01.png", alt="")
												.cart-item__body.d-flex
													.cart-item__info
														.cart-item__name.text-strong.text-md
															.d-flex.justify-content-between.flex-wrap
																.cart-item__name.text-strong.text-md Филадельфия классик

														.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем
														.d-flex
															.cart-item__weight.text-strong.text-sm.me-5
																| 120
																span.ms-1 грн
															.cart-item__name.text-strong.text-sm.text-lowercase.me-5 8 шт.
															.cart-item__weight.text-strong.text-sm.me-5
																| 8888
																span.ms-1 г

											.cart-item.d-flex.align-items-center
												.cart-item__thumb
													img(src="./img/slider/02.png", alt="")
												.cart-item__body.d-flex
													.cart-item__info
														.cart-item__name.text-strong.text-md
															.d-flex.justify-content-between.flex-wrap
																.cart-item__name.text-strong.text-md Филадельфия классик

														.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем
														.d-flex
															.cart-item__weight.text-strong.text-sm.me-5
																| 120
																span.ms-1 грн
															.cart-item__name.text-strong.text-sm.text-lowercase.me-5 8 шт.
															.cart-item__weight.text-strong.text-sm.me-5
																| 8888
																span.ms-1 г


										.order-history-tab-footer.d-flex.justify-content-between.align-items-start
											.cart-footer-price.d-flex.align-items-center
												span.text-strong.text-lg Сумма заказа:
												.cart-full-price.text-strong
													| 8888
													span.text-strong грн.
											.cart-submit
												button.btn.btn-green.btn-solid.btn-icon.text-strong.text-uppercase
													span.text-white Повторить заказ
												.text-sm.mt-3 Повторяя заказ вы можете изменить его при оформлении

									#orderHistory_03.tab-pane.fade(role='tabpanel' aria-labelledby='order-history-tab_03')
										.order-history-tab-header.d-flex
											.text-strong.text-uppercase.text-24.me-3
												| Заказ №
												span.text-strong.text-24 504
											.text-md 3 июля 2021
										.order-history-item
											.cart-item.d-flex.align-items-center
												.cart-item__thumb
													img(src="./img/slider/01.png", alt="")
												.cart-item__body.d-flex
													.cart-item__info
														.cart-item__name.text-strong.text-md
															.d-flex.justify-content-between.flex-wrap
																.cart-item__name.text-strong.text-md Филадельфия классик

														.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем
														.d-flex
															.cart-item__weight.text-strong.text-sm.me-5
																| 120
																span.ms-1 грн
															.cart-item__name.text-strong.text-sm.text-lowercase.me-5 8 шт.
															.cart-item__weight.text-strong.text-sm.me-5
																| 8888
																span.ms-1 г


										.order-history-tab-footer.d-flex.justify-content-between.align-items-start
											.cart-footer-price.d-flex.align-items-center
												span.text-strong.text-lg Сумма заказа:
												.cart-full-price.text-strong
													| 8888
													span.text-strong грн.
											.cart-submit
												button.btn.btn-green.btn-solid.btn-icon.text-strong.text-uppercase
													span.text-white Повторить заказ
												.text-sm.mt-3 Повторяя заказ вы можете изменить его при оформлении

							.container.p-0.order-history-mobile-accordion
								.text-strong.text-uppercase.text-md.mb-4.title Ваши заказы
								#orderHistoryAccordion.accordion.order-accordion
									.accordion-item
										button#orderHistoryHeadingOne.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#historyCollapseOne' aria-expanded='true' aria-controls='historyCollapseOne')
											span.text-sm Заказ №
											span.text-sm 728
											span.d-block.text-strong.text-sm 28 сентября 2021
										#historyCollapseOne.accordion-collapse.collapse.show(aria-labelledby='orderHistoryHeadingOne')
											.accordion-body
												.cart-item__thumb
													img(src="./img/slider/01.png", alt="")
												.cart-item__name.text-strong.text-md Филадельфия классик
												.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем
												.d-flex.justify-content-start
													.cart-item__weight.text-strong.text-sm.me-3
														| 120
														span.ms-1 грн
													.cart-item__name.text-strong.text-sm.text-lowercase.me-3 8 шт.
													.cart-item__weight.text-strong.text-sm.me-3
														| 8888
														span.ms-1 г
											.accordion-body
												.cart-item__thumb
													img(src="./img/slider/01.png", alt="")
												.cart-item__name.text-strong.text-md Филадельфия классик
												.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем
												.d-flex.justify-content-start
													.cart-item__weight.text-strong.text-sm.me-3
														| 120
														span.ms-1 грн
													.cart-item__name.text-strong.text-sm.text-lowercase.me-3 8 шт.
													.cart-item__weight.text-strong.text-sm.me-3
														| 8888
														span.ms-1 г
											.accordion-body
												.cart-item__thumb
													img(src="./img/slider/01.png", alt="")
												.cart-item__name.text-strong.text-md Филадельфия классик
												.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем
												.d-flex.justify-content-start
													.cart-item__weight.text-strong.text-sm.me-3
														| 120
														span.ms-1 грн
													.cart-item__name.text-strong.text-sm.text-lowercase.me-3 8 шт.
													.cart-item__weight.text-strong.text-sm.me-3
														| 8888
														span.ms-1 г

											.order-history-tab-footer
												.cart-footer-price.d-flex.align-items-center.justify-content-center
													span.text-strong.text-lg Сумма заказа:
													.cart-full-price.text-strong
														| 8888
														span.text-strong грн.
												.cart-submit
													button.btn.btn-green.btn-solid.btn-icon.text-strong.text-uppercase
														span.text-white Повторить заказ
													.text-sm.mt-3.mb-3 Повторяя заказ вы можете изменить его при оформлении

									.accordion-item
										button#orderHistoryHeadingTwo.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#historyCollapseTwo' aria-expanded='false' aria-controls='historyCollapseTwo')
											span.text-sm Заказ №
											span.text-sm 728
											span.d-block.text-strong.text-sm 28 сентября 2021
										#historyCollapseTwo.accordion-collapse.collapse(aria-labelledby='orderHistoryHeadingTwo')
												.accordion-body
													.cart-item__thumb
														img(src="./img/slider/01.png", alt="")
													.cart-item__name.text-strong.text-md Филадельфия классик
													.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем
													.d-flex.justify-content-start
														.cart-item__weight.text-strong.text-sm.me-3
															| 120
															span.ms-1 грн
														.cart-item__name.text-strong.text-sm.text-lowercase.me-3 8 шт.
														.cart-item__weight.text-strong.text-sm.me-3
															| 8888
															span.ms-1 г
												.accordion-body
													.cart-item__thumb
														img(src="./img/slider/01.png", alt="")
													.cart-item__name.text-strong.text-md Филадельфия классик
													.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем
													.d-flex.justify-content-start
														.cart-item__weight.text-strong.text-sm.me-3
															| 120
															span.ms-1 грн
														.cart-item__name.text-strong.text-sm.text-lowercase.me-3 8 шт.
														.cart-item__weight.text-strong.text-sm.me-3
															| 8888
															span.ms-1 г

												.order-history-tab-footer
													.cart-footer-price.d-flex.align-items-center.justify-content-center
														span.text-strong.text-lg Сумма заказа:
														.cart-full-price.text-strong
															| 8888
															span.text-strong грн.
													.cart-submit
														button.btn.btn-green.btn-solid.btn-icon.text-strong.text-uppercase
															span.text-white Повторить заказ
														.text-sm.mt-3.mb-3 Повторяя заказ вы можете изменить его при оформлении
									.accordion-item
										button#orderHistoryHeadingThree.accordion-button.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#historyCollapseThree' aria-expanded='false' aria-controls='historyCollapseThree')
											span.text-sm Заказ №
											span.text-sm 728
											span.d-block.text-strong.text-sm 28 сентября 2021
										#historyCollapseThree.accordion-collapse.collapse(aria-labelledby='orderHistoryHeadingThree')
											.accordion-body
												.cart-item__thumb
													img(src="./img/slider/01.png", alt="")
												.cart-item__name.text-strong.text-md Филадельфия классик
												.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем
												.d-flex.justify-content-start
													.cart-item__weight.text-strong.text-sm.me-3
														| 120
														span.ms-1 грн
													.cart-item__name.text-strong.text-sm.text-lowercase.me-3 8 шт.
													.cart-item__weight.text-strong.text-sm.me-3
														| 8888
														span.ms-1 г
											.order-history-tab-footer
												.cart-footer-price.d-flex.align-items-center.justify-content-center
													span.text-strong.text-lg Сумма заказа:
													.cart-full-price.text-strong
														| 8888
														span.text-strong грн.
												.cart-submit
													button.btn.btn-green.btn-solid.btn-icon.text-strong.text-uppercase
														span.text-white Повторить заказ
													.text-sm.mt-3.mb-3 Повторяя заказ вы можете изменить его при оформлении