extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'World Spa - About - Admissions'
	-var whatPage = 'Admissions'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	section.hero-section
		img(src="./img/admissions/admissions-hero.png" alt="")

	section.about.admissions
		.container.admissions-container
			.row
				.col-lg-6
					.overflow-hidden
						.textReveal
							h1.about-title.text-family-silk.text.text-capitalize.admissions-title Admisssions &#38; Policies

				.col-lg-6
					.overflow-hidden
						.textReveal
							p.mw-555 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut.
			.about-admission.admission
				.overflow-hidden
					.textReveal
						.text
							h5.admission-title.text-family-silk.mb-4 Admission
							.text-underline
				.admission-price
					.admission-price__col
						.textReveal
							.text
								.admission-price__title.text-family-basis Weekends
								.admission-price__value.text-family-silk
									span.admission-price__currency $
									span.admission-price__number 85
									span.admission-price__person.d-block.text-family-basis Adult
					.admission-price__col
						.textReveal
							.text
								.admission-price__title.text-family-basis Holidays
								.admission-price__value.text-family-silk
									span.admission-price__currency $
									span.admission-price__number 85
									span.admission-price__person.d-block.text-family-basis Adult

				.textReveal
					.text
						.admission-btn.d-flex.justify-content-center
							button.btn.border-btn
								span Book
								svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
									rect(fill='none' height='24' width='24')
									path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')

			.row.admissions-row
				.col-lg-6.admissions-col
					.overflow-hidden
						.admission-img.reveal.p-0
							img(src="./img/admissions/admissions-bucket.png", alt="")
				.col-lg-6.admissions-col
					.overflow-hidden
						.admission-img.reveal.p-0
							img(src="./img/admissions/admissions-girl.png", alt="")
	section.policies
		.container.policies-container
			.policies-title.text-family-silk Policies

			.policies-item
				.overflow-hidden
					.textReveal
						.text
							.policies-item__title Header 1
							.policies-item__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
			.policies-item
				.overflow-hidden
					.textReveal
						.text
							.policies-item__title Header 2
							.policies-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			.policies-item
				.overflow-hidden
					.textReveal
						.text
							.policies-item__title Header 3
							.policies-item__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
			.policies-item
				.overflow-hidden
					.textReveal
						.text
							.policies-item__title Header 4
							.policies-item__text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
			.policies-item
				.overflow-hidden
					.textReveal
						.text
							.policies-item__title Header 5
							.policies-item__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
			.policies-item
				.overflow-hidden
					.textReveal
						.text
							.policies-item__title Header 6
							.policies-item__text Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.

