extends partials/layout-admin

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Админ Корзина'
	-var whatPage = 'Admin Cart'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	.cart-wrapper
		.container
			ul.breadcrumbs
				li.breadcrumbs-item
					a(href="/") Головна
				li.breadcrumbs-item
					span Кошик
			.row
				.col-lg-12
					.admin-catalog
						.admin-catalog__header
							.admin-catalog__header-title
								h1.catalog-title.proba-family Кошик
							.admin-catalog__header-prices
								label.mb-0 Ваш баланс:
								span.text-bold 22 245₴
								span.text-bold $2 245
								span.text-bold €1 750

						.cart-row
							.cart-empty
								img(src="img/cart-empty.svg", alt="").cart-empty__img
								h2.cart-empty__title.text-center Кошик порожній
								p.cart-empty__text.text-center але ви можете легко обрати товари для попереднього замовлення
								.cart-empty__button
									a(href="admin-catalog.html").btn.btn-accent Оптова форма
