extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Админ Каталог'
	-var whatPage = 'Admin Catalog'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	.catalog
		.container
			ul.breadcrumbs
				li.breadcrumbs-item
					a(href="/") Головна
				li.breadcrumbs-item
					span Оптова форма замовлення
			.row.catalog-wrapper
				.col-lg-3
					.sidebar
						.sidebar-header.d-lg-none
							.sidebar-header__top
								.sidebar-header__close
									button.btn
										i.icon-close
								.sidebar-header__title Фільтри
								.sidebar-header__clear
									a(href="#").btn.filter-clear
										i.icon-clear
							.sidebar-tags.d-lg-none
								ul.catalog-tags__list
									li.catalog-tags__item
										a(href="#").catalog-tags__link
											span.catalog-tags__name Розетка кругла
											i.icon-close
									li.catalog-tags__item
										a(href="#").catalog-tags__link
											span.catalog-tags__name Кноби
											i.icon-close

						.sidebar-inner
							.sidebar-list
								.sidebar-list__head Продукт
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option(for="radioBtn1")
													input(type="radio" autocomplete="off" name="btnradio")#radioBtn1.check__input
													span.check__box
													span.check__text Циліндри
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option(for="radioBtn2")
													input(type="radio" autocomplete="off" name="btnradio")#radioBtn2.check__input
													span.check__box
													span.check__text Ручки
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option(for="radioBtn3")
													input(type="radio" autocomplete="off" name="btnradio")#radioBtn3.check__input
													span.check__box
													span.check__text Циліндри
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option(for="radioBtn4")
													input(type="radio" autocomplete="off" name="btnradio")#radioBtn4.check__input
													span.check__box
													span.check__text Замки
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option(for="radioBtn5")
													input(type="radio" autocomplete="off" name="btnradio")#radioBtn5.check__input
													span.check__box
													span.check__text Розсувні системи
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option(for="radioBtn6")
													input(type="radio" autocomplete="off" name="btnradio")#radioBtn6.check__input
													span.check__box
													span.check__text Аксесуари для дверей

							.sidebar-list
								.sidebar-list__head Тип
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла

							.sidebar-list
								.sidebar-list__head Аксесуари до дверних ручок
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Поворотники WC
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Накладки PZ
							.sidebar-list(data-active-list)
								.sidebar-list__head
									span.filter-name Бренд
									button.filter-more(data-more)
										span.filter-more__text Ще
										span.filter-less__text Скрыть
										span.filter-more__val +10
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 1
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 2
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 3
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 4
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 5
										li.sidebar-filter__item.filter-hidden
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 6
										li.sidebar-filter__item.filter-hidden
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 7
										li.sidebar-filter__item.filter-hidden
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 8
										li.sidebar-filter__item.filter-hidden
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 9
							.sidebar-list
								.sidebar-list__head Колір
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Однотонные
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Комбинированные
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text С декором
							.sidebar-list
								.sidebar-list__head Наявність
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text В наявності
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Під замовлення
							.sidebar-list
								.sidebar-list__head Область застосування
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Для вхідних дерев'яних дверей
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Для вхідних металевих дверей
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Для міжкімнатних дерев'яних дверей
							.sidebar-list
								.sidebar-list__head Гарантія
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Гарантія на 1 рік
							.filter-submit__btn.d-lg-none
								a(href="#").btn.btn-accent.w-100 Застосувати
				.col-lg-9
					.admin-catalog
						.admin-catalog__header
							.admin-catalog__header-title
								h1.catalog-title.proba-family Оптова форма
							.admin-catalog__header-sorting
								.admin-catalog__sorting
									.admin-catalog__header-link
										a(href="#").checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Потрібен ПДВ
									.admin-catalog__header-link.admin-catalog__select
										select
											option Прайс-лист
											option Прайс-лист
											option Прайс-лист
											option Прайс-лист
									a(href="#").admin-catalog__header-link.download-order Завантажити замовлення
									.filter-sidebar-btn
										.catalog-tags__item
											button.data-toggle.catalog-tags__link.w-100(type='button' data-target='.sidebar' data-classes='active' data-backdrop='true' data-overflow='true')
												span.catalog-tags__name Фільтри
												i.icon-filter
									.admin-catalog__sorting-select
										select#sorting.select
											option 50
											option 100
											option 200
						.admin-catalog__header-actions
							.admin-catalog__form-wrapper
								form.admin-search__form(action="")
									.form-group
										input.form-control(type="text" placeholder="Введіть найменування товару/моделі чи артикул товару")
									button.admin-search__btn Знайти
							.admin-catalog__header-cart
								a(href="#").cart-btn
									i.icon-cart
								span 22 товара
							.admin-catalog__header-prices
								span.text-bold 22 245₴
								span.text-bold $2 245
								span.text-bold €1 750

							a(href="#").admin-products__cart-btn
								span.text-accent.text-bold Оформити
						.catalog-tags.tags
							ul.catalog-tags__list
								li.catalog-tags__item
									a(href="#").catalog-tags__link
										span.catalog-tags__name Розетка кругла
										i.icon-close
								li.catalog-tags__item
									a(href="#").catalog-tags__link
										span.catalog-tags__name Кноби
										i.icon-close
								li.catalog-tags__item
									button(href="#").catalog-tags__link.catalog-tags__filter-reset
										span.catalog-tags__name Очистити фільтри

						.admin-catalog__row
							.admin-products
								.admin-products__header
									.text-14.text-grey Товар
									select.admin-products__select.text-grey.text-14
										option(value="") РРЦ
										option(value="") РРЦ
										option(value="") РРЦ
									select.admin-products__select.text-grey.text-14
										option(value="") Ваша ціна
										option(value="") РРЦ
										option(value="") РРЦ
								.admin-products__item
									.admin-products__item-img
										a(href="product-card.html")
											img(src="./img/product-thumbs/1.png", alt="")
											.admin-products__item-tooltip
												img(src="./img/product-thumbs/1.png", alt="")
									a(href="#").admin-products__item-name.proba-family
										| Ручка дверна Ручка дверна Ручка дверна Ручка дверна
										span.text-accent.ml-1 DND Quattro
									.admin-products__item-about
										.admin-products__item-info
											.admin-products__item-availability.available.text-grey
												i.icon-check
												span В наявності
											.admin-products__item-art.text-grey арт. 45475758
											.admin-products__item-id.text-grey Код:00000
											.admin-products__item-brand
												span.text-grey.mr-2 Бренд:
												a(href="brands-single.html").text-accent Kommet
									.admin-products__item-price.retail-price.proba-family
										label.text-grey РРЦ
										span 35620₴
									.admin-products__item-price.your-price.proba-family
										label.text-grey Ваша ціна
										span 32000₴
									.admin-products__item-actions
										button(type="button").admin-products__cart-btn
											i.icon-cart
											span.text-accent.text-bold Замовити
										.admin-products__item-add
											.number-form
												span.minus -
												input(type='text' value='1')
												span.plus +
											.admin-products__item-delete
												button(type="button").cart-delete
													i.icon-bucket
								.admin-products__item
									.admin-products__item-img
										a(href="product-card.html")
											img(src="./img/product-thumbs/2.png", alt="")
											.admin-products__item-tooltip
												img(src="./img/product-thumbs/2.png", alt="")
									a(href="#").admin-products__item-name.proba-family
										| Ручка дверна
										span.text-accent.ml-1 DND Quattro
									.admin-products__item-about
										.admin-products__item-info
											.admin-products__item-availability.text-grey.order
												i.icon-truck
												span Під замовлення
											.admin-products__item-art.text-grey арт. 45475758
											.admin-products__item-id.text-grey Код:00000
											.admin-products__item-brand
												span.text-grey.mr-2 Бренд:
												a(href="brands-single.html").text-accent Kommet
									.admin-products__item-price.retail-price.proba-family
										label.text-grey РРЦ
										span 356₴
									.admin-products__item-price.your-price.proba-family
										label.text-grey Ваша ціна
										span 245₴
									.admin-products__item-actions
										//- button(type="button").admin-products__cart-btn
										//- 	i.icon-cart
										//- 	span.text-accent.text-bold Замовити
										.admin-products__item-add.is-visible
											.number-form
												span.minus -
												input(type='text' value='1')
												span.plus +
											.admin-products__item-delete
												button(type="button").cart-delete
													i.icon-bucket
								.admin-products__item
									.admin-products__item-img
										a(href="product-card.html")
											img(src="./img/product-thumbs/3.png", alt="")
											.admin-products__item-tooltip
												img(src="./img/product-thumbs/3.png", alt="")
									a(href="#").admin-products__item-name.proba-family
										| Ручка дверна
										span.text-accent.ml-1 DND Quattro
									.admin-products__item-about
										.admin-products__item-info
											.admin-products__item-availability.text-grey.order
												i.icon-truck
												span Під замовлення
											.admin-products__item-art.text-grey арт. 45475758
											.admin-products__item-id.text-grey Код:00000
											.admin-products__item-brand
												span.text-grey.mr-2 Бренд:
												a(href="brands-single.html").text-accent Kommet
									.admin-products__item-price.retail-price.proba-family
										label.text-grey РРЦ
										span 356₴
									.admin-products__item-price.your-price.proba-family
										label.text-grey Ваша ціна
										span 245₴
									.admin-products__item-actions
										button(type="button").admin-products__cart-btn
											i.icon-cart
											span.text-accent.text-bold Замовити
										.admin-products__item-add
											.number-form
												span.minus -
												input(type='text' value='1')
												span.plus +
											.admin-products__item-delete
												button(type="button").cart-delete
													i.icon-bucket
								.admin-products__item.admin-products__item-disabled
									.admin-products__item-img
										a(href="product-card.html")
											img(src="./img/product-thumbs/4.png", alt="")
											.admin-products__item-tooltip
												img(src="./img/product-thumbs/4.png", alt="")
									a(href="#").admin-products__item-name.proba-family
										| Ручка дверна
										span.text-accent.ml-1 DND Quattro
									.admin-products__item-about
										.admin-products__item-info
											.admin-products__item-availability.text-grey.not-available
												i.icon-close
												span Знято з виробництва
											.admin-products__item-art.text-grey арт. 45475758
											.admin-products__item-id.text-grey Код:00000
											.admin-products__item-brand
												span.text-grey.mr-2 Бренд:
												a(href="brands-single.html").text-accent Длинное название бренда
									.admin-products__item-price.retail-price.proba-family
										label.text-grey РРЦ
										span 356₴
									.admin-products__item-price.your-price.proba-family
										label.text-grey Ваша ціна
										span 245₴
									.admin-products__item-actions
										button(type="button").admin-products__cart-btn.d-none
											i.icon-cart
											span.text-accent.text-bold Замовити
								.admin-products__item
										.admin-products__item-img
											a(href="product-card.html")
												img(src="./img/product-thumbs/5.png", alt="")
												.admin-products__item-tooltip
													img(src="./img/product-thumbs/5.png", alt="")
										a(href="#").admin-products__item-name.proba-family
											| Ручка дверна Ручка дверна Ручка дверна Ручка дверна
											span.text-accent.ml-1 DND Quattro
										.admin-products__item-about
											.admin-products__item-info
												.admin-products__item-availability.available.text-grey
													i.icon-check
													span В наявності
												.admin-products__item-art.text-grey арт. 45475758
												.admin-products__item-id.text-grey Код:00000
												.admin-products__item-brand
													span.text-grey.mr-2 Бренд:
													a(href="brands-single.html").text-accent Kommet
										.admin-products__item-price.retail-price.proba-family
											label.text-grey РРЦ
											span 35620₴
										.admin-products__item-price.your-price.proba-family
											label.text-grey Ваша ціна
											span 32000₴
										.admin-products__item-actions
											button(type="button").admin-products__cart-btn
												i.icon-cart
												span.text-accent.text-bold Замовити
											.admin-products__item-add
												.number-form
													span.minus -
													input(type='text' value='1')
													span.plus +
												.admin-products__item-delete
													button(type="button").cart-delete
														i.icon-bucket

								.admin-products__item
									.admin-products__item-img
										a(href="product-card.html")
											img(src="./img/product-thumbs/1.png", alt="")
											.admin-products__item-tooltip
												img(src="./img/product-thumbs/1.png", alt="")
									a(href="#").admin-products__item-name.proba-family
										| Ручка дверна Ручка дверна Ручка дверна Ручка дверна
										span.text-accent.ml-1 DND Quattro
									.admin-products__item-about
										.admin-products__item-info
											.admin-products__item-availability.available.text-grey
												i.icon-check
												span В наявності
											.admin-products__item-art.text-grey арт. 45475758
											.admin-products__item-id.text-grey Код:00000
											.admin-products__item-brand
												span.text-grey.mr-2 Бренд:
												a(href="brands-single.html").text-accent Kommet
									.admin-products__item-price.retail-price.proba-family
										label.text-grey РРЦ
										span 35620₴
									.admin-products__item-price.your-price.proba-family
										label.text-grey Ваша ціна
										span 32000₴
									.admin-products__item-actions
										button(type="button").admin-products__cart-btn
											i.icon-cart
											span.text-accent.text-bold Замовити
										.admin-products__item-add
											.number-form
												span.minus -
												input(type='text' value='1')
												span.plus +
											.admin-products__item-delete
												button(type="button").cart-delete
													i.icon-bucket
								.admin-products__item
									.admin-products__item-img
										a(href="product-card.html")
											img(src="./img/product-thumbs/2.png", alt="")
											.admin-products__item-tooltip
												img(src="./img/product-thumbs/2.png", alt="")
									a(href="#").admin-products__item-name.proba-family
										| Ручка дверна
										span.text-accent.ml-1 DND Quattro
									.admin-products__item-about
										.admin-products__item-info
											.admin-products__item-availability.text-grey.order
												i.icon-truck
												span Під замовлення
											.admin-products__item-art.text-grey арт. 45475758
											.admin-products__item-id.text-grey Код:00000
											.admin-products__item-brand
												span.text-grey.mr-2 Бренд:
												a(href="brands-single.html").text-accent Kommet
									.admin-products__item-price.retail-price.proba-family
										label.text-grey РРЦ
										span 356₴
									.admin-products__item-price.your-price.proba-family
										label.text-grey Ваша ціна
										span 245₴
									.admin-products__item-actions
										//- button(type="button").admin-products__cart-btn
										//- 	i.icon-cart
										//- 	span.text-accent.text-bold Замовити
										.admin-products__item-add.is-visible
											.number-form
												span.minus -
												input(type='text' value='1')
												span.plus +
											.admin-products__item-delete
												button(type="button").cart-delete
													i.icon-bucket
								.admin-products__item
									.admin-products__item-img
										a(href="product-card.html")
											img(src="./img/product-thumbs/3.png", alt="")
											.admin-products__item-tooltip
												img(src="./img/product-thumbs/3.png", alt="")
									a(href="#").admin-products__item-name.proba-family
										| Ручка дверна
										span.text-accent.ml-1 DND Quattro
									.admin-products__item-about
										.admin-products__item-info
											.admin-products__item-availability.text-grey.order
												i.icon-truck
												span Під замовлення
											.admin-products__item-art.text-grey арт. 45475758
											.admin-products__item-id.text-grey Код:00000
											.admin-products__item-brand
												span.text-grey.mr-2 Бренд:
												a(href="brands-single.html").text-accent Kommet
									.admin-products__item-price.retail-price.proba-family
										label.text-grey РРЦ
										span 356₴
									.admin-products__item-price.your-price.proba-family
										label.text-grey Ваша ціна
										span 245₴
									.admin-products__item-actions
										button(type="button").admin-products__cart-btn
											i.icon-cart
											span.text-accent.text-bold Замовити
										.admin-products__item-add
											.number-form
												span.minus -
												input(type='text' value='1')
												span.plus +
											.admin-products__item-delete
												button(type="button").cart-delete
													i.icon-bucket
								.admin-products__item.admin-products__item-disabled
									.admin-products__item-img
										a(href="product-card.html")
											img(src="./img/product-thumbs/4.png", alt="")
											.admin-products__item-tooltip
												img(src="./img/product-thumbs/4.png", alt="")
									a(href="#").admin-products__item-name.proba-family
										| Ручка дверна
										span.text-accent.ml-1 DND Quattro
									.admin-products__item-about
										.admin-products__item-info
											.admin-products__item-availability.text-grey.not-available
												i.icon-close
												span Знято з виробництва
											.admin-products__item-art.text-grey арт. 45475758
											.admin-products__item-id.text-grey Код:00000
											.admin-products__item-brand
												span.text-grey.mr-2 Бренд:
												a(href="brands-single.html").text-accent Длинное название бренда
									.admin-products__item-price.retail-price.proba-family
										label.text-grey РРЦ
										span 356₴
									.admin-products__item-price.your-price.proba-family
										label.text-grey Ваша ціна
										span 245₴
									.admin-products__item-actions
										button(type="button").admin-products__cart-btn.d-none
											i.icon-cart
											span.text-accent.text-bold Замовити
								.admin-products__item
										.admin-products__item-img
											a(href="product-card.html")
												img(src="./img/product-thumbs/5.png", alt="")
												.admin-products__item-tooltip
													img(src="./img/product-thumbs/5.png", alt="")
										a(href="#").admin-products__item-name.proba-family
											| Ручка дверна Ручка дверна Ручка дверна Ручка дверна
											span.text-accent.ml-1 DND Quattro
										.admin-products__item-about
											.admin-products__item-info
												.admin-products__item-availability.available.text-grey
													i.icon-check
													span В наявності
												.admin-products__item-art.text-grey арт. 45475758
												.admin-products__item-id.text-grey Код:00000
												.admin-products__item-brand
													span.text-grey.mr-2 Бренд:
													a(href="brands-single.html").text-accent Kommet
										.admin-products__item-price.retail-price.proba-family
											label.text-grey РРЦ
											span 35620₴
										.admin-products__item-price.your-price.proba-family
											label.text-grey Ваша ціна
											span 32000₴
										.admin-products__item-actions
											button(type="button").admin-products__cart-btn
												i.icon-cart
												span.text-accent.text-bold Замовити
											.admin-products__item-add
												.number-form
													span.minus -
													input(type='text' value='1')
													span.plus +
												.admin-products__item-delete
													button(type="button").cart-delete
														i.icon-bucket





						include ./partials/pagination

