extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Бренди'
	-var whatPage = 'Brands'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	section.brands
		.container
			ul.breadcrumbs
				li.breadcrumbs-item
					a(href="/") Головна
				li.breadcrumbs-item
					span Бренди

		.container
			.brands-header
				.brands-header__left
					.brands-header__title
						h2.proba-family.mb-0 Бренди
					.brands-header__search
						.input-group
							input.brand-search(type="text" placeholder="Пошук за брендами")
							button.brand-search-btn Знайти
					.catalog-sorting
						label(for="sorting").sorting-label Сортування:
						select#sorting.select
							option Тип сортування
							option Ціна
							option Ціна
							option Ціна
			.row
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="brands-single.html").brands-item
						.brands-item__thumb
							img(src="./img/brands/dnd.png", alt="DND")
						.brands-item__name.proba-family dnd
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="brands-single.html").brands-item
						.brands-item__thumb
							img(src="./img/brands/agb.png", alt="AGB")
						.brands-item__name.proba-family AGB
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="brands-single.html").brands-item
						.brands-item__thumb
							img(src="./img/brands/cemom.png", alt="Gemom Mootti")
						.brands-item__name.proba-family Gemom Mootti
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="brands-single.html").brands-item
						.brands-item__thumb
							img(src="./img/brands/blum.png", alt="Blum")
						.brands-item__name.proba-family Blum
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="brands-single.html").brands-item
						.brands-item__thumb
							img(src="./img/brands/hettich.png", alt="Hettich")
						.brands-item__name.proba-family Hettich
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="brands-single.html").brands-item
						.brands-item__thumb
							img(src="./img/brands/amig.png", alt="Amig")
						.brands-item__name.proba-family Amig
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="brands-single.html").brands-item
						.brands-item__thumb
							img(src="./img/brands/maco.png", alt="Maco")
						.brands-item__name.proba-family Maco
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="brands-single.html").brands-item
						.brands-item__thumb
							img(src="./img/brands/hafele.png", alt="Hafele")
						.brands-item__name.proba-family Hafele
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="brands-single.html").brands-item
						.brands-item__thumb
							img(src="./img/brands/opes.png", alt="Opes")
						.brands-item__name.proba-family Opes
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="brands-single.html").brands-item
						.brands-item__thumb
							img(src="./img/brands/punto.png", alt="Punto")
						.brands-item__name.proba-family Punto
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="brands-single.html").brands-item
						.brands-item__thumb
							img(src="./img/brands/armadillo.png", alt="Armadillo")
						.brands-item__name.proba-family Armadillo
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="brands-single.html").brands-item
						.brands-item__thumb
							img(src="./img/brands/guardian.png", alt="Gardian")
						.brands-item__name.proba-family Gardian


	include ./partials/form-section