extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Каталог'
	-var whatPage = 'Каталог'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	section.brands
		.container
			ul.breadcrumbs
				li.breadcrumbs-item
					a(href="/") Головна
				li.breadcrumbs-item
					a(href="brands.html") Бренди
				li.breadcrumbs-item
					span dnd

		.container
			.brands-header
				.brands-header__left
					.brands-header__title
						h2.proba-family.mb-0 dnd
			.row
				.col-md-3
					.brands-item.brands-item__no-hover
						.brands-item__thumb.mb-4
							img(src="./img/brands/punto.png", alt="DND")
						a(href="catalog.html").btn.btn-accent.w-100
							span Відкрити каталог
				.col-md-9
					.single-brand-descr
						p Вже понад 50 років Компанія dnd створює неповторні дизайнерські дверні, віконні ручки та інтер'єрні аксесуари, поєднуючи в своїх продуктах інноваційні технології, високоякісні матеріали і накопичену поколіннями майстерність. Головна відмінність цього бренду - не тільки дизайнерська різноманітність, але й акцент на високу, фактично "еталонну" якість продукції. В асортименті dnd представлено понад 600 класичних і сучасних моделей ручок, виконаних в різних колірних рішеннях.
						ul.single-brand-descr__list
							li.single-brand-descr__list-item Кому ідеально підійдуть ручки для дверей dnd?
							li.single-brand-descr__list-item Дизайнерам і архітекторам просторів - асортимент продукції цієї компанії допоможе
							li.single-brand-descr__list-item втілити в життя навіть саму незвичайну ідею
							li.single-brand-descr__list-item Шанувальникам істинного італійського стилю в інтер'єрі
							li.single-brand-descr__list-item Цінителям вишуканого дизайну та надійності
							li.single-brand-descr__list-item Любителям купити один раз і надовго
							li.single-brand-descr__list-item Тим, хто "розуміє" :)
						p Вся продукція виробляється виключно в Італії.

	section.brands-products
		.container.pb-5
			h2.similar-title.text-bold Найпопулярніші моделі
			.row
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="product-card.html").brand-product.d-block
						.brand-product__thumb.product-tile__thumb.bg-white
							.product-tile__picture
								img(src="./img/product-thumbs/5.png", alt="Фото продукта").product-tile__img
						.brands-item__name.proba-family DND Quatro
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="product-card.html").brand-product.d-block
						.brand-product__thumb.product-tile__thumb.bg-white
							.product-tile__picture
								img(src="./img/product-thumbs/5.png", alt="Фото продукта").product-tile__img
						.brands-item__name.proba-family DND Quatro
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="product-card.html").brand-product.d-block
						.brand-product__thumb.product-tile__thumb.bg-white
							.product-tile__picture
								img(src="./img/product-thumbs/5.png", alt="Фото продукта").product-tile__img
						.brands-item__name.proba-family DND Quatro
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="product-card.html").brand-product.d-block
						.brand-product__thumb.product-tile__thumb.bg-white
							.product-tile__picture
								img(src="./img/product-thumbs/5.png", alt="Фото продукта").product-tile__img
						.brands-item__name.proba-family DND Quatro
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="product-card.html").brand-product.d-block
						.brand-product__thumb.product-tile__thumb.bg-white
							.product-tile__picture
								img(src="./img/product-thumbs/5.png", alt="Фото продукта").product-tile__img
						.brands-item__name.proba-family DND Quatro
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="product-card.html").brand-product.d-block
						.brand-product__thumb.product-tile__thumb.bg-white
							.product-tile__picture
								img(src="./img/product-thumbs/5.png", alt="Фото продукта").product-tile__img
						.brands-item__name.proba-family DND Quatro
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="product-card.html").brand-product.d-block
						.brand-product__thumb.product-tile__thumb.bg-white
							.product-tile__picture
								img(src="./img/product-thumbs/5.png", alt="Фото продукта").product-tile__img
						.brands-item__name.proba-family DND Quatro
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="product-card.html").brand-product.d-block
						.brand-product__thumb.product-tile__thumb.bg-white
							.product-tile__picture
								img(src="./img/product-thumbs/5.png", alt="Фото продукта").product-tile__img
						.brands-item__name.proba-family DND Quatro
		.container.pb-5
			h2.similar-title.text-bold Незвичайні моделі
			.row
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="product-card.html").brand-product.d-block
						.brand-product__thumb.product-tile__thumb.bg-white
							.product-tile__picture
								img(src="./img/product-thumbs/5.png", alt="Фото продукта").product-tile__img
						.brands-item__name.proba-family DND Quatro
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="product-card.html").brand-product.d-block
						.brand-product__thumb.product-tile__thumb.bg-white
							.product-tile__picture
								img(src="./img/product-thumbs/5.png", alt="Фото продукта").product-tile__img
						.brands-item__name.proba-family DND Quatro
				.col-lg-3.col-md-4.col-sm-6.mb-3.mb-md-4
					a(href="product-card.html").brand-product.d-block
						.brand-product__thumb.product-tile__thumb.bg-white
							.product-tile__picture
								img(src="./img/product-thumbs/5.png", alt="Фото продукта").product-tile__img
						.brands-item__name.proba-family DND Quatro

	include ./partials/form-section