extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Каталог'
	-var whatPage = 'Каталог'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	.catalog
		.container
			ul.breadcrumbs
				li.breadcrumbs-item
					a(href="/") Головна
				li.breadcrumbs-item
					a(href="catalog.html") Каталог
				li.breadcrumbs-item
					span Дверні ручки
			.row.catalog-wrapper
				.col-lg-3
					.catalog-sidebar.sidebar
						.sidebar-header.d-lg-none
							.sidebar-header__top
								.sidebar-header__close
									button.btn
										i.icon-close
								.sidebar-header__title Фільтри
								.sidebar-header__clear
									a(href="#").btn.filter-clear
										i.icon-clear
							.sidebar-tags.d-lg-none
								ul.catalog-tags__list
									li.catalog-tags__item
										a(href="#").catalog-tags__link
											span.catalog-tags__name Розетка кругла
											i.icon-close
									li.catalog-tags__item
										a(href="#").catalog-tags__link
											span.catalog-tags__name Кноби
											i.icon-close

						.sidebar-inner
							.sidebar-list
								.sidebar-list__head Тип
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Розетка кругла
							.sidebar-list
								.sidebar-list__head Аксессуары к дверным ручкам
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Поворотники WC
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Накладки PZ
							.sidebar-list(data-active-list)
								.sidebar-list__head
									span.filter-name Бренд
									button.filter-more(data-more)
										span.filter-more__text Еще
										span.filter-less__text Скрыть
										span.filter-more__val +10
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 1
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 2
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 3
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 4
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 5
										li.sidebar-filter__item.filter-hidden
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 6
										li.sidebar-filter__item.filter-hidden
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 7
										li.sidebar-filter__item.filter-hidden
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 8
										li.sidebar-filter__item.filter-hidden
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Бренд 9
							.sidebar-list
								.sidebar-list__head Цвет
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Однотонные
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Комбинированные
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text С декором
							.sidebar-list
								.sidebar-list__head Наличие
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text В наявності
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Під замовлення
							.sidebar-list
								.sidebar-list__head Область приминения
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Для вхідних дерев'яних дверей
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Для вхідних металевих дверей
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Для міжкімнатних дерев'яних дверей
							.sidebar-list
								.sidebar-list__head Гарантія
								.sidebar-list__body
									ul.sidebar-filter.checkbox-filter
										li.sidebar-filter__item
											a(href="#").sidebar-checkbox.checkbox-filter__link
												label.check.option
													input(type="checkbox").check__input
													span.check__box
													span.check__text Гарантія на 1 рік
							.filter-submit__btn.d-lg-none
								a(href="#").btn.btn-accent.w-100 Застосувати
				.col-lg-9
					.catalog-products
						.catalog-header
							.catalog-header__title
								h1.catalog-title.proba-family Дверні ручки
							.catalog-header__sorting
								.filter-sidebar-btn
									.catalog-tags__item
										button.data-toggle.catalog-tags__link.w-100(type='button' data-target='.sidebar' data-classes='active' data-backdrop='true' data-overflow='true')
											span.catalog-tags__name Фільтри
											i.icon-filter
								.catalog-sorting
									label(for="sorting").sorting-label Сортування:
									select#sorting.select
										option Тип сортування
										option Ціна
										option Ціна
										option Ціна
						.catalog-tags
							ul.catalog-tags__list
								li.catalog-tags__item
									a(href="#").catalog-tags__link
										span.catalog-tags__name Розетка кругла
										i.icon-close
								li.catalog-tags__item
									a(href="#").catalog-tags__link
										span.catalog-tags__name Кноби
										i.icon-close
								li.catalog-tags__item
									button(href="#").catalog-tags__link.catalog-tags__filter-reset
										span.catalog-tags__name Очистити фільтри

						.row.catalog-products__row
							.col-xl-4.col-lg-6.col-md-6.col-sm-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/1.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#28B3A1;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:rgba(160, 157, 214, 1);")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#E196E8")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#C4C4C4;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3A71FF;")
											li.colors-list__item.colors-item__count
												a(href="#").colors-slider__item.color
													.color-item
														span +27
									.products-tile__info
										a(href="product-card.html").product-tile__title Ручка дверна
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наявності
							.col-xl-4.col-lg-6.col-md-6.col-sm-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/3.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#28B3A1;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:rgba(160, 157, 214, 1);")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#E196E8")
									.products-tile__info
										a(href="product-card.html").product-tile__title Довга назва ручки яка таки на двері
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наявності
							.col-xl-4.col-lg-6.col-md-6.col-sm-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/4.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3C3C3C;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#B8B9B8;")
									.products-tile__info
										a(href="product-card.html").product-tile__title Довга назва ручки яка таки на двері
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наявності
							.col-xl-4.col-lg-6.col-md-6.col-sm-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/5.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3C3C3C;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#B8B9B8;")
									.products-tile__info
										a(href="product-card.html").product-tile__title Довга назва ручки яка таки на двері
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наявності
							.col-xl-4.col-lg-6.col-md-6.col-sm-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/6.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3C3C3C;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#B8B9B8;")
									.products-tile__info
										a(href="product-card.html").product-tile__title Довга назва ручки яка таки на двері
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__order.product-availability__status
												i.icon-truck
												span Під замовлення
							.col-xl-4.col-lg-6.col-md-6.col-sm-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/7.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3C3C3C;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#B8B9B8;")
									.products-tile__info
										a(href="product-card.html").product-tile__title Довга назва ручки яка таки на двері
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наявності
							.col-xl-4.col-lg-6.col-md-6.col-sm-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/8.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3C3C3C;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#B8B9B8;")
									.products-tile__info
										a(href="product-card.html").product-tile__title Довга назва ручки яка таки на двері
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наявності
							.col-xl-4.col-lg-6.col-md-6.col-sm-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/9.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3C3C3C;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#B8B9B8;")
									.products-tile__info
										a(href="product-card.html").product-tile__title Довга назва ручки яка таки на двері
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наявності
							.col-xl-4.col-lg-6.col-md-6.col-sm-6
								.catalog-products__tile.product-tile.product-tile__not-available
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/2.png", alt="Ручка дверная").product-tile__img
									.products-tile__info
										a(href="product-card.html").product-tile__title Дверна ручка
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__not.product-availability__status
												i.icon-close
												span Знято з виробництва

						include ./partials/pagination




	include ./partials/form-section