extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Каталог'
	-var whatPage = 'Каталог'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	.catalog
		.container
			ul.breadcrumbs
				li.breadcrumbs-item
					a(href="/") Главная
				li.breadcrumbs-item
					a(href="catalog.html") Каталог
				li.breadcrumbs-item
					span Дверные ручки
			.row.catalog-wrapper
				.col-lg-3
					.catalog-sidebar.sidebar
						.sidebar-list
							.sidebar-list__head Тип
							.sidebar-list__body
								ul.sidebar-filter.checkbox-filter
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Розетка круглая
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Розетка круглая
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Розетка круглая
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Розетка круглая
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Розетка круглая
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Розетка круглая
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Розетка круглая
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Розетка круглая
						.sidebar-list
							.sidebar-list__head Аксессуары к дверным ручкам
							.sidebar-list__body
								ul.sidebar-filter.checkbox-filter
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Поворотники WC
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Накладки PZ
						.sidebar-list(data-active-list)
							.sidebar-list__head
								span.filter-name Бренд
								button.filter-more(data-more)
									span.filter-more__text Еще
									span.filter-less__text Скрыть
									span.filter-more__val +10
							.sidebar-list__body
								ul.sidebar-filter.checkbox-filter
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Бренд 1
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Бренд 2
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Бренд 3
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Бренд 4
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Бренд 5
									li.sidebar-filter__item.filter-hidden
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Бренд 6
									li.sidebar-filter__item.filter-hidden
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Бренд 7
									li.sidebar-filter__item.filter-hidden
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Бренд 8
									li.sidebar-filter__item.filter-hidden
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Бренд 9
						.sidebar-list
							.sidebar-list__head Цвет
							.sidebar-list__body
								ul.sidebar-filter.checkbox-filter
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Однотонные
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Комбинированные
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text С декором
						.sidebar-list
							.sidebar-list__head Наличие
							.sidebar-list__body
								ul.sidebar-filter.checkbox-filter
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text В наличии
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Под заказ
						.sidebar-list
							.sidebar-list__head Область приминения
							.sidebar-list__body
								ul.sidebar-filter.checkbox-filter
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Для входных деревянных дверей
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Для входных металличеких дверей
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Для межкомнатных деревянных дверей
						.sidebar-list
							.sidebar-list__head Гарантия
							.sidebar-list__body
								ul.sidebar-filter.checkbox-filter
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Гарантия на 1 год
				.col-lg-9
					.catalog-products
						.catalog-header
							.catalog-header__title
								h1.catalog-title.proba-family.text-48 Дверные ручки
							.filter-sidebar-btn.d-none
								.catalog-tags__item
									a(href="#").catalog-tags__link
										span.catalog-tags__name Фильтры
										i.icon-close
							.catalog-header__sorting
								.catalog-sorting
									label(for="sorting").sorting-label Сортировка:
									select#sorting.select
										option Тип сортировки
										option Цена
										option Цена
										option Цена
						.catalog-tags
							ul.catalog-tags__list
								li.catalog-tags__item
									a(href="#").catalog-tags__link
										span.catalog-tags__name Розетка круглая
										i.icon-close
								li.catalog-tags__item
									a(href="#").catalog-tags__link
										span.catalog-tags__name Кнобы
										i.icon-close
								li.catalog-tags__item
									button(href="#").catalog-tags__link.catalog-tags__filter-reset
										span.catalog-tags__name Очистить фильтры

						.row.catalog-products__row
							.col-xl-4.col-lg-6
								.catalog-products__tile.product-tile.product-tile__not-available
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/2.png", alt="Ручка дверная").product-tile__img
									.products-tile__info
										a(href="product-card.html").product-tile__title Дверная ручка
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__not.product-availability__status
												i.icon-close
												span Снято с производства
							.col-xl-4.col-lg-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/1.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#28B3A1;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:rgba(160, 157, 214, 1);")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#E196E8")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#C4C4C4;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3A71FF;")
											li.colors-list__item.colors-item__count
												a(href="#").colors-slider__item.color
													.color-item
														span +27
									.products-tile__info
										a(href="product-card.html").product-tile__title Ручка дверна
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наличии
							.col-xl-4.col-lg-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/3.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#28B3A1;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:rgba(160, 157, 214, 1);")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#E196E8")
									.products-tile__info
										a(href="product-card.html").product-tile__title Длинное название ручки которая таки на дверь
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наличии
							.col-xl-4.col-lg-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/4.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3C3C3C;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#B8B9B8;")
									.products-tile__info
										a(href="product-card.html").product-tile__title Длинное название ручки которая таки на дверь
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наличии
							.col-xl-4.col-lg-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/5.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3C3C3C;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#B8B9B8;")
									.products-tile__info
										a(href="product-card.html").product-tile__title Длинное название ручки которая таки на дверь
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наличии
							.col-xl-4.col-lg-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/6.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3C3C3C;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#B8B9B8;")
									.products-tile__info
										a(href="product-card.html").product-tile__title Длинное название ручки которая таки на дверь
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__order.product-availability__status
												i.icon-truck
												span Под заказ
							.col-xl-4.col-lg-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/7.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3C3C3C;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#B8B9B8;")
									.products-tile__info
										a(href="product-card.html").product-tile__title Длинное название ручки которая таки на дверь
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наличии
							.col-xl-4.col-lg-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/8.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3C3C3C;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#B8B9B8;")
									.products-tile__info
										a(href="product-card.html").product-tile__title Длинное название ручки которая таки на дверь
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наличии
							.col-xl-4.col-lg-6
								.catalog-products__tile.product-tile
									.product-tile__thumb
										a(href="product-card.html").product-tile__picture
											img(src="./img/product-thumbs/9.png", alt="Ручка дверная").product-tile__img
									.product-tile__colors.colors
										ul.colors-list
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#3C3C3C;")
											li.colors-list__item
												a(href="#").colors-slider__item.color
													.color-item(style="background-color:#B8B9B8;")
									.products-tile__info
										a(href="product-card.html").product-tile__title Длинное название ручки которая таки на дверь
											span.product-tile__brand.ml-1 DND Quattro
										.product-tile__availability.product-availability
											.product-availability__stock.product-availability__status
												i.icon-check
												span В наличии

						include ./partials/pagination




	include ./partials/form-section