extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'World Spa - About - FAQS'
	-var whatPage = 'FAQS'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	section.hero-section
		.faq
			.container.faqs-container
				.textReveal.overflow-hidden
					h1.text.text-family-silk.faq-title FAQs

				.faq-accodion#accordion
					.faq-accordion-item.faq-item
						.textReveal.overflow-hidden
							#headingOne.faq-item-header
								button.btn.btn-link.text-family-silk(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
									span 1. Frequently asked questions with numbering
									svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
										rect(fill='none' height='24' width='24')
										path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
						#collapseOne.collapse.show(aria-labelledby='headingOne' data-parent='#accordion')
							.faq-item-body
								.faq-item-body__title
									.textReveal.overflow-hidden
										p.mb-4 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
									.textReveal.overflow-hidden
										.faq-item-body__subtitle.mb-4 Sub-section header
									.textReveal.overflow-hidden
										p.mb-4 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					.faq-accordion-item.faq-item
						#headingOne.faq-item-header
							.textReveal.overflow-hidden
								button.btn.btn-link.text-family-silk(data-toggle='collapse' data-target='#collapseTwo' aria-expanded='false' aria-controls='collapseTwo')
									span 2. Frequently asked questions with numbering
									svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
										rect(fill='none' height='24' width='24')
										path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
						#collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordion')
							.faq-item-body
								.faq-item-body__title
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								.faq-item-body__subtitle.mb-4 Sub-section header
								p.mb-4 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					.faq-accordion-item.faq-item
						#headingOne.faq-item-header
							.textReveal.overflow-hidden
								button.btn.btn-link.text-family-silk(data-toggle='collapse' data-target='#collapseThree' aria-expanded='false' aria-controls='collapseThree')
									span 3. Frequently asked questions with numbering
									svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
										rect(fill='none' height='24' width='24')
										path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
						#collapseThree.collapse(aria-labelledby='headingThree' data-parent='#accordion')
							.faq-item-body
								.faq-item-body__title
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								.faq-item-body__subtitle.mb-4 Sub-section header
								p.mb-4 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					.faq-accordion-item.faq-item
						#headingOne.faq-item-header
							.textReveal.overflow-hidden
								button.btn.btn-link.text-family-silk(data-toggle='collapse' data-target='#collapseFour' aria-expanded='false' aria-controls='collapseFour')
									span 4. Frequently asked questions with numbering
									svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
										rect(fill='none' height='24' width='24')
										path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
						#collapseFour.collapse(aria-labelledby='headingFour' data-parent='#accordion')
							.faq-item-body
								.faq-item-body__title
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								.faq-item-body__subtitle.mb-4 Sub-section header
								p.mb-4 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					.faq-accordion-item.faq-item
						#headingOne.faq-item-header
							.textReveal.overflow-hidden
								button.btn.btn-link.text-family-silk(data-toggle='collapse' data-target='#collapseFive' aria-expanded='false' aria-controls='collapseFive')
									span 5. Frequently asked questions with numbering
									svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
										rect(fill='none' height='24' width='24')
										path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
						#collapseFive.collapse(aria-labelledby='headingFive' data-parent='#accordion')
							.faq-item-body
								.faq-item-body__title
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								.faq-item-body__subtitle.mb-4 Sub-section header
								p.mb-4 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
					.faq-accordion-item.faq-item
						#headingOne.faq-item-header
							.textReveal.overflow-hidden
								button.btn.btn-link.text-family-silk(data-toggle='collapse' data-target='#collapseSix' aria-expanded='false' aria-controls='collapseSix')
									span 6. Frequently asked questions with numbering
									svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
										rect(fill='none' height='24' width='24')
										path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
						#collapseSix.collapse(aria-labelledby='headingSix' data-parent='#accordion')
							.faq-item-body
								.faq-item-body__title
									p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								.faq-item-body__subtitle.mb-4 Sub-section header
								p.mb-4 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.

			.faq-contact
				.container
					.textReveal
						.text
							h2.text-family-silk.faq-contact-title.mb-4 Can’t find the answer to your question? Let us know how we can help.

					.textReveal
						.text
							.admission-btn.d-flex.justify-content-center
								button.btn.border-btn
									span Contact us
									svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
										rect(fill='none' height='24' width='24')
										path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')



