extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'World Spa'
  -var whatPage = 'Home'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  section.hero-section
    img(src="./img/hero-bg.jpg" alt="")

  section.about
    .container.container-about
      .textReveal.overflow-hidden
        h1.about-title.text-family-silk.text Lorem ipsum dolor sit amet, consect etur adipiscing elit
      .about-admission.admission
        .overflow-hidden
          .textReveal
            .text
              h5.admission-title.text-family-silk Admission
              p.admission-text.text-family-basis Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint Sed ut perspiciatis unde.
              .text-underline
        .admission-price
          .admission-price__col
            .textReveal
              .text
                .admission-price__title.text-family-basis Weekends
                .admission-price__value.text-family-silk
                  span.admission-price__currency $
                  span.admission-price__number 85
                  span.admission-price__person.d-block.text-family-basis Adult
          .admission-price__col
            .textReveal
              .text
                .admission-price__title.text-family-basis Holidays
                .admission-price__value.text-family-silk
                  span.admission-price__currency $
                  span.admission-price__number 85
                  span.admission-price__person.d-block.text-family-basis Adult

        .textReveal
          .text
            p.admission-text.text-family-basis.text-13.mb-4.pb-1.text-center View our admission and pricing details, along with our Holiday scheduling

        .textReveal
          .text
            .admission-btn.d-flex.justify-content-center
              button.btn.border-btn
                span Book
                svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                  rect(fill='none' height='24' width='24')
                  path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')

      .row
        .col-lg-6.col-md-8.offset-md-2.offset-lg-1
          .overflow-hidden
            .admission-img.reveal
              img(src="./img/bucket.jpg", alt="")
        .col-lg-5.col-md-8.offset-md-2.offset-lg-0
          .admission-info
            .overflow-hidden
              .textReveal
                p.text Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                p.pb-2.text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi.
            .textReveal
              button.btn.border-btn.text
                span View virtual tour
                svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                  rect(fill='none' height='24' width='24')
                  path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')

  section.experience#experience
    .container.container-about
      .overflow-hidden
        .textReveal
          .text
            h2.section-title.text-center.text-family-silk Experience
    .container-fluid.container-slider
      .row
        .col-lg-5
          .slider-info
            .overflow-hidden
              .textReveal
                .text
                  p.pb-2 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  .textReveal
                    button.btn.border-btn.text
                      span Learn more
                      svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                        rect(fill='none' height='24' width='24')
                        path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')

        .big-slider__wrapper
          .exprience-slider.big-slider
            .big-slider__item
              .reveal
                .admission-img.pr-0
                  img(src="./img/hamam.jpg", alt="Hamam image")
              .big-slider__text
                h3.big-slider__item-title Hamam
            .big-slider__item
              img(src="./img/girl.jpg", alt="Hamam image")
              .big-slider__text
                h3.big-slider__item-title Girl
            .big-slider__item
              img(src="./img/hamam.jpg", alt="Hamam image")
              .big-slider__text
                h3.big-slider__item-title Hamam
            .big-slider__item
              img(src="./img/girl.jpg", alt="Hamam image")
              .big-slider__text
                h3.big-slider__item-title Something
            .big-slider__item
              img(src="./img/hamam.jpg", alt="Hamam image")
              .big-slider__text
                h3.big-slider__item-title Hamam

  section.map-floor
    .container
      .overflow-hidden
        .reveal
          .admission-img.pr-0
            img(src="./img/map.jpg", alt="")


  section.girl.trigger
    .overflow-hidden
      .reveal
        .admission-img.pr-0
          img(src="./img/girl.jpg", alt="Photo of girl")
  section.spa-treatments#spa
    .container.spa-container
      .spa-treatments__header
        .overflow-hidden
          .textReveal
            .text
              h3.section-title Spa Treatments
        .textReveal
          .text
            button.btn.border-btn
              span View all treatments
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
    .spa-slider
      .spa-slider__item
        .spa-slider__card
          .spa-slider__card-img
            .reveal
              .admission-img.pr-0
                img(src="./img/treatment1.jpg", alt="Treatment")
          .spa-slider__card-info
            h5.spa-slider__card-title.text-family-silk Body Massages
            button.btn.btn-learn
              span Learn more
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
            button.btn.border-btn
              span Book
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
      .spa-slider__item
        .spa-slider__card
          .spa-slider__card-img
            .reveal
              .admission-img.pr-0
                img(src="./img/treatment2.png", alt="Treatment")
          .spa-slider__card-info
            h5.spa-slider__card-title.text-family-silk Spa Journeys
            button.btn.btn-learn
              span Learn more
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
            button.btn.border-btn
              span Book
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
      .spa-slider__item
        .spa-slider__card
          .spa-slider__card-img
            .reveal
              .admission-img.pr-0
                img(src="./img/treatment3.png", alt="Treatment")
          .spa-slider__card-info
            h5.spa-slider__card-title.text-family-silk Spa Journeys
            button.btn.btn-learn
              span Learn more
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
            button.btn.border-btn
              span Book
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
      .spa-slider__item
        .spa-slider__card
          .spa-slider__card-img
            .reveal
              .admission-img.pr-0
                img(src="./img/treatment2.png", alt="Treatment")
          .spa-slider__card-info
            h5.spa-slider__card-title.text-family-silk Body Massages
            button.btn.btn-learn
              span Learn more
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
            button.btn.border-btn
              span Book
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
      .spa-slider__item
        .spa-slider__card
          .spa-slider__card-img
            .reveal
              .admission-img.pr-0
                img(src="./img/treatment3.png", alt="Treatment")
          .spa-slider__card-info
            h5.spa-slider__card-title.text-family-silk Spa Journeys
            button.btn.btn-learn
              span Learn more
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
            button.btn.border-btn
              span Book
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
      .spa-slider__item
        .spa-slider__card
          .spa-slider__card-img
            .reveal
              .admission-img.pr-0
                img(src="./img/treatment1.jpg", alt="Treatment")
          .spa-slider__card-info
            h5.spa-slider__card-title.text-family-silk Spa Journeys
            button.btn.btn-learn
              span Learn more
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
            button.btn.border-btn
              span Book
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')

  section.experience.dining#dining
    .container-dining
      .overflow-hidden
        .textReveal
          .text
            h2.section-title.text-family-silk Dining at World Spa

      .dining-slider
        .dining-slider__item
          .dining-slider__info.admission-info.pl-2
            .overflow-hidden
              .textReveal
                .text
                  p.pb-2 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .textReveal
              .text.d-flex.flex-column
                button.btn.btn-learn.pl-0.text-left.justify-content-start.mb-4
                  span Learn more
                  svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                    rect(fill='none' height='24' width='24')
                    path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
                button.btn.border-btn
                  span Reserve
                  svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                    rect(fill='none' height='24' width='24')
                    path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
          .dining-slider__img
            .reveal
              .admission-img.pr-0
                img(src="./img/food.jpg", alt="")
            .big-slider__text
              h3.big-slider__item-title Ren Restaurant
        .dining-slider__item
          .dining-slider__info.admission-info.pl-2
            .overflow-hidden
              .textReveal
                .text
                  p.pb-2 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .textReveal
              .text.d-flex.flex-column
                button.btn.btn-learn.pl-0.text-left.justify-content-start.mb-4
                  span Learn more
                  svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                    rect(fill='none' height='24' width='24')
                    path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
                button.btn.border-btn
                  span Reserve
                  svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                    rect(fill='none' height='24' width='24')
                    path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
          .dining-slider__img
            img(src="./img/girl.jpg", alt="")
            .big-slider__text
              h3.big-slider__item-title WorldSpa Lounge
        .dining-slider__item
          .dining-slider__info.admission-info.pl-2
            .overflow-hidden
              .textReveal
                .text
                  p.pb-2 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            .textReveal
              .text.d-flex.flex-column
                button.btn.btn-learn.pl-0.text-left.justify-content-start.mb-4
                  span Learn more
                  svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                    rect(fill='none' height='24' width='24')
                    path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
                button.btn.border-btn
                  span Reserve
                  svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                    rect(fill='none' height='24' width='24')
                    path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
          .dining-slider__img
            img(src="./img/food.jpg", alt="")
            .big-slider__text
              h3.big-slider__item-title Ren Restaurant


  section.member#member
    .container.container-member
      .row
        .col-lg-5.col-md-8.offset-md-2.offset-lg-1
          .overflow-hidden
            .reveal
              .member-info__img.admission-img
                img(src="./img/girls.jpg", alt="Girls in hamam photo")
        .col-lg-5.col-md-8.offset-md-2.offset-lg-0
          .member-info
            .overflow-hidden
              .textReveal
                .text
                  p.member-info__text
                    a(href="#") Become a member
                    br
                    | to experience all the privileges and open up a whole new world of relaxation.
            .textReveal
              .text
                button.btn.border-btn
                  span Join now
                  svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                    rect(fill='none' height='24' width='24')
                    path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')

  section.shop#shop
    .container.container-shop
      .shop-header
        .overflow-hidden
          .textReveal
            .text
              h2.section-title.text-family-silk Gift Shop
        .textReveal
          .text
            button.btn.border-btn
              span View all
              svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                rect(fill='none' height='24' width='24')
                path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')

      .row
        .col-lg-3.col-6
          .overflow-hidden
            .textReveal.pl-2
              .text
                .shop-card
                  a.shop-card__img(href="#")
                    img(src="./img/gift1.png", alt="Shop product")
                  .shop-card__body
                    .shop-card__title Item Name 1

                    button.btn.btn-learn.pl-0
                      span Learn more
                      svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                        rect(fill='none' height='24' width='24')
                        path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
        .col-lg-3.col-6
          .overflow-hidden
            .textReveal.pl-2
              .text
                .shop-card
                  a.shop-card__img(href="#")
                    img(src="./img/gift2.png", alt="Shop product")
                  .shop-card__body
                    .shop-card__title Item Name 2

                    button.btn.btn-learn.pl-0
                      span Learn more
                      svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                        rect(fill='none' height='24' width='24')
                        path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
        .col-lg-3.col-6
          .overflow-hidden
            .textReveal.pl-2
              .text
                .shop-card
                  a.shop-card__img(href="#")
                    img(src="./img/gift3.png", alt="Shop product")
                  .shop-card__body
                    .shop-card__title Item Name 3

                    button.btn.btn-learn.pl-0
                      span Learn more
                      svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                        rect(fill='none' height='24' width='24')
                        path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
        .col-lg-3.col-6
          .overflow-hidden
            .textReveal.pl-2
              .text
                .shop-card
                  a.shop-card__img(href="#")
                    img(src="./img/gift4.png", alt="Shop product")
                  .shop-card__body
                    .shop-card__title Item Name 4

                    button.btn.btn-learn.pl-0
                      span Learn more
                      svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
                        rect(fill='none' height='24' width='24')
                        path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')

