extends partials/layout

//- Override default config variables
append config

  //- ********** Settings **********
  //- ==============================
  -var pageTitle = 'Home'
  -var whatPage = 'Home'
  //- ==============================
  //- ********* Settings END *******

//- Page Content
block content
  section.hero
    .basic-slider.hero-slider
      .basic-slider__item.hero-slider__item(style="background-image: url('./img/hero-slider/hero-slide1.jpg')")
        .container
          .basic-slider__caption.hero-slider__caption
            h1.title-big.basic-slider__title.hero-slider__title.proba-family Ми відкриваємо двері
            p.text-24.basic-slider__text.hero-slider__text
              span.text-accent.d-block.lh-36 Celeste Trade
              span.lh-36 Дистриб’ютор дверної фурнітури в Україні
      .basic-slider__item.hero-slider__item(style="background-image: url('./img/hero-slider/hero-slide1.jpg')")
        .container
          .basic-slider__caption.hero-slider__caption
            h1.title-big.basic-slider__title.hero-slider__title.proba-family Ми відкриваємо двері
            p.text-24.basic-slider__text.hero-slider__text
              span.text-accent.d-block.lh-36 Celeste Trade
              span.lh-36 Дистриб’ютор дверної фурнітури в Україні
      .basic-slider__item.hero-slider__item(style="background-image: url('./img/hero-slider/hero-slide1.jpg')")
        .container
          .basic-slider__caption.hero-slider__caption
            h1.title-big.basic-slider__title.hero-slider__title.proba-family Ми відкриваємо двері
            p.text-24.basic-slider__text.hero-slider__text
              span.text-accent.d-block.lh-36 Celeste Trade
              span.lh-36 Дистриб’ютор дверної фурнітури в Україні

    .basic-slider__controls.hero-slider__controls.slider-controls.container
      .slider-controls__row
        .basic-slider__dots.hero-slider__dots
        .basic-slider__nav.hero-slider__nav
          button.basic-controls__prev.hero-controls__prev.hero-control.basic-slider__arrow
            i.icon-chevron-left
          button.basic-controls__next.hero-controls__next.hero-control.basic-slider__arrow
            i.icon-chevron-right

  section.products
    .container
      h3.text-48.proba-family.products-title Продукція
      .row.products-slider
        .col-lg-4.col-md-6
          .products-item
            .product-item__thumb
              img(src="./img/products/cylinder.png", alt="Фото Продукція")
            .product-item__body
              a(href="#").product-item__body-inner
                .product-item__body-title.text-24 Циліндри
                .product-item__body-subtitle.text-24 Захист на будь який смак.
                .product-item__body-text.text-18 Ідеальне рішення для кожної двері.
                .product-item__body-icon
                  img(src="./img/arrow.svg", alt="")
        .col-lg-4.col-md-6
          .products-item
            .product-item__thumb
              img(src="./img/products/handles.png", alt="Фото Продукція")
            .product-item__body
              a(href="#").product-item__body-inner
                .product-item__body-title.text-24 Ручки
                .product-item__body-subtitle.text-24 Ми відкриваємо двері.
                .product-item__body-text.text-18 Додайте комфорту та стилю вашій оселі.
                .product-item__body-icon
                  img(src="./img/arrow.svg", alt="")
        .col-lg-4.col-md-6
          .products-item
            .product-item__thumb
              img(src="./img/products/loops.png", alt="Фото Продукція")
            .product-item__body
              a(href="#").product-item__body-inner
                .product-item__body-title.text-24 Петлі
                .product-item__body-subtitle.text-24 Тримають ваші двері.
                .product-item__body-text.text-18 Такі різні, непомітні та функціональні.
                .product-item__body-icon
                  img(src="./img/arrow.svg", alt="")
        .col-lg-4.col-md-6
          .products-item.products-item__reverse
            .product-item__thumb
              img(src="./img/products/accessories.png", alt="Фото Продукція")
            .product-item__body
              a(href="#").product-item__body-inner
                .product-item__body-title.text-24 Аксессуари для дверей
                .product-item__body-subtitle.text-24 Все в порядку.
                .product-item__body-text.text-18 Надійні та такі зручні, що ви навіть не звертаєте на них увагу.
                .product-item__body-icon
                  img(src="./img/arrow.svg", alt="")
        .col-lg-4.col-md-6
          .products-item.products-item__reverse
            .product-item__thumb
              img(src="./img/products/locks.png", alt="Фото Продукція")
            .product-item__body
              a(href="#").product-item__body-inner
                .product-item__body-title.text-24 Замки
                .product-item__body-subtitle.text-24 Все в порядку.
                .product-item__body-text.text-18 Надійні та такі зручні, що ви навіть не звертаєте на них увагу.
                .product-item__body-icon
                  img(src="./img/arrow.svg", alt="")
        .col-lg-4.col-md-6
          .products-item.products-item__reverse
            .product-item__thumb
              img(src="./img/products/closet.png", alt="Фото Продукція")
            .product-item__body
              a(href="#").product-item__body-inner
                .product-item__body-title.text-24.product-item__title-white Розсувні системи
                .product-item__body-subtitle.text-24 Все в порядку.
                .product-item__body-text.text-18 Надійні та такі зручні, що ви навіть не звертаєте на них увагу.
                .product-item__body-icon
                  img(src="./img/arrow.svg", alt="")

  section.fantom
    .basic-slider.fantom-slider
      .basic-slider__item(style="background-image: url('./img/fantoms-slider/fantom1.jpg')")
        .container
          .basic-slider__caption
            h2.title-big.basic-slider__title.proba-family Fantom Hardware
            p.text-24.basic-slider__text
              span.d-block.lh-36 Магнітний дверний стопор
              span.lh-36 Поєднання безпеки та унікальності
      .basic-slider__item(style="background-image: url('./img/fantoms-slider/fantom1.jpg')")
        .container
          .basic-slider__caption
            h2.title-big.basic-slider__title.proba-family Fantom Hardware
            p.text-24.basic-slider__text
              span.d-block.lh-36 Магнітний дверний стопор
              span.lh-36 Поєднання безпеки та унікальності

    .basic-slider__controls.slider-controls.container
      .slider-controls__row
        .basic-slider__dots.fantom-slider__dots
        .basic-slider__nav.fantom-slider__nav
          button.basic-controls__prev.fantom-controls__prev.basic-slider__arrow
            i.icon-chevron-left
          button.basic-controls__next.fantom-controls__next.basic-slider__arrow
            i.icon-chevron-right

  section.promotions
    .container
      .row
        .col-lg-12
          .promotions-inner
            .promotions-inner__header
              h3.text-48.proba-family.products-title Акції
            .promotions-inner__card.promotions-card
              .promotions-card__text
                .promotions-card__text-inner(data-aos="fade-right")
                  .promotions-card__text-description Рушай за мрією разом з Celeste Trade
                  .promotions-card__text-duration Aкція діє з 01.07-31.12
                  .promotions-card__text-icon
                    img(src="./img/arrow.svg", alt="")
              .promotions-card__img
                .promotions-card__img__inner
                  img(src="./img/promotions/promotion1.png", alt="Изображение акции")
                  .promtions-card__title Світ без меж
        .col-lg-12
          .promotions-inner
            .promotions-inner__card.promotions-card.promotions-card-reverse
              .promotions-card__text
                .promotions-card__text-inner(data-aos="fade-left")
                  .promotions-card__text-description Рушай за мрією разом з Celeste Trade
                  .promotions-card__text-duration Aкція діє з 01.07-31.12
                  .promotions-card__text-icon
                    img(src="./img/arrow.svg", alt="")
              .promotions-card__img
                .promotions-card__img__inner
                  img(src="./img/promotions/promotion2.png", alt="Изображение акции")
                  .promtions-card__title Чорна п'ятниця

  section.about-us
    .container
      .row
        .col-lg-6.col-md-7
          .about-us__description
            h3.text-48.proba-family.products-title Про нас
            .about-us__text
              p.text-18 Компанія
                strong  Celeste Trade
                |  - дистриб'ютор європейської дверної фурнітури в  Україні.
              p.text-18 Ми працюємо з сотнями партнерів по всій країні та входимо у ТОП постачальників дверної фурнітури в сегменті medium+ та vip.
              p.text-18 Наша мета - створюючи успішний бізнес, покращувати життя навколо себе: відкриваючи нові можливості; створюючи гармонійні відносини з командою, партнерами, споживачами; надаючи найкращий сервіс та кращий продукт за чесною ціною.
              p.text-18 Ми планомірно працюємо в цьому напрямку, вже понад 13 років пропонуючи високоякісну, стильну і сучасну фурнітуру провідних європейських виробників на ринку України
            a(href="about-us.html").btn.btn-accent Узнать больше
        .col-lg-6.col-md-5
          .about-us__img
            img(src="./img/about-us.png", alt="")

  section.steps.bg-grey
    .container
      h3.text-48.proba-family.products-title Етапи співпраці
      .steps-row
        .steps-col
          .steps-card
            .card-icon.steps-card__icon.steps-card__icon-1(data-aos="rotate-anim")
              img(src="./img/steps/friendship.svg", alt="")
            .steps-card__body
              .steps-card__number
                span 1
              .steps-card__text.text-18 Обсуждаем с вами условия работы и договариваемся о партнерстве
        .steps-col
          .steps-card
            .card-icon.steps-card__icon.steps-card__icon-2(data-aos="rotate-anim")
              img(src="./img/steps/badges.svg", alt="")
            .steps-card__body
              .steps-card__number
                span 2
              .steps-card__text.text-18 Предоставляем вам образцы и рекламные материалы для успешных продаж
        .steps-col
          .steps-card
            .card-icon.steps-card__icon.steps-card__icon-3(data-aos="rotate-anim")
              img(src="./img/steps/person.svg", alt="")
            .steps-card__body
              .steps-card__number
                span 3
              .steps-card__text.text-18 Обучаем ваш персонал работе с продуктом
        .steps-col
          .steps-card
            .card-icon.steps-card__icon.steps-card__icon-4(data-aos="rotate-anim")
              img(src="./img/steps/callcenter.svg", alt="")
            .steps-card__body
              .steps-card__number
                span 4
              .steps-card__text.text-18 Консультируем вас на всех этапах оформления заказа
        .steps-col
          .steps-card
            .card-icon.steps-card__icon.steps-card__icon-5(data-aos="rotate-anim")
              img(src="./img/steps/shield.svg", alt="")
            .steps-card__body
              .steps-card__number
                span 5
              .steps-card__text.text-18 Защищаем вас от демпинга и гарантируем вашу выгоду от сотрудничества с нами
        .steps-col
          .steps-card
            .card-icon.steps-card__icon.steps-card__icon-6(data-aos="rotate-anim")
              img(src="./img/steps/handshake.svg", alt="")
            .steps-card__body
              .steps-card__number
                span 6
              .steps-card__text.text-18 Поддерживаем вас по любому вопросу

  include ./partials/form-section

