extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Новини - Дверна ручка'
	-var whatPage = 'News-article'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	.catalog
		.container
			ul.breadcrumbs
				li.breadcrumbs-item
					a(href="/") Головна
				li.breadcrumbs-item
					a(href="news.html") Новини
				li.breadcrumbs-item
					span Дверна ручка

		article.article-item
			.container
				.article-item__back.d-flex.flex-wrap
					a(href="#").btn.news-btn
						span Назад
			.article-item__container
				.row
					.col-12
						.article-item__header
							h1.catalog-title.proba-family Стаття про дверні ручки чи ще щось
							.article-item__time
								.news-item__date 10 Вересня 2022
								.article-item__clock
									i.icon-clock.mr-3
									span.mr-1 10
									span хвилин
							.article-item__actions
								.article-item__share
									a(href="#").btn.news-btn
										i.icon-facebook
										span Поділитися у Facebook
								.news-item__tags
									a(href="#").btn.news-btn
										span Розетка кругла
									a(href="#").btn.news-btn
										span Кноби
						.article-body
							p
								| Компанія
								b  Celeste Trade
								|  - дистриб'ютор європейської дверної фурнітури в  Україні.
							p Ми працюємо з сотнями партнерів по всій країні та входимо у ТОП постачальників дверної фурнітури в сегменті medium+ та vip.
							p Наша мета - створюючи успішний бізнес, покращувати життя навколо себе: відкриваючи нові можливості; створюючи гармонійні відносини з командою, партнерами, споживачами; надаючи найкращий сервіс та кращий продукт за чесною ціною.
							p Ми планомірно працюємо в цьому напрямку, вже понад 13 років пропонуючи високоякісну, стильну і сучасну фурнітуру провідних європейських виробників на ринку України
							.article-big-img
								img(src="./img/article/article-img.png", alt="")
							p
								b Компанія Celeste Trade - дистриб'ютор європейської дверної фурнітури в  Україні.
							p Ми працюємо з сотнями партнерів по всій країні та входимо у ТОП постачальників дверної фурнітури в сегменті medium+ та vip.
							p Наша мета - створюючи успішний бізнес, покращувати життя навколо себе: відкриваючи нові можливості; створюючи гармонійні відносини з командою, партнерами, споживачами; надаючи найкращий сервіс та кращий продукт за чесною ціною.
							p Ми планомірно працюємо в цьому напрямку, вже понад 13 років пропонуючи високоякісну, стильну і сучасну фурнітуру провідних європейських виробників на ринку України
							.article-double-img.d-flex.flex-wrap
								figure
									img(src="./img/article/article-img2.png", alt="Підпис до зображення")
									figcaption Підпис до зображення
								figure
									img(src="./img/article/article-img3.png", alt="Підпис до зображення")
									figcaption Підпис до зображення
							p
								b Компанія Celeste Trade - дистриб'ютор європейської дверної фурнітури в  Україні.
							p Ми працюємо з сотнями партнерів по всій країні та входимо у ТОП постачальників дверної фурнітури в сегменті medium+ та vip.
							p Наша мета - створюючи успішний бізнес, покращувати життя навколо себе: відкриваючи нові можливості; створюючи гармонійні відносини з командою, партнерами, споживачами; надаючи найкращий сервіс та кращий продукт за чесною ціною.
							p Ми планомірно працюємо в цьому напрямку, вже понад 13 років пропонуючи високоякісну, стильну і сучасну фурнітуру провідних європейських виробників на ринку України
							.article-big-img
								img(src="./img/article/article-img4.png", alt="")
							p
								b Компанія Celeste Trade - дистриб'ютор європейської дверної фурнітури в  Україні.
							p Ми працюємо з сотнями партнерів по всій країні та входимо у ТОП постачальників дверної фурнітури в сегменті medium+ та vip.
							p Наша мета - створюючи успішний бізнес, покращувати життя навколо себе: відкриваючи нові можливості; створюючи гармонійні відносини з командою, партнерами, споживачами; надаючи найкращий сервіс та кращий продукт за чесною ціною.
							p Ми планомірно працюємо в цьому напрямку, вже понад 13 років пропонуючи високоякісну, стильну і сучасну фурнітуру провідних європейських виробників на ринку України

						.article-pagination
							.pagination-inner
								.pagination-prev
									a(href="#").pagination-btn
										i.icon-chevron-left
									a(href="#").proba-family.article-pagination__name Довга назва статті новин новин новин новин
								.pagination-next
									a(href="#").pagination-btn
										i.icon-chevron-right
									a(href="#").proba-family.article-pagination__name Довга назва статті новин новин новин новин




