extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Order complete'
	-var whatPage = 'Order complete'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	section.order-complete-section
		.container
			.row.order-complete
				.col-xl-5.col-lg-6.col-md-12
					h2.text-lg.text-uppercase.mb-4 Спасибо за заказ
					p.order-complete-text Мы готовим для вас заказ, копию заказа мы отправили вам на почту, так же информацию о заказе  вы можете посмотреть в моих заказах.
					.col-12(data-da=".order-mobile, 991.98, last")
						.subscribe-inner.subscribe-order-complete.subscribe
							label.form-label.text-strong(for='subscribeMail') Подпишитесь на новости и акции
							.d-flex.justify-content-between.w-100.flex-wrap
								form.subscribe-form.mb-4
									div.d-flex.align-items-center
										.subscribe-form__input.d-flex
											input#subscribeMail.form-control(type='email' aria-describedby='emailSubscribe' placeholder="Введите e-mail")
											button.btn.btn-border.btn-turq.text-strong(type="submit") Подписаться
								.subscribe-socials.mb-4
									a(href="#").btn.btn-white.btn-icon
										i.grf-facebook
									a(href="#").btn.btn-white.btn-icon
										i.grf-instagram
				.col-xl-6.col-lg-6.col-md-12.order-mobile
					.order-card
						h3.card-title Заказ № 345675
						ul.card-list.m-0.p-0
							li.d-flex
								span.card-list__title Товаров:
								span.card-list__text 4
							li.d-flex
								span.card-list__title Телефон:
								span.card-list__text +380 67 763 64 73
							li.d-flex
								span.card-list__title Получатель:
								span.card-list__text Константин Константиновский
							li.d-flex
								span.card-list__title Доставка:
								span.card-list__text Ул. Пироговская, 34 кв.126
							li.d-flex
								span.card-list__title Комментарий:
								span.card-list__text Стучать 3 раза
							li.d-flex
								span.card-list__title Итого:
								span.card-list__text 8888 грн.

						a(href="#").btn.btn-green.btn-solid Перейти в мои заказы


