extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'World Spa - About - Our story'
	-var whatPage = 'Out story'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	section.hero-section
		img(src="./img/hero-bg.jpg" alt="")
	section.our-story
		.container.about-container
			.row
				.col-lg-6.d-flex.flex-column.justify-content-center
					.our-story__inner.pl-180
						.overflow-hidden
							.textReveal
								h1.section-title Our story
								p.about-text.text-family-basis.mw-430 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.
				.col-lg-6
					.our-story__inner
						.reveal
							.admission-img.our-story__girls.pr-0
								img(src="./img/about/girls.png", alt="")
			.row
				.col-lg-5
					.our-story__inner.our-story__inner-left
						.admission-img.our-story__bucket.reveal.pr-0.mw-415
							img(src="./img/bucket.jpg", alt="")
				.col-lg-7
					.our-story__inner.our-story__inner-right
						.overflow-hidden
							.textReveal.mw-630
								h3.text-family-silk.text-30.mb-lg-5.mb-4 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa.
								p.about-text.text-family-basis Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								p.about-text.text-family-basis Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			.row.flex-column-reverse.flex-lg-row
				.col-lg-5
					.our-story__inner.our-story__inner-left.mb-0
						.overflow-hidden
							.textReveal.mw-415.mw-100
								h3.text-family-silk.text-30.mb-lg-5 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpaqui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque

				.col-lg-7.pr-lg-0.mb-4.mb-lg-0
					.our-story__inner.mb-0
						.reveal
							.admission-img.pr-0
								img(src="./img/press/thermal.jpg", alt="")
			.story-slider__wrapper
				.our-story-slider
					.our-story-slider__item
						.reveal
							.admission-img.pr-0
								img(src="./img/about/slider1.png", alt="")
					.our-story-slider__item
						img(src="./img/about/slider1.png", alt="")
					.our-story-slider__item
						img(src="./img/about/slider1.png", alt="")
					.our-story-slider__item
						img(src="./img/about/slider1.png", alt="")
			.row
				.col-lg-7.offset-lg-5
					.our-story__inner.our-story__inner-right
						.overflow-hidden
							.textReveal.mw-630
								p.about-text.text-family-basis Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
								p.about-text.text-family-basis Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

				.our-story__footer
					.text-underline.mb-4
					.overflow-hidden
						.textReveal
							h3.text-family-silk.our-story__footer-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod te.
								span.text-family-basis Publication name
