extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Партнери Документи'
	-var whatPage = 'Partners Documents'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	.container
		ul.breadcrumbs
			li.breadcrumbs-item
				a(href="/") Головна
			li.breadcrumbs-item
				a(href="partners.html") Партнерам
			li.breadcrumbs-item
				span Документи
	.container
		.row.partners-documents
			.col-12
				.partners-documnets__title
					h1.catalog-title.proba-family Завантажити
			.col-lg-3
				.sidebar
					.sidebar-header.d-lg-none
						.sidebar-header__top
							.sidebar-header__close
								button.btn
									i.icon-close
							.sidebar-header__title Фільтри
							.sidebar-header__clear
								a(href="#").btn.filter-clear
									i.icon-clear
						.sidebar-tags.d-lg-none
								ul.catalog-tags__list
									li.catalog-tags__item
										a(href="#").catalog-tags__link
											span.catalog-tags__name Назва бренду
											i.icon-close
									li.catalog-tags__item
										a(href="#").catalog-tags__link
											span.catalog-tags__name Назва бренду
											i.icon-close
					.sidebar-inner
						.sidebar-list
							.sidebar-list__head Бренд
							.sidebar-list__body
								ul.sidebar-filter.checkbox-filter
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Назва бренду
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Назва бренду
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Назва бренду
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Назва бренду
									li.sidebar-filter__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option
												input(type="checkbox").check__input
												span.check__box
												span.check__text Назва бренду

			.col-lg-9
				.partners-documents__header
					.catalog-header.partners-header
						.catalog-header__sorting
							.filter-sidebar-btn
								.catalog-tags__item
									button.data-toggle.catalog-tags__link.w-100(type='button' data-target='.sidebar' data-classes='active' data-backdrop='true' data-overflow='true')
										span.catalog-tags__name Фільтри
										i.icon-filter
					.tags
						ul.catalog-tags__list
							li.catalog-tags__item
								a(href="#").catalog-tags__link
									span.catalog-tags__name Назва бренду
									i.icon-close
							li.catalog-tags__item
								a(href="#").catalog-tags__link
									span.catalog-tags__name Назва бренду
									i.icon-close
							li.catalog-tags__item
								a(href="#").catalog-tags__link
									span.catalog-tags__name Назва бренду
									i.icon-close
							li.catalog-tags__item
								a(href="#").catalog-tags__link
									span.catalog-tags__name Назва бренду
									i.icon-close
							li.catalog-tags__item
								a(href="#").catalog-tags__link
									span.catalog-tags__name Назва бренду
									i.icon-close
							li.catalog-tags__item
								a(href="#").catalog-tags__link
									span.catalog-tags__name Назва бренду
									i.icon-close
							li.catalog-tags__item
								a(href="#").catalog-tags__link
									span.catalog-tags__name Назва бренду
									i.icon-close
							li.catalog-tags__item
								button(href="#").catalog-tags__link.catalog-tags__filter-reset
									span.catalog-tags__name Очистити фільтри
				.partners-documents__inner
					.partners-documents__brand.brand-document
						.brand-document__header
							h5.proba-family.mb-3 Назва бренду
						.brand-document__tile.document-tile
							.document-tile__inner
								.document-tile__icon
									i.icon-document
								.document-tile__info
									.document-tile__title.proba-family Назва документу
									a(href="#").document-tile__brand.mr-2
										label.text-grey Бренд
										span Kommet
									p.document-tile__year.text-grey.mr-2.mb-0
										label.text-grey Рік:
										span 2022
									p.document-tile__language.text-grey.mr-2.mb-0
										label Мова:
										span Укр
									p.document-tile__size.text-grey.mr-2.mb-0
										label Розмір:
										span 1.2 mb
								.document-tile__action
									a(href="#").document-tile__download
										i.icon-download
										span Завантажити
						.brand-document__tile.document-tile
							.document-tile__inner
								.document-tile__icon
									i.icon-document
								.document-tile__info
									.document-tile__title.proba-family Назва документу
									a(href="#").document-tile__brand.mr-2
										label.text-grey Бренд
										span Kommet
									p.document-tile__year.text-grey.mr-2.mb-0
										label.text-grey Рік:
										span 2022
									p.document-tile__language.text-grey.mr-2.mb-0
										label Мова:
										span Укр
									p.document-tile__size.text-grey.mr-2.mb-0
										label Розмір:
										span 1.2 mb
								.document-tile__action
									a(href="#").document-tile__download
										i.icon-download
										span Завантажити
						.brand-document__tile.document-tile
							.document-tile__inner
								.document-tile__icon
									i.icon-document
								.document-tile__info
									.document-tile__title.proba-family Назва документу
									a(href="#").document-tile__brand.mr-2
										label.text-grey Бренд
										span Kommet
									p.document-tile__year.text-grey.mr-2.mb-0
										label.text-grey Рік:
										span 2022
									p.document-tile__language.text-grey.mr-2.mb-0
										label Мова:
										span Укр
									p.document-tile__size.text-grey.mr-2.mb-0
										label Розмір:
										span 1.2 mb
								.document-tile__action
									a(href="#").document-tile__download
										i.icon-download
										span Завантажити
					.partners-documents__brand.brand-document
						.brand-document__header
							h5.proba-family.mb-3 Назва бренду
						.brand-document__tile.document-tile
							.document-tile__inner
								.document-tile__icon
									i.icon-document
								.document-tile__info
									.document-tile__title.proba-family Назва документу
									a(href="#").document-tile__brand.mr-2
										label.text-grey Бренд
										span Kommet
									p.document-tile__year.text-grey.mr-2.mb-0
										label.text-grey Рік:
										span 2022
									p.document-tile__language.text-grey.mr-2.mb-0
										label Мова:
										span Укр
									p.document-tile__size.text-grey.mr-2.mb-0
										label Розмір:
										span 1.2 mb
								.document-tile__action
									a(href="#").document-tile__download
										i.icon-download
										span Завантажити
						.brand-document__tile.document-tile
							.document-tile__inner
								.document-tile__icon
									i.icon-document
								.document-tile__info
									.document-tile__title.proba-family Назва документу
									a(href="#").document-tile__brand.mr-2
										label.text-grey Бренд
										span Kommet
									p.document-tile__year.text-grey.mr-2.mb-0
										label.text-grey Рік:
										span 2022
									p.document-tile__language.text-grey.mr-2.mb-0
										label Мова:
										span Укр
									p.document-tile__size.text-grey.mr-2.mb-0
										label Розмір:
										span 1.2 mb
								.document-tile__action
									a(href="#").document-tile__download
										i.icon-download
										span Завантажити
						.brand-document__tile.document-tile
							.document-tile__inner
								.document-tile__icon
									i.icon-document
								.document-tile__info
									.document-tile__title.proba-family Назва документу
									a(href="#").document-tile__brand.mr-2
										label.text-grey Бренд
										span Kommet
									p.document-tile__year.text-grey.mr-2.mb-0
										label.text-grey Рік:
										span 2022
									p.document-tile__language.text-grey.mr-2.mb-0
										label Мова:
										span Укр
									p.document-tile__size.text-grey.mr-2.mb-0
										label Розмір:
										span 1.2 mb
								.document-tile__action
									a(href="#").document-tile__download
										i.icon-download
										span Завантажити

	section.write-us.bg-beige
		.container
			.write-us__inner
				h4.text-36.proba-family Стати нашим партнером
				p.text-18 Приєднуйтесь до нас і ознайомтесь з широкими можливостями, які ми надаємо нашим партнерам. Ми будуємо довгострокові відносини на основі відкритого діалогу та взаємної довіри.
				.write-us__btn
					a(href="partners-documents.html").btn.btn-accent Дізнатися більше






