extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Партнери'
	-var whatPage = 'Partners'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	.container
		ul.breadcrumbs
			li.breadcrumbs-item
				a(href="/") Головна
			li.breadcrumbs-item
				span Партнерам

	section.partners
		.container
			.partners-header
				h1.title-big.proba-family.text-center Співпраця
				h2.subtitle.text-center Вже понад 13 років Celeste Trade є одним за провідних національних дистриб’юторів дверної фурнітури преміум якості.
			.partners-body
				.partners-slider-wrapper
					.partners-slider
						.partners-slider__item
							.partners-slider__item-img
								img(src="./img/partners/1.png", alt="")
						.partners-slider__item
							.partners-slider__item-img
								img(src="./img/partners/2.png", alt="")
						.partners-slider__item
							.partners-slider__item-img
								img(src="./img/partners/3.png", alt="")
						.partners-slider__item
							.partners-slider__item-img
								img(src="./img/partners/1.png", alt="")
						.partners-slider__item
							.partners-slider__item-img
								img(src="./img/partners/2.png", alt="")
						.partners-slider__item
							.partners-slider__item-img
								img(src="./img/partners/3.png", alt="")
					ul.partners-arrows
						li.partners-arrow.partners-prev
							button.parnters-arrow__btn.basic-slider__arrow(type="button")
								i.icon-chevron-left
						li.partners-arrow.partners-next
							button.parnters-arrow__btn.basic-slider__arrow(type="button")
								i.icon-chevron-right

				.partners-text-wrapper
					p.partners-text Компанія Celeste Trade пропонує широкий асортимент високоякісних товарів та готові рішення для: виробників дверей, салонів з продажу дверей та фурнітури, спеціалізованих магазинів фурнітури, будівельних компаній, архітекторів та дизайнерів інтер'єрів.

					p.partners-text Фокусом нашої діяльності є потреби та уподобання споживача. Ми крокуємо в ногу з сучасними світовими тенденціями, постійно оновлюючи портфель продуктів та доповнюючи його новими цікавими рішеннями.

					p.partners-text На даний час наш склад налічує більше 5000 позицій, а асортимент дає можливість замовити понад 10 000 різноманітних продуктів.

					p.partners-text
						spanp.partners-text.d-block.text-center.mb-0 Ми більше ніж дистрибуція!
						| Ми розуміємо, що успішною компанія стає лише тоді, коли вона робить успішними своїх партнерів.

					p.partners-text Разом з нашими партнерами ми вчимося та зростаємо, відкриваємо нові продукти та можливості, відпочиваємо та розширюємо кордони, даруємо радість та драйв .

					p.partners-text Наразі наші товари представлені у 36 населених пунктах України, а кількість партнерів налічує вже більше 300 компаній. Ми цінуємо наших партнерів і пропонуємо вам долучитись до команди та розділити з нами успіх в майбутньому.

	section.become-partner
		.container
			h2.text-36.proba-family.text-center Хочу стати партнером
			.become-partner__form
				form(action="")#becomePartner
					.d-flex
						.form-group
							label(for='becomeParnterName').visually-hidden ПІБ
							input#becomeParnterName.form-control(type='text' placeholder='ПІБ')
						.form-group
							label(for='becomeParnterName').visually-hidden Телефон
							input#becomeParnterName.form-control.phone-input(type='tel' placeholder='Телефон')
					.form-group
						label(for='exampleFormControlTextarea1').visually-hidden Коментар
						textarea#exampleFormControlTextarea1.form-control(rows='6' placeholder="Коментар")
					button(type="submit").btn.btn-accent Написати нам
	section.write-us.bg-black
		.container
			.write-us__inner
				h4.text-36.text-white.proba-family Завантажити документи
				p.text-18.text-white Давно з'ясовано, що при оцінці дизайну та композиції текст, що читається, заважає зосередитися.
				.write-us__btn
					a(href="partners-documents.html").btn.btn-accent Документи






