extends partials/layout-admin

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Оформлення попереднього замовлення'
	-var whatPage = 'Admin Checkout'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	.preorder-wrapper
		.container
			ul.breadcrumbs
				li.breadcrumbs-item
					a(href="/") Головна
				li.breadcrumbs-item
					span Оформлення попереднього замовлення
			form(action="").row.preorder-checkout
				.col-12
					h1.catalog-title.proba-family Оформлення попереднього замовлення
				.col-lg-7
					.preorder-checkout__card.checkout-card
						a(href="#").checkbox-filter__link.mb-3
							label.check.option
								input(type="checkbox").check__input
								span.check__box
								span.check__text.text-bold.text-dark Одержувач інша людина
						.row.checkout-card__contacts.checkout-contacts
							.col-12
								.checkout-input
									span.d-block.checkout-input__label Назва дилера
									input.admin-input(type="text" value="Ruslan-2345" disabled)
							.col-md-6
								.checkout-input
									span.d-block.checkout-input__label Ім'я
									input.admin-input(type="text" value="Ruslan-2345" disabled)
							.col-md-6
								.checkout-input
									span.d-block.checkout-input__label Прізвище
									input.admin-input(type="text" value="Ruslan-2345" disabled)
							.col-12
								.checkout-input
									span.d-block.checkout-input__label Email
									input.admin-input(type="email" value="mail@mail.com" disabled)
							.col-12
								.checkout-input
									span.d-block.checkout-input__label Телефон
									input.admin-input(type="tel" value="+380 68 567 65 67" disabled)
						.row.checkout-card__delivery.checkout-delivery
							.col-12
								.admin-settings__title.text-bold.text-dark Доставка
									.checkout-delivery__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option.check-rounded(for="radioBtn1")
												input(type="radio" autocomplete="off" name="btnradio" checked)#radioBtn1.check__input
												span.check__box
												span.check__box-big
												span.check__text ул. Пироговский шлях, 34, офис. 17 корпус 2, этаж 4
									.checkout-delivery__item
										a(href="#").sidebar-checkbox.checkbox-filter__link
											label.check.option.check-rounded(for="radioBtn2")
												input(type="radio" autocomplete="off" name="btnradio")#radioBtn2.check__input
												span.check__box
												span.check__box-big
												span.check__text ул. Пироговский шлях, 34, офис. 17 корпус 2, этаж 4
							.col-12
								.checkout-delivery__add
									a(href="#").btn.btn-grey.w-100 Додати адресу
							.col-12
								.checkout-delivery__shipping
									a(href="#").checkbox-filter__link.mb-3
										label.check.option.check-rounded
											input(type="checkbox").check__input
											span.check__box
											span.check__text.text-dark На відділення перевізника
									.admin-settings__select
										span.d-block.admin-settings__label
											| Перевізник
											span *
										select#carrier(name="")
											option(value="") Нова пошта
											option(value="") Гюнсел
											option(value="") Автолюкс
							.col-md-6
								.checkout-input
									label.d-block.checkout-input__label(for="order-city")
										| Місто
										span *
									input.admin-input(type="text")#order-city
							.col-md-6
								.checkout-input
									label.d-block.checkout-input__label(for="order-department")
										| Відділення
										span *
									input.admin-input(type="number")#order-department
							.col-12
								.admin-settings__title.text-bold.text-dark Коментар до замовлення
								.checkout-input.checkout-textarea
									textarea(name="", cols="30", rows="8")

				.col-lg-5.checkout-price
					.checkout-card.checkout-card__prices
						.checkout-card__prices-header
							.text-bold.text-dark Ваше замовлення
							a(href="#").checkout-card__edit Редагувати
						.checkout-card__prices-body
							.checkout-card__prices-item.card__prices-item
								span.card__prices-item__label Разом у ₴ (гривна):
								span.text-bold.text-dark.proba-family 6744₴
							.checkout-card__prices-item.card__prices-item
								span.card__prices-item__label Разом у $ (доллар):
								span.text-bold.text-dark.proba-family 1478$
							.checkout-card__prices-item.card__prices-item
								span.card__prices-item__label Разом у $ (евро):
								span.text-bold.text-dark.proba-family 1478€
							.checkout-card__prices-item.card__prices-item
								spa.card__prices-item__labeln Разом РРЦ:
								span.text-bold.text-dark.proba-family 6744₴
						button(type="submit").btn.btn-accent.w-100
							span Підтвердити замовлення
						.checkout-card__prices-footer
							p Завершуючи оформлення попереднього замовлення, я надаю свою згоду на обробку персональних даних та підтверджую, що ознайомлена (-ий) з термінами зберігання товару відповідно до
								a(href="#") умов.

			.cart-back
				a(href="#").cart-back__btn
					i.icon-chevron-left
					span Повернутись
