extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'World Spa - Press'
	-var whatPage = 'Press'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	section.press
		.container.press-container
			h1.press-title Press
			.row
				.col-lg-7.col-md-6
					.press-item
						.press-item__header
							.press-item__title Vogue
							.text-underline
						.press-item__body
							.press-item__description
								.textReveal
									.text
										a(href="#").press-item__link This is the place holder for a publication title, the length of the title is as long as the article does.
							.overflow-hidden
								.admission-img.press-item__img.reveal
									img(src="./img/press/thermal.jpg", alt="Vogue")
									a(href="#").btn.border-btn
										span Learn more
										svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
											rect(fill='none' height='24' width='24')
											path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
				.col-lg-5.col-md-6
					.press-item.press-item__sm.ml-auto
						.press-item__header
							.press-item__title Travel + Leisure
							.text-underline
						.press-item__body
							.press-item__description
								.textReveal
									.text
										a(href="#").press-item__link This is the place holder for a publication title, the length of the title is as long as the article does.
							.overflow-hidden
								.admission-img.press-item__img.reveal
									img(src="./img/treatment2.png", alt="Travel + Leisure")
									a(href="#").btn.border-btn
										span Learn more
										svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
											rect(fill='none' height='24' width='24')
											path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
				.col-lg-5.col-md-6
					.press-item.press-item__sm.mr-auto
						.press-item__header
							.press-item__title The New York Times Style Magazine
							.text-underline
						.press-item__body
							.press-item__description
								.textReveal
									.text
										a(href="#").press-item__link This is the place holder for a publication title, the length of the title is as long as the article does.
							.overflow-hidden
								.admission-img.press-item__img.reveal
									img(src="./img/press/girl.jpg", alt="The New York Times Style Magazine")
									a(href="#").btn.border-btn
										span Learn more
										svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
											rect(fill='none' height='24' width='24')
											path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
				.col-lg-7.col-md-6
					.press-item
						.press-item__header
							.press-item__title Forbes
							.text-underline
						.press-item__body
							.press-item__description
								.textReveal
									.text
										a(href="#").press-item__link This is the place holder for a publication title, the length of the title is as long as the article does.
							.overflow-hidden
								.admission-img.press-item__img.reveal
									img(src="./img/press/hall.jpg", alt="Forbes")
									a(href="#").btn.border-btn
										span Learn more
										svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
											rect(fill='none' height='24' width='24')
											path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
				.col-lg-7.col-md-6
					.press-item
						.press-item__header
							.press-item__title Luxury Travel Advisor
							.text-underline
						.press-item__body
							.press-item__description
								.textReveal
									.text
										a(href="#").press-item__link This is the place holder for a publication title, the length of the title is as long as the article does.
							.overflow-hidden
								.admission-img.press-item__img.reveal
									img(src="./img/press/restaurant.jpg", alt="Luxury Travel Advisor")
									a(href="#").btn.border-btn
										span Learn more
										svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
											rect(fill='none' height='24' width='24')
											path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
				.col-lg-5.col-md-6
					.press-item.press-item__sm.ml-auto
						.press-item__header
							.press-item__title Elite Travelor
							.text-underline
						.press-item__body
							.press-item__description
								.textReveal
									.text
										a(href="#").press-item__link This is the place holder for a publication title, the length of the title is as long as the article does.
							.overflow-hidden
								.admission-img.press-item__img.reveal
									img(src="./img/press/bath.jpg", alt="Elite Travelor")
									a(href="#").btn.border-btn
										span Learn more
										svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
											rect(fill='none' height='24' width='24')
											path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
				.col-lg-5.col-md-6
					.press-item.press-item__sm.mr-auto
						.press-item__header
							.press-item__title The Daily Telegraph
							.text-underline
						.press-item__body
							.press-item__description
								.textReveal
									.text
										a(href="#").press-item__link This is the place holder for a publication title, the length of the title is as long as the article does.
							.overflow-hidden
								.admission-img.press-item__img.reveal
									img(src="./img/press/sauna.jpg", alt="The Daily Telegraph")
									a(href="#").btn.border-btn
										span Learn more
										svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
											rect(fill='none' height='24' width='24')
											path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')
				.col-lg-7.col-md-6
					.press-item
						.press-item__header
							.press-item__title Hospitality Design
							.text-underline
						.press-item__body
							.press-item__description
								.textReveal
									.text
										a(href="#").press-item__link This is the place holder for a publication title, the length of the title is as long as the article does.
							.overflow-hidden
								.admission-img.press-item__img.reveal
									img(src="./img/press/sauna2.jpg", alt="Hospitality Design")
									a(href="#").btn.border-btn
										span Learn more
										svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
											rect(fill='none' height='24' width='24')
											path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')

				.col-12.mb-0
					.load-more-wrapper.d-flex.justify-content-center
						a(href="#").btn.border-btn
							span Load more
							svg(xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' height='24px' viewBox='0 0 24 24' width='24px' fill='#333333')
								rect(fill='none' height='24' width='24')
								path(d='M15,5l-1.41,1.41L18.17,11H2V13h16.17l-4.59,4.59L15,19l7-7L15,5z')



