extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	-var pageTitle = 'Карточка товара'
	-var whatPage = 'Product'
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	h2 TEST
	.product-card-wrapper
		.container
			ul.breadcrumbs
				li.breadcrumbs-item
					a(href="/") Головна
				li.breadcrumbs-item
					a(href="#") Каталог
				li.breadcrumbs-item
					a(href="catalog.html") Ручки
				li.breadcrumbs-item
					span Ручка дверная DND Quattro
			.row.product-card__row
				.product-card__left
					.product-slider-wrapper
						.product-slider
							.product-slider__item.img-zoom
								img(src="./img/product-thumbs/1.png", alt="")
							.product-slider__item.img-zoom
								img(src="./img/product-thumbs/2.png", alt="")
							.product-slider__item.img-zoom
								img(src="./img/product-thumbs/3.png", alt="")
							.product-slider__item.img-zoom
								img(src="./img/product-thumbs/4.png", alt="")
							.product-slider__item.img-zoom
								img(src="./img/product-thumbs/5.png", alt="")
							.product-slider__item.img-zoom
								img(src="./img/product-thumbs/6.png", alt="")
							.product-slider__item.img-zoom
								img(src="./img/product-thumbs/7.png", alt="")
							.product-slider__item.img-zoom
								img(src="./img/product-thumbs/8.png", alt="")
							.product-slider__item.img-zoom
								img(src="./img/product-thumbs/9.png", alt="")
						.product-slider__thumbs
							.product-slider__thumbs-item
								img(src="./img/product-thumbs/1.png", alt="")
							.product-slider__thumbs-item
								img(src="./img/product-thumbs/2.png", alt="")
							.product-slider__thumbs-item
								img(src="./img/product-thumbs/3.png", alt="")
							.product-slider__thumbs-item
								img(src="./img/product-thumbs/4.png", alt="")
							.product-slider__thumbs-item
								img(src="./img/product-thumbs/5.png", alt="")
							.product-slider__thumbs-item
								img(src="./img/product-thumbs/6.png", alt="")
							.product-slider__thumbs-item
								img(src="./img/product-thumbs/7.png", alt="")
							.product-slider__thumbs-item
								img(src="./img/product-thumbs/8.png", alt="")
							.product-slider__thumbs-item
								img(src="./img/product-thumbs/9.png", alt="")

				.product-card__right
					.product-card__about
						.product-card__about-header(data-da=".product-card__row,767,first")
							p.product-card__title Ручка дверна
								span  DND Quattro
							.product-card__id
								p.id-text
									span арт.:
									span.ml-1 87688978
								p.id-text
									span код:
									span.ml-1 00000
								.product-availability
									.product-availability__stock.product-availability__status
										i.icon-check
										span В наявності
						.product-card__selects
							select.select-color(name='state')
								option(value='chrome') Матовий хром
								option(value='black') Чорний
								option(value='nickel') Нікель
								option(value='white') Білий
								option(value='brass') Латунь
								option(value='graphite') Графіт
							select.select-cover(name='state')
								option(value='chrome') Матовий хром
								option(value='black') Чорний
								option(value='nickel') Нікель
								option(value='white') Білий
								option(value='brass') Латунь
								option(value='graphite') Графіт
							select.select-equipment(name='state')
								option(value='wc') з накладкою WC
								option(value='black') Чорний
								option(value='nickel') Нікель
								option(value='white') Білий
								option(value='brass') Латунь
								option(value='graphite') Графіт
						.product-card__description
							#descrAccordion
								.produc-card__description-item.product-description
									#descrAccordionHead.product-description__header
										button.btn.btn-link(data-toggle='collapse' data-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne')
											span Опис
											i.icon-chevron-down-sm
									#collapseOne.collapse.show(aria-labelledby='descrAccordionHead' data-parent='#descrAccordion')
										.product-description__body
											p.product-description__text Ручка дверна DND Quattro є однією з найпопулярніших моделей цього бренду на ринку України. Ця модель відрізняється вдалим поєднанням стильного дизайну, якості та ціни. Ручки моделі Quattro виготовлені виключно в Італії з матеріалу ZAMAK, мають багатошарове покриття та  оснащені надійним пружинним механізмом, що робить їх особливо довговічними. Доступні для замовлення у різних варіантах кольорів
						.product-card__description
							#characteristicAccordion
								.produc-card__description-item.product-description
									#characteristicAccordionHead.product-description__header
										button.btn.btn-link(data-toggle='collapse' data-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
											span Характеристики
											i.icon-chevron-down-sm
									#collapseTwo.collapse.show(aria-labelledby='characteristicAccordionHead' data-parent='#characteristicAccordion')
										.product-description__body
											dl.characteristics-list.characteristics
												.characteristics-item
													dt.characteristics-label
														span.product-description__text Тип ручки
													dd.characteristics-value
														span.product-description__text На розетці
												.characteristics-item
													dt.characteristics-label
														span.product-description__text Бренд
													dd.characteristics-value
														span.product-description__text DnD (Італія)
												.characteristics-item
													dt.characteristics-label
														span.product-description__text Колір
													dd.characteristics-value
														span.product-description__text однотонний
												.characteristics-item
													dt.characteristics-label
														span.product-description__text Підходить для
													dd.characteristics-value
														span.product-description__text
															span.d-block вхідних дерев'яних дверей;
															span.d-block вхідних металевий дверей;
															span.d-block міжкімнатних дерев'яних

												.characteristics-item
													dt.characteristics-label
														span.product-description__text Гарантія
													dd.characteristics-value
														span.product-description__text від 5 до 10 років, в залежності від покриття.

			include ./partials/similar-slider
	include ./partials/form-section

