extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	- var PageName = "Акции"
	- var PageID = 'promotions';
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	section.promotion-single
		.inner-header
			.container
				.row
					.col-lg-4.col-md-6.d-flex.align-items-center
						a.order-header-btn(href='promotions.html')
							.back-arrow
								svg(width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M20 8.75H4.7875L11.775 1.7625L10 0L0 10L10 20L11.7625 18.2375L4.7875 11.25H20V8.75Z' fill='#000000')

							span Список акций
					.col-lg-4.col-md-6
						.promotion-single__title
							h1.profile__title.text-strong.text-lg.text-center.text-uppercase Скидка - 10%
							.d-flex.align-items-center.justify-content-center
								// .promotion-single__discount-label Класс скидочного лейбла этой страницы
								label.promotion-single__discount-label.product__card-discount -10%
								span.text-md При заказе с 12:00 до 15:00

		.promotion-single__container
			.container
				.row
					.col-lg-6.col-md-6
						.promotion-single__thumb
							img(src="./img/promotions/promo1.jpg", alt="")
					.col-lg-6.col-md-6
						.promotion-single__info
							.text-md.text-uppercase.text-strong.mb-4 Условие акции
							.promo-text.text-sm.mb-5 З 24 по 30 червня можна замовити сет Монро: Дракон з лососем (рис, норі, філе лосося, крабовий мікс(сурімі, майонез), огірок), Філадельфія в кунжуті (рис, норі, лосось, крем-сир, огірок, білий кунжут), Каліфорнія зі смаженим лососем (рис, норі, білий кунжут, огірок, смажений лосось), Ніжний з сиром (рис, норі, салат Айзберг, крем-сир, соус Сирний, соус Унагі), Вітамін (рис, норі, огірок, авокадо, перець болгарський, салат Айсберг, кунжут чорний) всього за 299 грн за 965г. Звичайна ціна 409 грн.

							.text-md.text-uppercase.text-strong.mb-4 срок действия акции
							span.d-block.promotions-time.text-xs.text-green.text-strong Постоянная


							.copyBtn-wrap.overflow-hidden
								button.copyButton.btn.btn-border.btn-black-border.text-strong.text-uppercase(data-text-original="Скопировать Промокод" data-text-swap="Промокод скопирован") Скопировать Промокод
								input.linkToCopy(value='TEXT TO COPY' style='position: absolute; z-index: -999; opacity: 0;')







