extends partials/layout

//- Override default config variables
append config

	//- ********** Settings **********
	//- ==============================
	- var PageName = "Акции"
	- var PageID = 'promotions';
	//- ==============================
	//- ********* Settings END *******

//- Page Content
block content
	section.promotions
		.promotions-header.bg-black
			h1.profile__title.text-strong.text-lg.text-center.text-uppercase.text-white.mb-0 Акции
		.promotions-body
			.container
				.row
					.promotions-column
						.product__card
							// Product card image
							.product__card-thumb
								img(src="./img/promotions/sale1.png", alt="")
							// Product card image end
							.product__card-body
								// Product discount

								.product__card-discount-wrapper
									label.product__card-discount - 10%

								.promotions-title.text-strong.product__card-title Скидка 10%
								.promotions-text.text-sm При заказе с 12:00 до 15:00
								.promotions-time.text-xs.text-green.text-strong Постоянная
					.promotions-column
						.product__card
							// Product card image
							.product__card-thumb
								img(src="./img/promotions/sale2.png", alt="")
							// Product card image end
							.product__card-body
								// Product discount

								.product__card-discount-wrapper
									label.product__card-discount - 10%

								.promotions-title.text-strong.product__card-title Скидка 10%
								.promotions-text.text-sm При самовывозе
								.promotions-time.text-xs.text-green.text-strong Постоянная
					.promotions-column
						.product__card
							// Product card image
							.product__card-thumb
								img(src="./img/promotions/rolls.png", alt="")
							// Product card image end
							.product__card-body
								// Product discount

								.product__card-discount-wrapper
									label.product__card-discount.blue-bg Подарок

								.promotions-title.text-strong.product__card-title Рол или пицца в подарок
								.promotions-text.text-sm При заказе заказе суши от 500грн
								.promotions-time.text-xs.text-green.text-strong Постоянная
					.promotions-column
						.product__card
							// Product card image
							.product__card-thumb
								img(src="./img/promotions/pizza.png", alt="")
							// Product card image end
							.product__card-body
								// Product discount

								.product__card-discount-wrapper
									label.product__card-discount.blue-bg Подарок

								.promotions-title.text-strong.product__card-title Рол или пицца в подарок
								.promotions-text.text-sm При заказе заказе суши от 1000грн
								.promotions-time.text-xs.text-green.text-strong Постоянная
					.promotions-column
						.product__card
							// Product card image
							.product__card-thumb
								img(src="./img/promotions/sets.png", alt="")
							// Product card image end
							.product__card-body
								// Product discount

								.product__card-discount-wrapper
									label.product__card-discount.green-bg Спец.цена

								.promotions-title.text-strong.product__card-title Рол или пицца в подарок
								.promotions-text.text-sm При заказе заказе суши от 1000грн
								.promotions-time.text-xs.text-green.text-strong Постоянная
					.promotions-column
						.product__card
							// Product card image
							.product__card-thumb
								img(src="./img/promotions/1+1.png", alt="")
							// Product card image end
							.product__card-body
								// Product discount

								.product__card-discount-wrapper
									label.product__card-discount.blue-bg Подарок

								.promotions-title.text-strong.product__card-title 1+1=3
								.promotions-text.text-sm 3я пицца в подарок
								.promotions-time.text-xs.text-green.text-strong Каждый вторник
					.promotions-column
						.product__card
							// Product card image
							.product__card-thumb
								img(src="./img/promotions/beer.png", alt="")
							// Product card image end
							.product__card-body
								// Product discount

								.product__card-discount-wrapper
									label.product__card-discount.blue-bg Подарок

								.promotions-title.text-strong.product__card-title 0.5 Пивол / Лимонад
								.promotions-text.text-sm в подарок при заказе любой пиццы
								.promotions-time.text-xs.text-green.text-strong Каждая пятница
					.promotions-column
						.product__card
							// Product card image
							.product__card-thumb
								img(src="./img/promotions/roll.png", alt="")
							// Product card image end
							.product__card-body
								// Product discount

								.product__card-discount-wrapper
									label.product__card-discount.dark-blue-bg Товар дня

								.promotions-title.text-strong.product__card-title Ролл дня
								.promotions-text.text-sm Скидка 25% на красный угорь
								.promotions-time.text-xs.text-green.text-strong Каждый понедельник
					.promotions-column
						.product__card
							// Product card image
							.product__card-thumb
								img(src="./img/promotions/pizza2.png", alt="")
							// Product card image end
							.product__card-body
								// Product discount

								.product__card-discount-wrapper
									label.product__card-discount.dark-blue-bg Товар дня

								.promotions-title.text-strong.product__card-title Пицца дня
								.promotions-text.text-sm Маргаритта со кидкой 25%
								.promotions-time.text-xs.text-green.text-strong Каждый вторник
					.promotions-column
						.product__card
							// Product card image
							.product__card-thumb
								img(src="./img/promotions/20.png", alt="")
							// Product card image end
							.product__card-body
								// Product discount

								.product__card-discount-wrapper
									label.product__card-discount - 20%

								.promotions-title.text-strong.product__card-title Скидка на все 20%
								.promotions-text.text-sm на все товары
								.promotions-time.text-xs.text-green.text-strong Каждую субботу




