.btn {
  display: inline-flex;
  padding: rem(12) rem(32);
  transition: background-color 0.25s;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: $fontFutura;
  &.btn-default {
    background-color: $blue-accent;
    color: $clr-white;
    font-size: rem(18);
    letter-spacing: 0.03em;
    border-radius: 4px;
    @media (any-hover: hover) {
      &:hover {
        background-color: lighten($blue-accent, 10%);
      }
    }
  }
  &.btn-rounded {
    border-radius: 30px;
  }
  &._fw {
    width: 100%;
  }
}
