.profile__header
	h1.profile__title.text-strong.text-lg.text-center.text-uppercase Личный кабинет

	nav.profile__nav
		#nav-tab.profile__tabs-nav.nav.nav-tabs.d-flex.justify-content-center.flex-wrap(role='tablist')
			button#nav-profile-tab.btn.btn-border.btn-black-border.text-strong.text-uppercase.active(data-bs-toggle='tab' data-bs-target='#nav-profile' type='button' role='tab' aria-controls='nav-profile' aria-selected='true') Личные данные
			button#nav-history-tab.btn.btn-border.btn-black-border.text-strong.text-uppercase(data-bs-toggle='tab' data-bs-target='#nav-history' type='button' role='tab' aria-controls='nav-history' aria-selected='false') История заказов