// Cart
#cartModal.modal.fade(tabindex='-1' aria-labelledby='cartModalLabel' aria-hidden='true')
	.modal-dialog.cart
		.modal-content
			header.cart-header
				.cart-header-top.d-flex.justify-content-between.align-items-center
					h2.text-strong.text-uppercase.cart-title.m-0 Ваша корзина
					button.btn.cart-close(type="button" data-bs-dismiss="modal" aria-label="Close")
						i.grf-close
				.cart-header-actions.d-flex.justify-content-between.align-items-center
					span Товары
					button.btn.p-0(type="button" data-bs-dismiss="modal" aria-label="Close") Продолжить покупки
			.cart-body
				.cart-container
					.cart-item.d-flex
						.cart-item__thumb
							img(src="./img/slider/01.png", alt="")
							label.product__card-discount - 10%
						.cart-item__body.d-flex.justify-content-between
							.cart-item__info
								.cart-item__name.text-strong.text-md Филадельфия классик
								.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем Нежный ролл с сыром Филадельфия и свежим лососем
								.d-flex.align-items-center
									.cart-item__weight.text-strong.text-sm.me-4
										| 8
										span.ms-1 шт.
									.cart-item__weight.text-strong.text-sm.me-4
										| 8888
										span.ms-1 г
							.cart-item__meta-wrapper
								.cart-item__meta.d-flex.align-items-center
									.cart-qty
										.order-info__quant.number-form
											span.minus
												i.grf-minus
											input(type="text" value="1")
											span.plus
												i.grf-plus
								.product__card-price-discount.d-flex.flex-column.justify-content-center
									.product__card-price-old
										| 5543
										span грн
									.product__card-price-new.text-strong
										| 5543
										span грн
								//- .cart-item__price.d-flex.align-items-center
								//- 	| 5543
								//- 	span грн
								.cart-item__remove
									button.btn.btn-border.btn-black-border
										i.grf-close
					.cart-item.d-flex
						.cart-item__thumb
							img(src="./img/slider/01.png", alt="")
						.cart-item__body.d-flex
							.cart-item__info
								.cart-item__name.text-strong.text-md Филадельфия классик
								.cart-item__descr.text-sm Нежный ролл с сыром Филадельфия и свежим лососем Нежный ролл с сыром Филадельфия и свежим лососем
								.d-flex.align-items-center
									.cart-item__weight.text-strong.text-sm.me-4
										| 8
										span.ms-1 шт.
									.cart-item__weight.text-strong.text-sm.me-4
										| 8888
										span.ms-1 г
							.cart-item__meta-wrapper
								.cart-item__meta.d-flex.align-items-center
									.cart-qty
										.order-info__quant.number-form
											span.minus
												i.grf-minus
											input(type="text" value="1")
											span.plus
												i.grf-plus
								.cart-item__price.d-flex.align-items-center
									| 5543
									span грн
								.cart-item__remove
									button.btn.btn-border.btn-black-border
										i.grf-close
			.cart-footer
				.cart-footer-price.d-flex.align-items-center.justify-content-between.px-5
					span Сумма заказа:
					.cart-full-price.text-lg.text-strong
						| 8888
						span.text-strong грн.
				.cart-footer-order.px-5
					a(href="order.html").btn.btn-green.btn-solid.btn-icon.text-strong.text-uppercase.d-block
						span.text-white Оформить заказ
