.cart__form
	form(action="")

		#orderAccordion.accordion.order-accordion
			.accordion-item
				button#headingOne.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseOne' aria-expanded='true' aria-controls='collapseOne') Личные данные
				#collapseOne.accordion-collapse.collapse.show(aria-labelledby='headingOne')
					.accordion-body
						.row
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="firstName").form-label Имя
								input#firstName.form-control.form-input(type='text' aria-label='First name' required)
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="surName").form-label Фамилия
								input#surName.form-control.form-input(type='text' aria-label='surName' required)
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formNumber").form-label Телефон
								input#formNumber.form-control.form-input(type='tel' aria-label='Телефон' required)
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formEmail").form-label email
								input#formEmail.form-control.form-input(type='email' aria-label='email')
			.accordion-item
				button#headingTwo.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo') Дополнительно
				#collapseTwo.accordion-collapse.collapse.show(aria-labelledby='headingTwo')
					.accordion-body
						.row
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formPersons").form-label Количество персон
								select#formPersons.form-select.form-input(aria-label='Количество персон')
									option(selected='') 1
									option(value='1') 2
									option(value='2') 3
									option(value='3') 4
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formSticks").form-label  Палочки
								select#formSticks.form-select.form-input(aria-label='Палочки')
									option(selected='') Стандартные
									option(value='1') Учебные
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formTimeDelivery").form-label Время доставки
								select#formTimeDelivery.form-select.form-input(aria-label='Время доставки')
									option(selected='') К определенному времени
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formDate").form-label Дата
								select#formDate.form-select.form-input.w-100(aria-label='Дата')
									option(selected='') Сегодня
									option(value='1') Завтра
									option(value='2') 11.07.21
									option(value='3') 12.07.21
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formTime").form-label Время
								select#formTime.form-select.form-input.w-100(aria-label='Время')
									option(selected='') 14:45
									option(value='1') 15:00
									option(value='2') 15:15
									option(value='3') 15:30

			.accordion-item
				button#headingFour.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseFour' aria-expanded='true' aria-controls='collapseFour') Оплата
				#collapseFour.accordion-collapse.collapse.show(aria-labelledby='headingFour')
					.accordion-body
						.row
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formPayment").form-label Способ оплаты
								select#formPayment.form-select.form-input(aria-label='Способ оплаты')
									option(selected='') Наличными при получении
									option(value='1') Банковской картой
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formDelivery").form-label Способ доставки
								select#formDelivery.form-select.form-input(aria-label='Способ доставки')
									option(selected='') Курьером
									option(value='1') Самовывоз
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formRestMoney").form-label Нужна сдача с
								input#formRestMoney.form-control.form-input(type='text' aria-label='Сдача с')

			.accordion-item
				button#headingThree.accordion-button(type='button' data-bs-toggle='collapse' data-bs-target='#collapseThree' aria-expanded='true' aria-controls='collapseThree') Адрес доставки
				#collapseThree.accordion-collapse.collapse.show(aria-labelledby='headingThree')
					.accordion-body
						.row
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formAddress").form-label Улица
								input#formAddress.form-control.form-input(type='text' aria-label='Улица')
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formHomeNum").form-label Номер дома
								input#formHomeNum.form-control.form-input(type='number' aria-label='Номер дома')
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formAptNumb").form-label Квартира
								input#formAptNumb.form-control.form-input(type='number' aria-label='Квартира')
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formIntercom").form-label Домофон
								input#formIntercom.form-control.form-input(type='number' aria-label='Домофон')
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formFloor").form-label Этаж
								input#formFloor.form-control.form-input(type='number' aria-label='Этаж')
							.col-lg-6.col-md-6.col-sm-6.mb-4
								label(for="formComment").form-label Комментарий
								input#formComment.form-control.form-input(type='text' aria-label='Комментарий')



