// Footer
footer.footer
	.container.container-member
		.footer-row
			.footer-col.footer-col-big.footer-col-address
				.footer-address
					a(href="#") 1571 McDonald Ave, Brooklyn, NY 11230
					br
					a(href="#") 718 316 9452
			.footer-col.footer-col-big.footer-col-form
				form.form(action="")
					.form-group.form-group__input
						input.footer-input(type="text" placeholder="Email Adress")
					.form-check
						input#formCheck1.form-check-input(type='checkbox')
						label.form-check-label(for='formCheck1') Subscribe to receive communications from World Spa about our products and services. By subscribing, you confirm you have read and accept our
							a(href="#") privacy policy.


			.footer-col.footer-col-big.footer-col-copyright.pt-5
				.footer-copyright Copyright
					span#copyright.mx-1
					| © World Spa. All Rights Reserved.

