// Site Header
header.header.dummy-header
	.container.container-header
		a.logo-mob(href="#")
			img(src="./img/logo.svg", alt="World Spa logo")
		.header-wrapper
			nav.header-nav.main-nav
				a(href="#").header-logo
					img.logo(src="./img/logo.svg", alt="World Spa logo")
					img.logo-fixed(src="./img/logo-fixed.svg", alt="World Spa logo")


