// Footer
footer.footer
	.container
		.row
			.col-xl-3.col-lg-3.col-md-5.col-sm-7
				.footer-column
					.footer-column__title Каталог
					nav.footer-nav.footer-nav-categories
						a(href="#").footer-nav__link Дверні ручки
						a(href="#").footer-nav__link Циліндри дверні
						a(href="#").footer-nav__link Замки для міжкімнатних дверей
						a(href="#").footer-nav__link Петлі для міжкімнатних дверей
						a(href="#").footer-nav__link Аксесуари
			.col-xl-2.col-lg-2.col-md-4.col-sm-5
				.footer-column
					nav.footer-nav.footer-nav-pages.pt-38
						a(href="#").footer-nav__link Де придбати?
						a(href="#").footer-nav__link Новини
						a(href="#").footer-nav__link Акції
						a(href="about.html").footer-nav__link Про нас
						a(href="#").footer-nav__link Партнерам
			.col-xl-2.col-lg-2.col-md-3.col-sm-6
				.footer-column
					.footer-column__title Контакти
					.footer-phones
						a(href="#").footer-nav__link +38 044 765 65 78
						a(href="#").footer-nav__link +38 044 765 65 78
			.col-xl-2.col-lg-2.col-md-4.col-sm-6
				.footer-column
					.footer-column__title Соціальні мережі
					a(href="#").footer-nav__link.footer-nav__social-link
						i.icon-instagram
						span Celester_trade
					a(href="#").footer-nav__link.footer-nav__social-link
						i.icon-youtube
						span Celestetrade
			.col-xl-3.col-lg-3.col-md-4.col-sm-6
				.footer-column
					.footer-logo
						a(href="#").footer-logo__link
							img(src="./img/logo.svg", alt="Celeste Trade")
					.footer-dealer-btn
						a(href="#").btn.btn-accent Кабінет дилера
