// Footer
footer.footer
	.container
		.row
			.col-xl-3.col-lg-3.col-md-5.col-sm-7
				.footer-column
					.footer-column__title Каталог
					nav.footer-nav.footer-nav-categories
						a(href="#").footer-nav__link Дверные ручки
						a(href="#").footer-nav__link Цилиндры дверные
						a(href="#").footer-nav__link Замки для межкомнатных дверей
						a(href="#").footer-nav__link Петли для межкомнатных дверей
						a(href="#").footer-nav__link Аксессуары
			.col-xl-2.col-lg-2.col-md-4.col-sm-5
				.footer-column
					nav.footer-nav.footer-nav-pages.pt-38
						a(href="#").footer-nav__link Где купить?
						a(href="#").footer-nav__link Новости
						a(href="#").footer-nav__link Акции
						a(href="about.html").footer-nav__link О нас
						a(href="#").footer-nav__link Партнерам
			.col-xl-2.col-lg-2.col-md-3.col-sm-6
				.footer-column
					.footer-column__title Контакты
					.footer-phones
						a(href="#").footer-nav__link +38 044 765 65 78
						a(href="#").footer-nav__link +38 044 765 65 78
			.col-xl-2.col-lg-2.col-md-4.col-sm-6
				.footer-column
					.footer-column__title Социальные сети
					a(href="#").footer-nav__link.footer-nav__social-link
						i.icon-instagram
						span Celester_trade
					a(href="#").footer-nav__link.footer-nav__social-link
						i.icon-youtube
						span Celestetrade
			.col-xl-3.col-lg-3.col-md-4.col-sm-6
				.footer-column
					.footer-logo
						a(href="#").footer-logo__link
							img(src="./img/logo.svg", alt="Celeste Trade")
					.footer-dealer-btn
						a(href="#").btn.btn-accent Кабинет дилера
