// Footer

footer.site-footer.bg-black
	.container
		.row
			.col-lg-3.col-sm-6.col-md-3
				ul.site-footer__list
					li
						a(href="tel:+380933708223").site-footer__link +380 93 370 82 23
					li
						a(href="tel:+380933708223").site-footer__link +380 93 370 82 23
			.col-lg-3.col-sm-6.col-md-4
				ul.site-footer__nav
					li
						a(href="promotions.html").site-footer__link Акции
					li
						a(href="payment.html").site-footer__link Оплата и доставка
			.col-lg-6.col-md-5
				ul.site-footer__actions
					li
						button.btn.btn-white.btn-icon(type='button' data-bs-toggle='modal' data-bs-target='#callbackModal')
							i.grf-phone
							span Обратный звонок
					li
						a(href="#").btn.btn-white.btn-icon
							i.grf-login
							span Личный кабинет

