// Footer
footer.footer
	.container.container-member
		.footer-row
			.footer-col.footer-col-big.footer-col-form
				form.form(action="")
					.form-group.form-group__input
						input.footer-input(type="text" placeholder="Email Adress")
					.form-check
						input#formCheck1.form-check-input(type='checkbox')
						label.form-check-label(for='formCheck1') Subscribe to receive communications from World Spa about our products and services. By subscribing, you confirm you have read and accept our
							a(href="#") privacy policy.
			.footer-col.footer-col-list
				ul.footer-list
					li.footer-list__title About
					li.footer-list__item
						a.footer-list__link-icon(href="#") Memberships
					li.footer-list__item
						a(href="#") Our story
					li.footer-list__item
						a(href="#") Press
					li.footer-list__item
						a(href="#") Gallery
					li.footer-list__item
						a(href="#") Covid-19
					li.footer-list__item
						a(href="#") Legal
			.footer-col.footer-col-list
				ul.footer-list
					li.footer-list__title Experiences
					li.footer-list__item
						a(href="#") Saunas
					li.footer-list__item
						a(href="#") Hydrotherapies
					li.footer-list__item
						a(href="#") Rooms
					li.footer-list__item
						a(href="#") Dining
					li.footer-list__item
						a(href="#") Spa treatments
			.footer-col.footer-col-list
				ul.footer-list
					li.footer-list__title Visit and support
					li.footer-list__item
						a(href="#") FAQs
					li.footer-list__item
						a(href="#") Contact us
					li.footer-list__item
						a(href="#") Addimissions &#38; policies
					li.footer-list__item
						a(href="#") Parking
					li.footer-list__item
						a(href="#") Hours &#38; directions
					li.footer-list__item
						a(href="#") 360 tour

			.footer-col.footer-col-big.footer-col-address
				.footer-address
					a(href="#") 1571 McDonald Ave, Brooklyn, NY 11230
					br
					a(href="#") 718 316 9452
			.footer-col.footer-col-list
				ul.footer-list.pt-0
					li.footer-list__title Shop
					li.footer-list__item
						a(href="#") Gift card
					li.footer-list__item
						a(href="#") 10 pack treatments
					li.footer-list__item
						a(href="#") Our products
			.footer-col.footer-col-list
				ul.footer-list.pt-0
					li.footer-list__title Social media
					li.footer-list__item
						a.footer-list__link-icon(href="#") Instagram
					li.footer-list__item
						a.footer-list__link-icon(href="#") Facebook
					li.footer-list__item
						a.footer-list__link-icon(href="#") Youtube
			.footer-col.footer-col-big.footer-col-copyright
				.footer-copyright Copyright
					span#copyright.mx-1
					| © World Spa. All Rights Reserved.

