// Footer
footer.footer
	.container
		.row
			.col-xl-3.col-lg-3.col-md-5.col-sm-7
				.footer-column
					.footer-column__title Розділи кабінету
					nav.footer-nav.footer-nav-categories

						a(href="index.html").footer-nav__link До головного сайту
						a(href="admin-catalog.html").footer-nav__link Оптова форма замовлення
						a(href="settings.html").footer-nav__link Налаштування
			.col-xl-2.col-lg-2.col-md-4.col-sm-5
				.footer-column
					nav.footer-nav.footer-nav-pages.pt-38
						a(href="admin-orders.html").footer-nav__link Історія замовлень
						a(href="admin-cart.html").footer-nav__link Кошик
						a(href="#").footer-nav__link Довідка
			.col-xl-2.col-lg-2.col-md-3.col-sm-6
				.footer-column
					.footer-column__title Контакти
					.footer-phones
						a(href="#").footer-nav__link +38 044 765 65 78
						a(href="#").footer-nav__link +38 044 765 65 78
			.col-xl-2.col-lg-2.col-md-4.col-sm-6
				.footer-column
					.footer-column__title Соціальні мережі
					a(href="#").footer-nav__link.footer-nav__social-link
						i.icon-instagram
						span Celester_trade
					a(href="#").footer-nav__link.footer-nav__social-link
						i.icon-youtube
						span Celestetrade
			.col-xl-3.col-lg-3.col-md-4.col-sm-6
				.footer-column
					.footer-logo
						a(href="#").footer-logo__link
							img(src="./img/logo.svg", alt="Celeste Trade")

