section.form-section
	.container
		.row
			.col-lg-6
				.form-section-info
					h3.text-36.proba-family.form-section-title Стати нашим партнером
					p.text-18.lh-27.form-section-text Приєднуйтесь до нас і ознайомтесь з широкими можливостями, які ми надаємо нашим партнерам. Ми будуємо довгострокові відносини на основі відкритого діалогу та взаємної довіри.
					a(href="about-us.html").btn.btn-accent Узнать больше
			.col-lg-6
				form.form(action="")
					.form-wrapper
						h3.text-36.proba-family.text-white.form-title Зворотній зв'язок
						.row
							.col-md-6
								.form-group
									input.form-control(type="text" placeholder="Ім'я" required)
									//- .form-error Введите имя
							.col-md-6
								.form-group
									input.form-control(type="text" placeholder="Телефон або e-mail" required)
									//- .form-error Введите телефон
							.col-12
								.form-group
									textarea.form-control(name="", cols="30", rows="8")
							.col-12
								button.btn.btn-accent(type="submit") Написати нам

				//- .form-success
					h3.text-36.proba-family.text-white.form-title Сообщение отправлено
