head

  meta(charset="utf-8")
  title
    block title
      | #{pageTitle}

  // Mobile Specific Meta Tag
  meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

  // Favicons
  link(rel='icon' href='favicon.svg' type='image/svg+xml')
  link(rel='alternate icon' href='/favicon.ico')
  link(rel='icon' href='/icon.png' type='image/png')
  link(rel='apple-touch-icon' href='/icon.png')
  //- link(rel='manifest' href='/site.webmanifest')

  // Vendor Styles including: Bootstrap, Font Icons, Plugins, etc.
  link(rel="stylesheet", media="screen")&attributes(isNestedFile ? {'href': '../css/vendor.min.css'} : {'href': 'css/vendor.min.css'})

  // Main Template Styles
  link(rel="stylesheet", media="screen")&attributes(isNestedFile ? {'href': '../css/styles.min.css'} : {'href': 'css/styles.min.css'})