// Site Header
header.header
	.container
		.header-wrapper
			include navigation-left
			.header-logo
				a(href='index.html').logo-link
					img(src="./img/logo.png", alt="Celeste Trade")
			include navigation-right
