// Product card modal
#productModal.product-modal.greenRedFood-modal.modal.fade(tabindex='-1' aria-labelledby='#productModalLabel' aria-hidden='true')
	.modal-dialog.modal-dialog-centered.modal-dialog-scrollable
		.modal-content
			.modal-body.p-0
				.container-fluid
					.row
						.col-md-8
							.product-modal__thumb
								img(src="./img/product-modal/01.png", alt="")
							.product-modal__mobile
							.product-modal__description
								h4.text-black.text-strong.text-lg.mb-3 Ямато
								p Тёплый ролл, обжаренный в темпурном кляре, со снежным крабом, свежим огурцом, икрой Масаго, сыром Филадельфия и твёрдым сыром
								.product-modal__extra-info.d-flex
									.product-modal__weight.me-4
										span.text-strong.text-sm 120
										span.ms-1.text-xs г.
									.product-modal__quant.me-4
										span.text-strong.text-sm 8
										span.ms-1.text-xs шт.
							.product-modal__consist.product-consist.d-flex
								.product-consist__item.text-center
									img(src="./img/product-modal/consist/01.png", alt="Лосось")
									h5.text-xs.text-black.text-uppercase Лосось
								.product-consist__item.text-center
									img(src="./img/product-modal/consist/02.png", alt="Снежный краб")
									h5.text-xs.text-black.text-uppercase Снежный краб
								.product-consist__item.text-center
									img(src="./img/product-modal/consist/03.png", alt="Авокадо")
									h5.text-xs.text-black.text-uppercase Авокадо
								.product-consist__item.text-center
									img(src="./img/product-modal/consist/04.png", alt="Сыр филадельфия")
									h5.text-xs.text-black.text-uppercase Сыр филадельфия
								.product-consist__item.text-center
									img(src="./img/product-modal/consist/05.png", alt="Огурец")
									h5.text-xs.text-black.text-uppercase Огурец
								.product-consist__item.text-center
									img(src="./img/product-modal/consist/06.png", alt="Кунжут")
									h5.text-xs.text-black.text-uppercase Кунжут
								.product-consist__item.text-center
									img(src="./img/product-modal/consist/07.png", alt="Соус-унаги")
									h5.text-xs.text-black.text-uppercase Соус-унаги
								.product-consist__item.text-center
									img(src="./img/product-modal/consist/08.png", alt="Унаги")
									h5.text-xs.text-black.text-uppercase Унаги
								.product-consist__item.text-center
									img(src="./img/product-modal/consist/09.png", alt="Рис")
									h5.text-xs.text-black.text-uppercase Рис
						.col-md-4.p-0
							.product-modal__order-info.order-info
								button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close' data-da=".product-modal__thumb, 767.98, 1")
								.order-info__wrapper(data-da=".product-modal__mobile, 767.98, 1")
									.order-info__quant.number-form
										span.minus
											i.grf-minus
										input(type="text" value="1").text-white
										span.plus
											i.grf-plus
									.order-info__price-wrap.d-flex.justify-content-between.flex-wrap.align-item-end(data-da=".product-modal__description, 767.98, 1")
										.order-info__price.text-white.text-strong.text-lg
											| 888
											span.text-sm.ms-1 грн.
										.order-info__weight.text-white.text-strong.text-md.d-flex.align-items-end.mb-1
											| 8
											span.text-sm.ms-1 шт.
									button.order-info__btn.btn.btn-border.btn-white.d-block.w-100.text-uppercase.text-strong
										span Заказать
								.order-info__recommend
									.text-white.mb-3 Рекомендуем к заказу
									.order-info__recommend-wrap
										.order-info__recommend-item.recommend-item.bg-white
											.recommend-item__info.d-flex
												img(src="./img/pepsi.png", alt="Pepsi 0.33л")
												div.d-flex.flex-column.justify-content-between.w-100.ms-2.mt-2.mb-2
													.text-strong.text-sm Pepsi
													.d-flex.justify-content-between
														.text-sm
															| 88
															span.ms-1 грн
														.text-sm
															| 0.33
															span.ms-1 л

											button.btn-border.btn-green.btn.d-block.addToCartBtn.w-100(data-text-original="Заказать" data-text-swap="Добавлено") Заказать
										.order-info__recommend-item.recommend-item.bg-white
											.recommend-item__info.d-flex
												img(src="./img/sandora.png", alt="Sandora 1л")
												div.d-flex.flex-column.justify-content-between.w-100.ms-2.mt-2.mb-2
													.text-strong.text-sm Sandora Апельсин
													.d-flex.justify-content-between
														.text-sm
															| 88
															span.ms-1 грн
														.text-sm
															| 1
															span.ms-1 л

											button.btn-border.btn-green.btn.d-block.addToCartBtn.w-100(data-text-original="Заказать" data-text-swap="Добавлено") Заказать
										.order-info__recommend-item.recommend-item.bg-white
											.recommend-item__info.d-flex
												img(src="./img/pepsi.png", alt="Pepsi 0.33л")
												div.d-flex.flex-column.justify-content-between.w-100.ms-2.mt-2.mb-2
													.text-strong.text-sm Сидр Sommersby
													.d-flex.justify-content-between
														.text-sm
															| 88
															span.ms-1 грн
														.text-sm
															| 0.5
															span.ms-1 л

											button.btn-border.btn-green.btn.d-block.addToCartBtn.w-100(data-text-original="Заказать" data-text-swap="Добавлено") Заказать

// Product card modal end

// Login modal
#loginModal.authorization-modal.greenRedFood-modal.modal.fade(tabindex='-1' aria-labelledby='loginModalLabel' aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				h5#loginModalLabel.modal-title.text-center.text-strong.text-uppercase.m-0 Войти
				button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
					i.grf-close
			.modal-body
				form#loginForm.authorization-form.authorization-modal__form.needs-validation(novalidate)
					.form-inner.d-flex.jusify-content-between
						.form-input-wrapper
							label.form-label(for='loginEmail') email
							input#loginEmail.form-control.form-input(type='email' required)
							.invalid-feedback Пожалуйста введите email
						.form-input-wrapper
							label.form-label(for='loginPassword') пароль
							input#loginPassword.form-control.form-input(type='password' required)
							.invalid-feedback Пожалуйста введите пароль
					.authorization-form-btns.d-flex.justify-content-between
						button.btn.btn-border.btn-solid.text-strong.text-uppercase.w-100(type='submit') Войти
					.forgot.d-flex
						button.btn.btn-link(type='button' data-bs-toggle="modal" data-bs-target="#registerModal" data-bs-dismiss='modal' aria-label='Close') Регистрация
						button.btn.btn-link(type='button' data-bs-toggle="modal" data-bs-target="#forgotModal" data-bs-dismiss='modal' aria-label='Close') Забыли пароль?
			.modal-footer.flex-column
				h5.modal-title.text-center.text-strong.text-uppercase.m-0 Войти через соц. сети
				.modal-socials.d-flex.justify-content-center
					a(href="#").btn.btn-grey.btn-icon
						i.grf-facebook
					a(href="#").btn.btn-grey.btn-icon
						i.grf-google
// Login modal  end

// Registration modal
#registerModal.authorization-modal.greenRedFood-modal.modal.fade(tabindex='-1' aria-labelledby='registerModalLabel' aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				h5#registerModalLabel.modal-title.text-center.text-strong.text-uppercase.m-0 Регистрация
				button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
					i.grf-close
			.modal-body
				form#registerForm.authorization-form.authorization-modal__form.needs-validation(novalidate)
					.form-inner.d-flex.jusify-content-between
						.form-input-wrapper
							label.form-label(for='registerName') Имя
							input#registerName.form-control.form-input(type='text' required)
							.invalid-feedback Пожалуйста введите имя
						.form-input-wrapper
							label.form-label(for='loginEmail') email
							input#registerEmail.form-control.form-input(type='email' required)
							.invalid-feedback Пожалуйста введите email
					.authorization-form-btns.d-flex.justify-content-between
						button.btn.btn-border.btn-solid.text-strong.text-uppercase.w-100(type='submit') Регистрация
					.forgot.d-flex
						button.btn.btn-link(type='button' data-bs-toggle="modal" data-bs-target="#loginModal" data-bs-dismiss='modal' aria-label='Close') Войти
						button.btn.btn-link(type='button' data-bs-toggle="modal" data-bs-target="#forgotModal" data-bs-dismiss='modal' aria-label='Close') Забыли пароль?
			.modal-footer.flex-column
				h5.modal-title.text-center.text-strong.text-uppercase.m-0 Регистрация через соц. сети
				.modal-socials.d-flex.justify-content-center
					a(href="#").btn.btn-grey.btn-icon
						i.grf-facebook
					a(href="#").btn.btn-grey.btn-icon
						i.grf-google
// Registration modal end

// Forgot modal

#forgotModal.authorization-modal.greenRedFood-modal.modal.fade(tabindex='-1' aria-labelledby='forgotModalLabel' aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				h5#forgotModalLabel.modal-title.text-strong.text-uppercase.m-0 Восстановить пароль
				button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
					i.grf-close
			.modal-body
				p Мы вышлем инструкцию по восстановлению пароля на вашу почту.
				form#forgotForm.authorization-form.authorization-modal__form.needs-validation(novalidate)
					.form-inner
						.form-input-wrapper
							label.form-label(for='forgotEmail') email
							input#forgotEmail.form-control.form-input(type='email' required)
							.invalid-feedback Пожалуйста введите email

					button.btn.btn-border.btn-solid.text-strong.text-uppercase.w-100(type='submit') Отправить

// Forgot modal end

// Callback modal

#callbackModal.authorization-modal.greenRedFood-modal.modal.fade(tabindex='-1' aria-labelledby='callbackModalLabel' aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				h5#callbackModalLabel.modal-title.text-strong.text-uppercase.m-0 Обратный звонок
				button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
					i.grf-close
			.modal-body
				p Оставьте ваши контактные данные и мы вам перезвоним как можно скорей.
				form#callbackForm.authorization-form.authorization-modal__form.needs-validation(novalidate)
					.form-inner.d-flex.jusify-content-between
						.form-input-wrapper
							label.form-label(for='callbackName') Имя
							input#callbackName.form-control.form-input(type='text' required)
							.invalid-feedback Пожалуйста введите имя
						.form-input-wrapper
							label.form-label(for='callbackPhone') Телефон
							input#callbackPhone.form-control.form-input(type='tel' required)
							.invalid-feedback Пожалуйста введите телефон
					.authorization-form-btns.d-flex.justify-content-between
						button.btn.btn-border.btn-solid.text-strong.text-uppercase.w-100(type='submit' data-bs-toggle="modal" data-bs-target="#callbackConfirmModal" data-bs-dismiss='modal' aria-label='Close') Отправить

// Callback modal end

#callbackConfirmModal.authorization-modal.greenRedFood-modal.modal.fade(tabindex='-1' aria-labelledby='callbackConfirmModalLabel' aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				h5#callbackConfrimModalLabel.modal-title.text-strong.m-0 Спасибо, контакты получены
				button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
					i.grf-close
			.modal-body
				p Наш менеджер перезвонит вам в течении получаса.

				button.btn.btn-border.btn-solid.text-strong.text-uppercase.w-100(type='button' data-bs-dismiss='modal' aria-label='Close') Хорошо спасибо


// Order completed modal
#orderCompleteModal.greenRedFood-modal.order-complete-modal.modal.fade(tabindex='-1' aria-hidden='true')
	.modal-dialog
		.modal-content
			h5#orderCompleteModalLabel.modal-title.text-center.text-strong.text-uppercase.text-lg Ваш заказ принят
			a(href="index.html" type='button').btn.btn-border.btn-black-border.btn-black.text-strong.text-uppercase.active На главную

// Order completed modal end

// Callback modal

#callbackModal.modal.fade(tabindex='-1' aria-labelledby='callbackModalLabel' aria-hidden='true')
	.modal-dialog
		.modal-content
			.modal-header
				h5#exampleModalLabel.modal-title Modal title
				button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
			.modal-body
				| ...
			.modal-footer
				button.btn.btn-secondary(type='button' data-bs-dismiss='modal') Close
				button.btn.btn-primary(type='button') Save changes

// Callback modal end