.header-right
	.header-lang
		.header-lang-wrapper.header-dropdown-wrapper(data-active)
			button(type="button" data-target-button).d-flex.align-items-center
				span.text-uppercase Укр
				i.icon-chevron-down
			.header-dropdown
				a(href="#").d-flex.align-items-center
					span.text-uppercase Рус
				a(href="#").d-flex.align-items-center
					span.text-uppercase Eng
	.header-login.header-dropdown-wrapper(data-active)
		button(type="button" data-target-button).d-flex.align-items-center
			i.icon-login
			span Светлана
		.header-dropdown
			.header-dropdown-inner
				.header-login__title
					| Вітаємо,
					span.d-block Світлано!
				.header-login__body
					ul.header-login__list
						li.header-login__list-item
							a(href="admin-catalog.html")
								i.icon-window
								span Оптова форма замовлення
						li.header-login__list-item
							a(href="admin-cart.html")
								i.icon-cart
								span Кошик
						li.header-login__list-item
							a(href="admin-orders.html")
								i.icon-timer
								span Історія замовлень
						li.header-login__list-item
							a(href="settings.html")
								i.icon-setting
								span Налаштування
						li.header-login__list-item.header-logout
							a(href="admin-catalog.html")
								i.icon-exit
								span Вихід