.header-right
	.header-lang
		.header-lang-wrapper.header-dropdown-wrapper(data-active)
			button(type="button" data-target-button).d-flex.align-items-center
				span.text-uppercase Укр
				i.icon-chevron-down
			.header-dropdown
				a(href="#").d-flex.align-items-center
					span.text-uppercase Рус
				a(href="#").d-flex.align-items-center
					span.text-uppercase Eng
	.header-login.header-dropdown-wrapper(data-active)
		button(type="button" data-target-button).d-flex.align-items-center
			i.icon-login
			span Светлана