.news-item
	.news-item__img
		img(src="./img/news/1.png", alt="Фото новини")
	.news-item__body
		.news-item__title.proba-family
			a(href="news-article.html").news-item__link.proba-family Стаття про дверні ручки чи ще щось
		.news-item__date 10 Вересня 2022
		.news-item__descr
			p.news-item__text В цьому році була створена багатопрофільна дистриб'юторська  компанія з продажу європейської дверної назву Celeste Trade (від італ. "Celeste" - небесно-блакитний, як символ прозорості та відкритості в бізнесі) цьому році була створена багатопрофільна дистриб'юторська  компанія з продажу європейської дверної назву Celeste Trade (від італ. "Celeste" - небесно-блакитний, як символ прозорості та відкритості в бізнесі)
		.news-item__tags
			a(href="#").btn.news-btn
				span Розетка кругла
			a(href="#").btn.news-btn
				span Кноби