.pagination
	.pagination-inner
		.pagination-prev
			a(href="#").pagination-btn
				i.icon-chevron-left
		.pagination-body
			ul.pagination-list
				li.pagaination-list__item.active
					a(href="#")
						span 1
				li.pagaination-list__item
					a(href="#")
						span 2
				li.pagaination-list__item
					a(href="#")
						span 3
			.pagination-load-more
				a(href="#").load-more-btn
					i.icon-reverse
					span Завантажити ще
		.pagination-next
			a(href="#").pagination-btn
				i.icon-chevron-right