.product__card
	// Product card image
	a.product__card-thumb(data-bs-toggle="modal" data-bs-target="#productModal")
		img(src="./img/slider/01.png", alt="")
	// Product card image end
	.product__card-body
		// Product discount

		.product__card-discount-wrapper
			label.product__card-discount - 10%

		// Product discount end
		// Product card name
		a.text-strong.product__card-title(data-bs-toggle="modal" data-bs-target="#productModal") Калифорния в тобике
		// Product card name end
		// Product card hidden content with full description
		.product__card-holder
			.product__card-hidden
				// Product card full description
				.product__card-hidden-descr.text-sm Тёплый ролл, обжаренный в темпурном кляре, со снежным крабом, свежим огурцом, икрой Масаго, сыром Филадельфия и твёрдым сыром
				// Product card full description end
				.product__card-hidden-info.d-flex.justify-content-between.align-items-end
					// Product card price
					.product__card-hidden-price
						| 108
						span грн.
					// Product card price end
					// Product card weight
					.product__card-hidden-weight
						| 220
						span г
					// Product card weight end
				.product__card-order__btn
					button.btn-border.btn-green.btn.addToCartBtn(data-text-original="Заказать" data-text-swap="Добавлено") Заказать
					.cart-qty
						.order-info__quant.number-form
							span.minus
								i.grf-minus
							input(type="text" value="1")
							span.plus
								i.grf-plus
		// Product card hidden content with full description end
		// Product card short desctiption
		.product__card-descr.text-sm Тёплый ролл, обжаренный в темпурном кляре, со снежным крабом, свежим огурцом, икрой Масаго, сыром Филадельфия и твёрдым сыром
		// Product card short desctiption end
	.product__card-footer.d-flex.justify-content-between.align-items-end
		// Product card price
		.product__card-price.text-strong
			| 122
			span грн.
		// Product card price end
		// Product card price with discount
		.product__card-price-discount.d-none
			.product__card-price-old
				| 120
				span грн
			.product__card-price-new.text-strong
				| 99
				span грн
		// Product card price with discount end
		// Product card weight
		.product__card-weight.text-strong
			| 210
			span г.
		// Product card weight end

		.product__card-order__btn.w-100.mt-4
			a(data-text-original="Заказать" data-text-swap="Добавлено").btn-border.btn-green.btn.addToCartBtn.w-100 Заказать
			.cart-qty
				.order-info__quant.number-form
					span.minus
						i.grf-minus
					input(type="text" value="1")
					span.plus
						i.grf-plus