// Search form

.search-form
	form#searchForm
		input#searchFormAutoComplete(type="text" autocomplete="off")
// Search form end
// Search button
a(href="#" data-target=".search-form, .topbar-left, .topbar-logo, .site-backdrop" data-classes="searchBarActive" data-backdrop="true")#searchBtn.btn.btn-white.btn-icon.data-toggle
	i.grf-search
// Search button end
