section.similar
	h2.similar-title.text-bold Похожие товары
	.similar-slider__wrapper
		.similar-slider
			.similar-slider-item
				.catalog-products__tile.product-tile
					.product-tile__thumb
						a(href="product-card.html").product-tile__picture
							img(src="./img/product-thumbs/3.png", alt="Ручка дверная").product-tile__img
					.product-tile__colors.colors
						ul.colors-list
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#28B3A1;")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:rgba(160, 157, 214, 1);")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#E196E8")
					.products-tile__info
						a(href="product-card.html").product-tile__title Длинное название ручки которая таки на дверь
							span.product-tile__brand.ml-1 DND Quattro
						.product-tile__availability.product-availability
							.product-availability__stock.product-availability__status
								i.icon-check
								span В наличии
			.similar-slider-item
				.catalog-products__tile.product-tile
					.product-tile__thumb
						a(href="product-card.html").product-tile__picture
							img(src="./img/product-thumbs/3.png", alt="Ручка дверная").product-tile__img
					.product-tile__colors.colors
						ul.colors-list
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#28B3A1;")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:rgba(160, 157, 214, 1);")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#E196E8")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#C4C4C4;")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#3A71FF;")
							li.colors-list__item.colors-item__count
								a(href="#").colors-slider__item.color
									.color-item
										span +27
					.products-tile__info
						a(href="product-card.html").product-tile__title Ручка дверная
							span.product-tile__brand.ml-1 DND Quattro
						.product-tile__availability.product-availability
							.product-availability__stock.product-availability__status
								i.icon-check
								span В наличии
			.similar-slider-item
				.catalog-products__tile.product-tile
					.product-tile__thumb
						a(href="product-card.html").product-tile__picture
							img(src="./img/product-thumbs/3.png", alt="Ручка дверная").product-tile__img
					.product-tile__colors.colors
						ul.colors-list
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#28B3A1;")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:rgba(160, 157, 214, 1);")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#E196E8")
					.products-tile__info
						a(href="product-card.html").product-tile__title Длинное название ручки которая таки на дверь
							span.product-tile__brand.ml-1 DND Quattro
						.product-tile__availability.product-availability
							.product-availability__stock.product-availability__status
								i.icon-check
								span В наличии
			.similar-slider-item
				.catalog-products__tile.product-tile
					.product-tile__thumb
						a(href="product-card.html").product-tile__picture
							img(src="./img/product-thumbs/3.png", alt="Ручка дверная").product-tile__img
					.product-tile__colors.colors
						ul.colors-list
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#28B3A1;")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:rgba(160, 157, 214, 1);")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#E196E8")
					.products-tile__info
						a(href="product-card.html").product-tile__title Длинное название ручки которая таки на дверь
							span.product-tile__brand.ml-1 DND Quattro
						.product-tile__availability.product-availability
							.product-availability__stock.product-availability__status
								i.icon-check
								span В наличии
			.similar-slider-item
				.catalog-products__tile.product-tile
					.product-tile__thumb
						a(href="product-card.html").product-tile__picture
							img(src="./img/product-thumbs/3.png", alt="Ручка дверная").product-tile__img
					.product-tile__colors.colors
						ul.colors-list
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#28B3A1;")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:rgba(160, 157, 214, 1);")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#E196E8")
					.products-tile__info
						a(href="product-card.html").product-tile__title Длинное название ручки которая таки на дверь
							span.product-tile__brand.ml-1 DND Quattro
						.product-tile__availability.product-availability
							.product-availability__stock.product-availability__status
								i.icon-check
								span В наличии
			.similar-slider-item
				.catalog-products__tile.product-tile
					.product-tile__thumb
						a(href="product-card.html").product-tile__picture
							img(src="./img/product-thumbs/3.png", alt="Ручка дверная").product-tile__img
					.product-tile__colors.colors
						ul.colors-list
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#28B3A1;")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:rgba(160, 157, 214, 1);")
							li.colors-list__item
								a(href="#").colors-slider__item.color
									.color-item(style="background-color:#E196E8")
					.products-tile__info
						a(href="product-card.html").product-tile__title Длинное название ручки которая таки на дверь
							span.product-tile__brand.ml-1 DND Quattro
						.product-tile__availability.product-availability
							.product-availability__stock.product-availability__status
								i.icon-check
								span В наличии

		.basic-slider__controls.similar-slider__controls.slider-controls
			.slider-controls__row
				.basic-slider__dots.similar-slider__dots
				.basic-slider__nav.similar-slider__nav
					button.basic-controls__prev.similar-controls__prev.similar-control.basic-slider__arrow
						i.icon-chevron-left
					button.basic-controls__next.similar-controls__next.similar-control.basic-slider__arrow
						i.icon-chevron-right


