section.stocks-section
	.slick-container.slider

		.slider__header.bg-black
			.container.d-flex.align-items-center
				button.slider__btn.prev-arrow(type="button")
					i.grf-arrow-l
				h2.slider__title Акции
				button.slider__btn.next-arrow(type="button")
					i.grf-arrow-r
		.container.p-0
			.stocks-carousel
				.slide
					include ./product-card
				.slide
					include ./product-card
				.slide
					include ./product-card
				.slide
					include ./product-card
				.slide
					include ./product-card
				.slide
					include ./product-card
				.slide
					include ./product-card
