.btn {
  display: inline-flex;
  padding: 8px 30px;
  transition: background-color 0.25s;
  &.btn-green {
    background-color: #2ba960;
    border-radius: 16px;
    font-weight: 700;
    font-size: 19px;
    line-height: 37px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    @media (any-hover: hover) {
      &:hover {
        background-color: darken(#2ba960, 5%);
      }
    }
  }
  &._fw {
    width: 100%;
  }
}
