.product-single {
  position: relative;
  padding-top: 60px;
  padding-bottom: 120px;
  @media (max-width: 1024px) {
    padding-top: 30px;
    padding-bottom: 80px;
    .socials {
      display: none;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: 180px;
    right: 0;
    width: 10%;
    height: 600px;
    background-color: #f8f8f8;
    @media (max-width: 1024px) {
      width: 200px;
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .product-single__row {
    display: grid;
    grid-template-columns: 420px auto 200px;
    column-gap: 10px;
    position: relative;
    z-index: 2;
    @media (max-width: 1300px) {
      grid-template-columns: 265px auto 200px;
    }
    @media (max-width: 1024px) {
      grid-template-columns: 265px auto;
      column-gap: 20px;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
  .product-single__img-wrapper {
    @media (max-width: 768px) {
      background-color: #f4f4f4;
      padding-top: 26px;
    }
  }
  .product-single__img {
    margin-right: 40px;
    background-color: #f4f4f4;
    padding: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    img,
    picture {
      width: 100%;
      height: 315px;
      object-fit: contain;
    }
    @media (max-width: 1300px) {
      padding: 55px;
      img,
      picture {
        height: 215px;
      }
    }
    @media (max-width: 1024px) {
      margin-right: 0;
      margin-bottom: 30px;
    }
    @media (max-width: 768px) {
      padding: 40px;
      margin-bottom: 0;
    }
  }
  .product-single__info {
    @media (min-width: 1500px) {
      max-width: 70%;
    }
    @media (max-width: 1024px) {
      padding-top: 30px;
    }
  }
  .product-single__name {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #111111;
    max-width: 423px;
    margin-bottom: 23px;
    @media (max-width: 768px) {
      padding-left: 25px;
      padding-right: 25px;
      text-align: center;
      font-size: 24px;
      line-height: 29px;
      margin: 0 auto;
    }
  }
  .product-single__buy {
    .btn {
      width: 100%;
      @media (max-width: 768px) {
        max-width: 145px;
      }
    }
  }
  .product-single__list {
    padding-bottom: 25px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #dddddd;
    }
  }
  .product-single__list-item {
    display: flex;
    column-gap: 20px;
    margin-bottom: 14px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &:first-of-type {
      @media (max-width: 768px) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
      }
    }
  }
  .product-single__list-name {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #6e6e6e;
    flex: 0 0 90px;
  }
  .product-single__list-value {
    max-width: 330px;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
  }
  .product-single__list-author {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    a {
      text-decoration: underline;
    }
  }
  .product-single__actions {
    padding-top: 14px;
    padding-bottom: 19px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    position: relative;
    @media (max-width: 768px) {
      padding-right: 0;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #dddddd;
    }
  }
  .product-single__favorite-link {
    display: inline-flex;
    align-items: center;
    column-gap: 8px;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    transition: opacity 0.25s;
    &:hover {
      opacity: 0.7;
    }
  }
  .product-single__share-link {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    line-height: 150%;
    color: #000000;
    column-gap: 24px;
    padding-left: 32px;
    position: relative;
    transition: opacity 0.25s;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 34px;
      background-color: #d9d9dd;
      @media (max-width: 768px) {
        display: none;
      }
    }
    &:hover {
      opacity: 0.7;
    }
  }
  .product-single__description {
    padding-top: 27px;
  }
  .product-single__description-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 18px;
  }
  .product-single__text {
    font-size: 16px;
    line-height: 150%;
    color: #111111;
    margin-bottom: 25px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .product-single__buy {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: 768px) {
      padding-left: 25px;
      padding-right: 25px;
      padding-bottom: 37px;
    }
  }
  .product-single__price {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 6px;
  }
  .product-single__availability {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #5c5c5c;
    margin-bottom: 27px;
  }
  .product-single__nav {
    display: flex;
    align-items: center;
    column-gap: 60px;
    padding-top: 80px;
    @media (max-width: 768px) {
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 30px;
      row-gap: 1rem;
      padding-top: 50px;
      i {
        font-size: 10px;
      }
    }
  }
  .product-single__nav-link {
    display: inline-flex;
    align-items: center;
    column-gap: 1rem;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #000000;
    &:first-of-type {
      i {
        transform: rotate(180deg);
      }
    }
    &:last-of-type {
      font-weight: 400;
      i {
        opacity: 0.5;
      }
    }
  }
}
