//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 1rem 20px 1rem 0;
  border: none;
  border-bottom: 1px solid #d9d9d98c;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.03em;
  outline: none !important;
  color: #ffffff;
  &::placeholder {
    opacity: 0;
  }
  &._form-focus {
    outline: none !important;
    &::placeholder {
      opacity: 1;
    }
  }
  &._form-error {
  }
}
textarea.input {
  resize: none;
  // margin-top: -65px;
  + .form-label {
    &.active {
      // bottom: auto;
      // top: 20px;
      transform: translateY(-65px);
      opacity: 0;
    }
  }
}
