.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $clr-white;
  z-index: 101;
  transition: 0.5s ease-in-out;
  .preloader-logo {
    width: rem(200);
    height: rem(120);
    display: block;
    max-width: 100%;
  }
}
