//
// Footer
// --------------------------------------------------

.footer {
	padding: 85px 0 53px;
	.footer-column {
		margin-bottom: 25px;
	}
	.footer-column__title {
		font-size: 1rem;
		line-height: 21px;
		color: $black-clr;
		font-weight: 700;
		margin-bottom: 17px;
	}
	.footer-nav__link  {
		font-size: 1rem;
		line-height: 36px;
		display: block;
		color: $black-clr;
		text-decoration: none;
		transition: .25s;
		@include hover {
			color: $accent-clr;
		}
	}
	.footer-nav__social-link {
		color: #AFAFAF;
		display: flex;
		align-items: center;
		i {
			margin-right: 10px;
		}
	}
	.footer-logo {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		.footer-logo__link {
			max-width: 174px;
			display: block;
			margin-bottom: 37px;
		}
	}
	.footer-dealer-btn {
		display: flex;
		justify-content: flex-end;
	}
}

@media (max-width: 1023px) {
	.footer {
		padding: 43px 0 28px;
		.footer-logo {
			align-items: flex-start;
		}
		.footer-dealer-btn {
			justify-content: flex-start;
		}
	}
}

@media (max-width: 767px) {
	.footer-nav-pages {
		column-count: 2;
		&.pt-38 {
			padding-top: 0;
		}
	}
}