//
// Header
// --------------------------------------------------

.header {
	background-color: $beige;
	will-change: transform;
	width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 999;
	padding-top: 22px;
	padding-bottom: 20px;
	font-family: $font-family-basis;
	.header-wrapper {
		position: relative;
		height: 100%;
		max-width: 1440px;
		margin: 0 auto;
		display: flex;
		align-items: flex-end;
		width: 100%;
	}
	&.is-fixed {
		animation: headerFixed .8s forwards;
		position: fixed;
		padding: 14px 0 15px;
		.container-header {
			max-width: 1440px;
		}
		.header-wrapper {
			display: flex;
			max-width: 1440px;
		}
	}
}

.logo-mob {
	display: none;
}

@keyframes headerFixed {
	from { transform: translateY(-130px); }
	to { transform: translateY(0); }
}

@media (max-width: 1024px) {
	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0 8px 20px;
		&.is-fixed {
			padding: 10px 0 8px 20px;
		}
		.container-header {
			width: 83px;
			margin: 0;
			max-width: 100%;
		}
		.header-wrapper {
			width: 83px;
			margin: 0;
		}
	}
	.logo-mob {
		display: block;
	}
}