.hero-banner {
	.hero-slide {
		position: relative;
		h1 {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.seo-text {
	font-size: 14px;
	line-height: 21px;
	color: $black;
	padding-top: 71px;
	padding-bottom: 39px;
	@media (max-width: 767.98px) {
		padding-top: 36px;
	}
}