/* hero slider */

.hero {
  position: relative;
  padding-top: 108px;
}

/* Products */

.products {
  padding-top: 90px;
  padding-bottom: 16px;
  background: linear-gradient(
    213.71deg,
    rgba(190, 191, 184, 0) 0%,
    #bebfb8 100%
  );
  .products-title {
    margin-bottom: 63px;
  }
  .products-slider {
    margin: 0;
    [class*="col-"] {
      padding: 0;
      margin-bottom: 76px;
    }
  }
  .products-item {
    display: flex;
    flex-direction: column;
		.product-item__body-icon {
			transition: .25s;
		}
    @media (min-width: 1025px) {
      &.products-item__reverse {
        flex-direction: column-reverse;
        height: 100%;
        justify-content: flex-end;
        .product-item__body {
          margin-top: 0;
          margin-bottom: -220px;
        }
        .product-item__body-inner {
          display: flex;
          flex-direction: column;
          padding: 32px 35px 92px;
          @media (max-width: 1309px) {
            padding: 32px 24px 92px;
          }
        }
        .product-item__body-subtitle {
          order: 1;
        }
        .product-item__body-text {
          order: 2;
          max-width: 220px;
        }
        .product-item__body-title {
          order: 4;
          margin-bottom: 0;
          max-width: 215px;
        }
        .product-item__body-icon {
          order: 3;
          transform: rotate(180deg);
          margin-bottom: 131px;
					transition: .25s;
        }
        .product-item__thumb {
          margin-top: auto;
        }
      }
    }
  }
  .product-item__body-icon {
    width: 16px;
    height: 16px;
  }
  .product-item__thumb {
    position: relative;
    &::after {
      content: "";
      display: block;
      padding-bottom: 50%;
    }
    &::before {
      content: "";
      display: block;
      padding-bottom: 50%;
    }
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      object-fit: cover;
      z-index: 1;
    }
  }
  .product-item__body {
    padding: 0 35px;
    @media (max-width: 1309px) {
      padding: 0 24px;
      margin-top: -130px;
    }
    margin-top: -150px;
    z-index: 9;
    position: relative;
  }
  .product-item__body-inner {
    border: 5px solid $accent-clr;
    padding: 70px 35px 43px;
		display: block;
		color: $black-clr;
		text-decoration: none;
		transition: .25s;
		@include hover {
			background-color: $accent-clr;
			color: $white-clr;
			.product-item__body-icon {
				transform: rotate(90deg);
				img {
					filter: invert(100%);
				}
			}
		}
    @media (max-width: 1309px) {
      padding: 70px 24px 43px;
    }
  }
  .product-item__body-title {
    margin-bottom: 78px;
    font-weight: bold;
    line-height: 27px;
  }
  .product-item__body-subtitle {
    margin-bottom: 24px;
    line-height: 27px;
    font-weight: bold;
  }
  .product-item__body-text {
    line-height: 27px;
    margin-bottom: 33px;
  }
  .product-item__title-white {
    color: $white-clr;
  }
}

/* Fantom slider */

.fantom {
  position: relative;
  background-color: #f2f2f2;
  .fantom-slider {
    max-width: 1920px;
    margin: 0 auto;
  }
}

.fantom-slider {
  .basic-slider__title {
    max-width: fit-content;
    min-height: 144px;
  }
}

/* Promotions */

.promotions {
  padding: 90px 0;
  background-color: $beige-clr;
  .promotions-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 90px;
  }
}

/* About us */

.about-us {
  padding: 90px 0;
  .products-title {
    margin-bottom: 63px;
  }
  .about-us__img {
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .about-us__text {
    max-width: 560px;
    p {
      line-height: 27px;
      margin-bottom: 1.8rem;
    }
  }
  .btn {
    margin-top: 1.8rem;
  }
}

/* Steps */

.steps {
  padding: 76px 0 20px;
  .products-title {
    margin-bottom: 63px;
  }
  .steps-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -35px;
  }
  .steps-col {
    flex: 0 0 33.3333%;
    padding: 0 35px;
    margin-bottom: 70px;
  }
  .steps-card {
    background-color: $grey-darker-clr;
    padding: 40px 40px 65px;
    height: 100%;
  }
  .steps-card__icon {
    &.steps-card__icon-1 {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='152' height='156' viewBox='0 0 152 156' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.502 4.38981C73.0252 2.59522 78.9748 2.59522 84.498 4.38981L112.392 13.4531C117.915 15.2477 122.728 18.7448 126.142 23.4431L143.381 47.1712C146.795 51.8695 148.633 57.5278 148.633 63.3352V92.6648C148.633 98.4722 146.795 104.131 143.381 108.829L126.142 132.557C122.728 137.255 117.915 140.752 112.392 142.547L84.498 151.61C78.9748 153.405 73.0252 153.405 67.502 151.61L39.608 142.547C34.0848 140.752 29.2715 137.255 25.858 132.557L8.61857 108.829C5.20505 104.131 3.36654 98.4722 3.36654 92.6647V63.3352C3.36654 57.5278 5.20505 51.8695 8.61857 47.1712L25.858 23.4431C29.2715 18.7448 34.0848 15.2477 39.608 13.4531L67.502 4.38981Z' fill='%23F9F9F9' stroke='%2328B3A1' stroke-width='5'/%3E%3C/svg%3E%0A");
      }
    }
    &.steps-card__icon-2 {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='156' height='154' viewBox='0 0 156 154' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M70.2524 3.88045C75.3107 2.3952 80.6893 2.3952 85.7476 3.88046L111.554 11.458C116.613 12.9432 121.137 15.8512 124.59 19.8354L142.203 40.1621C145.655 44.1463 147.89 49.0389 148.64 54.2571L152.468 80.8795C153.218 86.0977 152.453 91.4216 150.263 96.2171L139.089 120.683C136.899 125.478 133.377 129.543 128.942 132.393L106.316 146.934C101.881 149.785 96.7199 151.3 91.4481 151.3H64.5519C59.28 151.3 54.1193 149.785 49.6843 146.934L27.0578 132.393C22.6228 129.543 19.1006 125.478 16.9106 120.683L5.73749 96.2171C3.54747 91.4216 2.78202 86.0977 3.53228 80.8795L7.36 54.2571C8.11027 49.0389 10.3446 44.1463 13.797 40.1621L31.4102 19.8354C34.8626 15.8511 39.3874 12.9432 44.4457 11.458L70.2524 3.88045Z' fill='%23F9F9F9' stroke='%2328B3A1' stroke-width='5'/%3E%3C/svg%3E%0A");
      }
    }
    &.steps-card__icon-3 {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='148' height='150' viewBox='0 0 148 150' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.52084 86.9318C1.8897 79.3917 1.8897 70.6083 5.52084 63.0682L22.7283 27.3365C26.3594 19.7964 33.2265 14.3201 41.3856 12.4578L80.0504 3.63282C88.2095 1.77056 96.7726 3.72505 103.316 8.94297L134.323 33.6701C140.866 38.888 144.677 46.8015 144.677 55.1704L144.677 94.8296C144.677 103.198 140.866 111.112 134.323 116.33L103.316 141.057C96.7726 146.275 88.2095 148.229 80.0504 146.367L41.3856 137.542C33.2265 135.68 26.3594 130.204 22.7283 122.663L5.52084 86.9318Z' fill='%23F9F9F9' stroke='%2328B3A1' stroke-width='5'/%3E%3C/svg%3E%0A");
      }
    }
    &.steps-card__icon-4 {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='154' height='153' viewBox='0 0 154 153' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.5944 5.08379C73.6699 2.87252 80.3301 2.87252 86.4056 5.08379L116.665 16.0972C122.74 18.3084 127.842 22.5896 131.075 28.1887L147.175 56.0756C150.408 61.6747 151.564 68.2338 150.442 74.6009L144.85 106.313C143.727 112.68 140.397 118.448 135.445 122.604L110.777 143.302C105.824 147.458 99.5658 149.736 93.1005 149.736H60.8995C54.4342 149.736 48.1756 147.458 43.2229 143.302L18.5555 122.604C13.6028 118.448 10.2726 112.68 9.14993 106.313L3.55829 74.6009C2.4356 68.2338 3.59214 61.6747 6.82481 56.0756L22.9253 28.1887C26.158 22.5896 31.26 18.3084 37.3354 16.0972L67.5944 5.08379Z' fill='%23F9F9F9' stroke='%2328B3A1' stroke-width='5'/%3E%3C/svg%3E%0A");
      }
    }
    &.steps-card__icon-5 {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='156' height='154' viewBox='0 0 156 154' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M70.2524 3.88045C75.3107 2.3952 80.6893 2.3952 85.7476 3.88046L111.554 11.458C116.613 12.9432 121.137 15.8512 124.59 19.8354L142.203 40.1621C145.655 44.1463 147.89 49.0389 148.64 54.2571L152.468 80.8795C153.218 86.0977 152.453 91.4216 150.263 96.2171L139.089 120.683C136.899 125.478 133.377 129.543 128.942 132.393L106.316 146.934C101.881 149.785 96.7199 151.3 91.4481 151.3H64.5519C59.28 151.3 54.1193 149.785 49.6843 146.934L27.0578 132.393C22.6228 129.543 19.1006 125.478 16.9106 120.683L5.73749 96.2171C3.54747 91.4216 2.78202 86.0977 3.53228 80.8795L7.36 54.2571C8.11027 49.0389 10.3446 44.1463 13.797 40.1621L31.4102 19.8354C34.8626 15.8511 39.3874 12.9432 44.4457 11.458L70.2524 3.88045Z' fill='%23F9F9F9' stroke='%2328B3A1' stroke-width='5'/%3E%3C/svg%3E%0A");
      }
    }
    &.steps-card__icon-6 {
      &::after {
        background-image: url("data:image/svg+xml,%3Csvg width='152' height='156' viewBox='0 0 152 156' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M67.502 4.38981C73.0252 2.59522 78.9748 2.59522 84.498 4.38981L112.392 13.4531C117.915 15.2477 122.728 18.7448 126.142 23.4431L143.381 47.1712C146.795 51.8695 148.633 57.5278 148.633 63.3352V92.6648C148.633 98.4722 146.795 104.131 143.381 108.829L126.142 132.557C122.728 137.255 117.915 140.752 112.392 142.547L84.498 151.61C78.9748 153.405 73.0252 153.405 67.502 151.61L39.608 142.547C34.0848 140.752 29.2715 137.255 25.858 132.557L8.61857 108.829C5.20505 104.131 3.36654 98.4722 3.36654 92.6647V63.3352C3.36654 57.5278 5.20505 51.8695 8.61857 47.1712L25.858 23.4431C29.2715 18.7448 34.0848 15.2477 39.608 13.4531L67.502 4.38981Z' fill='%23F9F9F9' stroke='%2328B3A1' stroke-width='5'/%3E%3C/svg%3E%0A");
      }
    }
  }
  .slick-list {
    padding: 0 16% 0 0 !important;
  }
  .slick-slide.slick-active {
    .card-icon[data-aos="rotate-anim"] {
      &::after {
        animation: rotateAnim 2.5s 1 ease forwards;
        // transition: transform 2.5s, opacity .35s;
      }
    }
    @keyframes rotateAnim {
      from {
        transform: rotate(360deg);
      }
      to {
        transform: rotate(0);
      }
    }
  }
  .steps-card__icon-2 {
    padding: 50px;
  }
  .steps-card__icon-3 {
    padding: 55px;
  }
  .steps-card__icon-4 {
    padding: 40px;
  }
  .steps-card__icon-5 {
    padding: 55px;
  }
  .steps-card__body {
    display: flex;
  }
  .steps-card__number {
    flex: 0 0 61px;
    span {
      width: 22px;
      height: 19px;
      display: block;
      line-height: 18px;
      text-align: center;
      border: 2px solid $black-clr;
      border-radius: 4px;
      font-size: 14px;
      font-weight: 700;
    }
  }
  .steps-card__text {
    line-height: 27px;
    margin-top: -5px;
  }
}

/* Form section */

.form-section {
	// background: linear-gradient(90deg, $beige-clr 50%, #1B1B1B 50%);
	position: relative;
	padding: 90px 0 68px;
	&::before,
	&::after {
		content: '';
		position: absolute;
		width: 50%;
		height: 100%;
		top: 0;
		z-index: -1;
	}
	&::before {
		background-color: $beige-clr;
		left: 0;
	}
	&::after {
		background-color: $black-clr;
		background-repeat: no-repeat;
		background-size: cover;
		right: 0;
	}
	.form-section-title {
		margin-bottom: 51px;
	}
	.form-section-text {
		margin-bottom: 33px;
		max-width: 510px;
	}
	.form-title {
		margin-bottom: 60px;
	}
}

/* About page */

.about-hero {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  .about-hero__caption {
    padding-top: 364px;
    padding-bottom: 140px;
    max-width: 845px;
    .title-big {
      line-height: 1;
      margin-bottom: 44px;
    }
  }
}

.history {
  padding: 154px 0 104px;
  position: relative;
  &::after,
  &::before {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
  }
  &::before {
    bottom: 25px;
    left: 0;
    width: 230px;
    height: 230px;
    background-image: url('../img/history-poly.svg');
  }
  &::after {
    bottom: 0;
    right: 0;
    background-image: url('../img/history-poly2.svg');
    width: 362px;
    height: 362px;
  }
  .products-title {
    margin-bottom: 38px;
  }
}

.team {
  position: relative;
  padding: 150px 0;
  .products-title {
    margin-bottom: 63px;
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(213.71deg, rgba(190, 191, 184, 0) 0%, #BEBFB8 100%);
    opacity: 0.5;
    z-index: -1;
  }
  .team-slider__wrapper {
    margin-bottom: 70px;
    .basic-slider__controls {
      padding-right: 64px;
      padding-left: 70px;
    }
  }
  [class*="col-"] {
    padding: 0;
  }
}

.team-card {
  .team-card__body {
    border: 5px solid $accent-clr;
    margin: -35px 35px 0;
    z-index: 2;
    position: relative;
  }
  .team-card__body-inner {
    padding: 71px 35px 45px;
    display: block;
    text-decoration: none;
    transition: .25s;
    @include hover {
      background-color: $accent-clr;
      .team-card__body-text {
        color: $white-clr;
      }
      .team-item__body-icon {
        filter: invert(100%);
        transform: rotate(90deg);
      }
    }
  }
  .team-card__body-text {
    color: $black-clr;
    font-weight: bold;
    margin-bottom: 35px;
    transition: .25s;
  }
  .team-item__body-icon {
    width: 16px;
    height: 16px;
    transition: .25s;
  }
}

.write-us {
  .write-us__inner {
    display: flex;
    justify-content: space-between;
    .proba-family {
      line-height: 1;
      max-width: 350px;
    }
    p {
      line-height: 27px;
      max-width: 522px;
    }
    .write-us__btn {
      .btn {
        height: 56px;
        width: 220px;
      }
    }
  }
  padding: 148px 0 93px;
}


/* About page */

@media (max-width: 1439px) {
  .form-section {
    .form-wrapper {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

@media (max-width: 1200px) {
  .steps {
    .steps-row {
      margin: 0 -15px;
    }
    .steps-col {
      padding: 0 15px;
      margin-bottom: 30px;
    }
    .steps-card {
      padding: 40px 30px 60px;
    }
    .steps-card__number {
      flex: 0 0 40px;
    }
  }
}

@media (max-width: 1024px) {
  .steps {
    .steps-row {
      justify-content: center;
    }
    .steps-col {
      flex: 0 0 50%;
    }
    .steps-card__text {
      line-height: 21px;
    }
  }
}

@media (max-width: 1023px) {
  .form-section {
    padding: 0;
    &::before,
    &::after {
      display: none;
    }
    .form-section-info {
      padding: 43px 1rem 50px;
      background-color: $beige-clr;
    }
    .form-section-title,
    .form-title {
      margin-bottom: 25px;
    }
    .container {
      padding: 0;
    }
    .row {
      margin: 0;
    }
    [class*="col-"] {
      padding: 0;
    }
    .form-wrapper {
      padding: 43px 1rem 50px;
      background-color: $black-clr;
      .form-group {
        margin-bottom: 1rem;
      }
      .row {
        margin: 0 -1rem;
      }
      [class*="col-"] {
        padding: 0 1rem;
      }
    }
  }
}

@media (max-width: 991px) {
  .hero {
    padding-top: 56px;
  }
  .about-us {
    .about-us__description {
      padding-right: 70px;
    }
  }
  .promotions {
    overflow: hidden;
    padding: 43px 0 20px;
    .promotions-inner {
      margin-bottom: 30px;
    }
  }
  .promotions-card {
    flex-direction: column-reverse;
    .promotions-card__text {
      flex: 0;
      margin: -30px auto 0;
      max-width: 90%;
      width: 100%;
    }
    .promotions-card__text {
      padding-top: 0;
    }
    .promotions-card__text-inner {
      padding: 57px 49px 32px 24px;
    }
    .promotions-card__text-duration,
    .promotions-card__text-description,
    .promotions-card__text-icon {
      text-align: left;
    }
    .promotions-card__text-icon {
      img {
        transform: rotate(0);
      }
    }
  }
  .promotions-card.promotions-card-reverse {
    flex-direction: column-reverse;
    .promotions-card__text {
      margin-left: 0;
      margin: -30px auto 0;
    }
    .promotions-card__text-inner {
      padding: 57px 49px 32px 24px;
    }
    .promotions-card__text-icon {
      img {
        transform: rotate(0);
      }
    }
  }
}

@media (max-width: 767px) {
  .products {
    padding-bottom: 45px;
    padding-top: 43px;
    .products-title {
      margin-bottom: 29px;
    }
    .product-item__body {
      margin-top: -115px;
    }
    .product-item__body-inner {
      padding: 48px 25px 27px;
    }
    .product-item__body-title {
      margin-bottom: 67px;
    }
    .product-item__body-subtitle {
      margin-bottom: 18px;
    }
    .product-item__body-text {
      margin-bottom: 24px;
      line-height: 21px;
    }
    .products-slider {
      [class*="col-"] {
        margin-bottom: 30px;
      }
    }
    .slick-dots {
      justify-content: center;
      li {
        button {
          height: 5px;
        }
      }
    }
  }
  .about-us {
    padding: 43px 0;
    .about-us__description {
      margin-bottom: 30px;
      padding-right: 0;
    }
    .about-us__img {
      width: calc(100% + 2rem);
      margin: 0 -1rem;
      overflow: hidden;
    }
    .about-us__text {
      max-width: 100%;
      p {
        margin-bottom: 1.4rem;
      }
    }
    .btn {
      margin-top: 0;
    }
    .products-title {
      margin-bottom: 12px;
    }
  }
  .steps {
    padding: 0 0 13px;
    background-color: $white-clr;
    .products-title {
      margin-bottom: 25px;
    }
  }
}

@media (max-width: 575px) {
  .steps {
    overflow: hidden;
    .steps-card {
      padding: 50px 30px 32px;
    }
    .steps-row {
      width: calc(100% + 2rem);
      margin: 0 -0.5rem;
    }
    .steps-col {
      padding: 0 8px;
    }
    .steps-card__text {
      margin-top: -3px;
    }
  }
}
