.hero-banner {
	.hero-slide {
		position: relative;
		h1 {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.seo-text {
	font-size: 14px;
	line-height: 21px;
	color: $black;
	padding-top: 71px;
	padding-bottom: 39px;
	@media (max-width: 767.98px) {
		padding-top: 36px;
	}
}

.payment-delivery {
	.profile__header {
		padding: 60px 0 54px;
		@media (max-width: 991.98px) {
			padding-top: 40px;
			padding-bottom: 0;
		}
	}
	.profile__title {
		margin-bottom: 0;
	}
	.payment-slider {
		padding: 60px 0;
		display: flex;
		justify-content: center;
		max-width: 1100px;
		margin: 0 auto;
		.info-slide {
			padding: 0 44px;
			&__header {
				margin-bottom: 22px;
			}
			&__body {
				span {
					font-size: 14px;
					line-height: 21px;
				}
			}
			.btn {
				margin-top: 13px;
				width: 143px;
				height: 50px;
				padding-top: 15px;
			}
		}
		@media (max-width: 991.98px) {
			justify-content: space-around;
			.info-slide {
				padding: 0 15px;
			}
		}
		@media (max-width: 767.98px) {
			flex-direction: column;
			.slick-dots {
				margin-top: 36px;
			}
			.info-slide {
				&__header {
					text-align: center;
				}
				&__body {
					text-align: center;
				}
			}
		}
	}
}

.promotions {
	padding-bottom: 40px;
	@media (max-width: 767.98px) {
		padding-bottom: 0;
	}
	&-header {
		padding: 42px 0;
		margin-bottom: 60px;
		@media (max-width: 767.98px) {
			margin-bottom: 0;
		}
	}
	&-column {
		flex: 0 0 20%;
		max-width: 20%;
		margin-bottom: 24px;
		flex-shrink: 1;
		@media (max-width: 1200px) {
			flex: 0 0 25%;
			max-width: 25%;
		}
		@media (max-width: 991.98px) {
			flex: 0 0 33.3333%;
			max-width: 33.3333%;
		}
		@media (max-width: 767.98px) {
			flex: 0 0 50%;
			max-width: 50%;
			padding: 0;
			margin-bottom: 0;
		}
	}
	.product__card {
		height: 100%;
		cursor: pointer;
		text-decoration: none;
		outline: none !important;
		border: none;
		display: flex;
		flex-direction: column;
		&:focus {
			box-shadow: none;
			outline: none;
		}
		&:hover
		&.active {
			cursor: pointer;
			text-decoration: none;
		}
		@media (max-width: 767.98px) {
		}
		&-body {
			border: 1px solid #F0F0F0;
			border-top: 0;
			padding: 0 31px 18px;
			padding-top: 68px;
			height: 100%;
			@media (max-width: 767.98px) {
				padding: 0 17px 10px;
				padding-top: 60px;
			}
		}
		&-title {
			padding-left: 0;
			margin-bottom: 8px;
			padding-bottom: 0;
			padding-top: 0;
			&:hover {
				cursor: pointer;
				color: $black;
			}
		}
		&-discount {
			top: 30px;
			@media (max-width: 767.98px) {
				top: 20px;
			}
		}
	}
	.product__card-thumb {
		padding: 0;
		&:hover {
			cursor: pointer;
		}
		&::before {
			padding-top: 0;
			padding-bottom: 80%;
		}
		img {
			max-width: 100%;
			width: 100%;
			height: 100%;
			max-height: 100%;
			object-fit: cover;
		}
		@media (max-width: 991.98px) {
			// &::before {
			// 	padding-bottom: 36%;
			// 	padding-top: 36%;
			// }
		}
		@media (max-width: 767.98px) {
			// &::before {
			// 	padding-bottom: 20%;
			// 	padding-top: 30%;
			// }
			// img {
			// 	max-height: 91px;
			// 	max-width: 150px;
			// }
		}
	}
	&-text {
		margin-bottom: 8px;
		color: $black;
	}
}

.inner-header {
	background-color: $turquoise;
	padding: 45px 0 33px;
	.order-header-btn {
		padding-left: 70px;
		position: relative;
		display: flex;
		align-items: center;
		&::before {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: 50px;
			height: 50px;
			border: 2px solid $black;
			border-radius: 50px;
			background-repeat: no-repeat;
			background-position: center center;
			transition: border-color .25s;
		}
		.back-arrow {
			position: absolute;
			left: 15px;
			svg {
				path {
					transition: fill .25s;
				}
			}
		}
		@media (min-width: 992px) {
			&:hover {
				&::before {
					border-color: $green-accent;
				}
				.back-arrow {
					svg {
						path {
							fill: $green-accent;
						}
					}
				}
			}
		}
	}
	@media (max-width: 991.98px) {
		.profile__title,
		span {
			color: $white;
		}
		.order-header-btn {
			color: $white;
			&::before {
				border-color: $white;
			}
			.back-arrow {
				position: absolute;
				left: 15px;
				svg {
					path {
						fill: $white;
					}
				}
			}
		}
	}
}