//====================================================================================================

//====================================================================================================

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  color: #fff;
  padding-top: 42px;
  @media (max-width: 1150px) {
    padding-top: 25px;
  }
  @media (max-width: 575px) {
    padding-top: 20px;
  }
  .__container {
    display: flex;
    align-items: center;
    column-gap: 65px;
    @media (max-width: 1200px) {
      column-gap: 40px;
    }
    @media (max-width: 575px) {
      justify-content: center;
    }
  }
  .logo {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 311px;
    width: 100%;
    @media (max-width: 575px) {
      justify-content: center;
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
    img,
    picture {
      width: 100px;
      height: 100px;
      @media (max-width: 575px) {
        width: 50px;
        height: 50px;
      }
    }
    span {
      display: block;
      &:first-of-type {
        font-size: 57px;
        line-height: 100%;
        letter-spacing: 0.03em;
        @media (max-width: 1150px) {
          font-size: 42px;
        }
        @media (max-width: 575px) {
          font-size: 30px;
        }
      }
      &:last-of-type {
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0.07em;
        @media (max-width: 1150px) {
          font-size: 32px;
        }
        @media (max-width: 575px) {
          font-size: 18px;
        }
      }
    }
  }
  .btn {
    @media (max-width: 1024px) {
      margin-left: auto;
    }
    @media (max-width: 575px) {
      display: none;
    }
  }
}

.main-nav {
  margin-left: auto;
  @media (max-width: 1024px) {
    display: none;
  }
  .main-nav__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 65px;
    row-gap: 15px;
    @media (max-width: 1200px) {
      column-gap: 40px;
    }
  }
  .main-nav__link {
    font-weight: 700;
    font-size: 19px;
    line-height: 37px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    transition: color 0.25s;
    &:hover {
      @media (any-hover: hover) {
        text-decoration: underline;
      }
    }
  }
}
