.option {
  display: block;
  margin-bottom: 0;
}

/* Check */

.check {
  // padding-left: 1.2em;
  position: relative;
  &:hover {
    .check__box {
      border-color: var(--blue-color);
    }
  }
}

.check__input,
.radio-btn__input,
.radio-big__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check__box {
  width: 100%;
  height: 32px;
  display: block;
  border-radius: 6px;
  border: 1px solid var(--light-color);
  cursor: pointer;
  transition: 0.25s;
}

.radio-btn {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  cursor: pointer;
}

.radio-btn__item,
.radio-big__checkbox {
  width: 1rem;
  height: 1rem;
  display: block;
  border-radius: 50%;
  border: 1px solid var(--greyLight-color);
  cursor: pointer;
  transition: 0.25s;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--blue-color);
    opacity: 0;
    visibility: hidden;
    transition: 0.25s;
  }
}

/* Checked */

.check__input:checked + .check__box {
  background-color: var(--blue-color);
}

.radio-btn__input:checked + .radio-btn__item {
  border-color: var(--blue-color);
  &::after {
    opacity: 1;
    visibility: visible;
  }
}

.radio-big__input:checked + .radio-big__wrapper {
  &::after {
    opacity: 1;
    visibility: visible;
  }
}

.radio-big__input:checked + .radio-big__wrapper .radio-big__checkbox {
  border-color: var(--blue-color);
  &::after {
    opacity: 1;
    visibility: visible;
  }
}

.check__input:checked + .check__box + .check__box-text {
  color: #fff;
}

/* Focused */

.check__input:focus + .check__box {
  box-shadow: 0 0 0 0.1em transparent, 0 0 0 0.2em transparent;
}

/* Disabled */

.check__box-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  line-height: 1rem;
  pointer-events: none;
  transition: 0.25s;
}

/* Checkout form radio big */

.checkout-form__radio-big {
  cursor: pointer;
  .radio-big__wrapper {
    padding: 32px;
    position: relative;
    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
        border-color: var(--blue-lighter-color);
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid var(--blue-color);
      opacity: 0;
      visibility: hidden;
      transition: 0.25s;
      border-radius: 8px;
      pointer-events: none;
      z-index: -1;
    }
    @media (max-width: 768px) {
      padding: 25px 1rem;
    }
  }
  &.active {
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
  .radio-big__header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 1rem;
  }
  .radio-big__title,
  .radio-big__notification {
    font-size: 14px;
    line-height: 24px;
    color: var(--heading-color);
  }
  .radio-big__title {
    width: calc(100% - 2rem);
  }
  .radio-big__notification {
    color: var(--blue-color);
    padding-left: 2rem;
    margin-bottom: 19px;
  }
}
