.account {
  margin-bottom: 60px;
  @media (max-width: 768px) {
    padding-top: 20px;
  }
  .account-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
  }
  .account-nav-col {
    flex: 0 0 305px;
    padding: 0 20px;
  }
  .account-info-col {
    flex: 0 0 calc(100% - 325px);
    padding: 0 20px;
  }
  .account-info__item {
    .account-info__link {
      position: relative;
      padding-right: 35px;
      &::after {
        content: "\e905";
        font-family: "icomoon" !important;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        font-size: 12px;
        color: #9ca3af;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
    &.active {
      font-weight: var(--fw-600);
      background-color: var(--light-color);
      [class^="icon-"] {
        color: var(--blue-color);
      }
      .account-info__link {
        &::after {
          color: var(--blue-color);
        }
      }
    }
  }
  .account-heading {
    font-weight: var(--fw-600);
    font-size: 24px;
    line-height: 24px;
    color: var(--heading-color);
    margin-bottom: 22px;
  }
  @media (max-width: 1024px) {
    .account-info-col {
      flex: 0 0 100%;
    }
    .account-nav-col {
      display: none;
    }
  }
}

.personal-data__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  margin: 0 -1rem;
}

.personal-data__item {
  flex: 0 0 33.333333%;
  padding: 0 1rem 10px;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 30px);
    height: 1px;
    background-color: #e3e3e3;
  }
  @media (max-width: 1024px) {
    flex: 0 0 50%;
  }
  @media (max-width: 480px) {
    flex: 0 0 100%;
  }
}

.personal-data__label {
  font-size: 14px;
  line-height: 20px;
  display: block;
}

.personal-data__value {
  font-size: 14px;
  line-height: 20px;
  font-weight: var(--fw-500);
}

.personal-data__btn {
  margin-top: 30px;
  @media (max-width: 768px) {
    .btn {
      width: 100%;
    }
  }
}

/* Orders table **/

.orders-table {
  @media (max-width: 1100px) {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
  .orders-table__header,
  .orders-table__item {
    display: grid;
    grid-template-columns: 129px 120px 1fr 96px 113px 154px;
    column-gap: 24px;
    padding-top: 9px;
    padding-bottom: 9px;
    align-items: center;
    @media (max-width: 1350px) {
      grid-template-columns: 129px 80px 1fr 70px 113px 154px;
    }
    @media (max-width: 1200px) {
      grid-template-columns: 105px 90px 1fr 50px 100px 134px;
      column-gap: 12px;
    }
  }
  .orders-table__header {
    border: 1px solid #e5e7eb;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: var(--light-color);
    border-bottom: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: var(--fw-600);
    > div {
      &:first-of-type {
        padding-left: 24px;
        @media (max-width: 1200px) {
          padding-left: 1rem;
        }
      }
      &:last-of-type {
        padding-right: 24px;
        font-size: 0;
        @media (max-width: 1200px) {
          padding-right: 1rem;
        }
      }
    }
    @media (max-width: 1100px) {
      display: none;
    }
  }
  .orders-table__item {
    border: 1px solid #e5e7eb;
    border-bottom: 0;
    &:hover {
      .btn-account {
        background-color: var(--blue-color);
        color: #fff;
      }
    }
    &.order-denied {
      * :not(.order-label),
      .orders-table__price,
      .orders-table__quant {
        opacity: 0.5;
      }
    }
    &:last-of-type {
      border-bottom: 1px solid #e5e7eb;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
    }
    @media (max-width: 1100px) {
      grid-template-columns: 170px 80px 1.2fr 0.8fr 1.2fr;
      grid-template-areas:
        "my-order-title my-order-label my-order-quant my-order-price my-order-btn"
        "my-order-products my-order-products my-order-products my-order-products my-order-products";
      border-radius: 8px;
      border: 1px solid #e5e7eb;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 24px;
      padding-right: 24px;
      row-gap: 8px;
    }
    @media (max-width: 768px) {
      grid-template-columns: 60px 1fr 1fr;
      grid-template-areas:
        "my-order-title my-order-title my-order-label"
        "my-order-quant my-order-price my-order-btn"
        "my-order-products my-order-products my-order-products";
      padding: 1rem;
      row-gap: 0;
    }
    .orders-table__label {
      @media (max-width: 768px) {
        display: flex;
        justify-content: flex-end;
      }
    }
    .order-label {
      @media (max-width: 1100px) {
        grid-area: my-order-label;
      }
    }
    .orders-table__price {
      @media (max-width: 1100px) {
        grid-area: my-order-price;
        display: flex;
        justify-content: flex-end;
        font-weight: var(--fw-600);
      }
      @media (max-width: 768px) {
        justify-content: flex-start;
      }
    }
    .orders-table__quant {
      @media (max-width: 1100px) {
        display: flex;
        justify-content: flex-end;
        font-weight: var(--fw-600);
        grid-area: my-order-quant;
      }
      @media (max-width: 768px) {
        justify-content: flex-start;
      }
    }
  }
  .orders-table__title {
    padding-left: 24px;
    @media (max-width: 1200px) {
      padding-left: 1rem;
    }
    @media (max-width: 1100px) {
      grid-area: my-order-title;
      padding-left: 0;
      display: flex;
      align-items: center;
      column-gap: 1rem;
    }
    @media (max-width: 768px) {
      column-gap: 0;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .orders-table__number {
    color: var(--blue-color);
    display: block;
    font-weight: var(--fw-600);
    font-size: 16px;
    line-height: 24px;
  }
  .orders-table__date {
    color: #9ca3af;
    display: block;
    font-size: 14px;
    line-height: 24px;
  }
  .orders-table__btn {
    padding-right: 24px;
    .btn {
      @media (max-width: 575px) {
        max-width: 106px;
        margin-left: auto;
      }
    }
    @media (max-width: 1200px) {
      padding-right: 1rem;
    }
    @media (max-width: 1100px) {
      grid-area: my-order-btn;
      padding-right: 0;
      padding-left: 14px;
    }
  }
}

.orders-products {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  .orders-products__item {
    flex: 0 0 48px;
    padding: 0 8px;
    transition: 0.25s;
  }
  @media (max-width: 1100px) {
    grid-area: my-order-products;
  }
  @media (max-width: 768px) {
    padding-top: 8px;
  }
}

.order-label {
  font-weight: var(--fw-700);
  font-size: 10px;
  line-height: 1;
  text-transform: uppercase;
  padding: 7px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  &[data-order-label="new"] {
    background-color: var(--purple-color);
    color: #3e3678;
  }
  &[data-order-label="completed"] {
    background-color: var(--green-color);
    color: #269447;
  }
  &[data-order-label="rejected"] {
    background-color: var(--pink-color);
    color: var(--red-color);
  }
  &[data-order-label="in-work"] {
    background-color: #bfebff;
    color: #1251ae;
  }
}

.account-card-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  row-gap: 24px;
}

.account-card-col {
  flex: 0 0 50%;
  padding: 0 12px;
  @media (max-width: 768px) {
    flex: 0 0 100%;
  }
}

.account-card {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 24px;
  .account-card-title {
    font-size: 14px;
    line-height: 20px;
    color: #565656;
    margin-bottom: 1rem;
  }
  .account-card__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.account-card-add {
  margin-top: 2rem;
}
