.footer__container {
  @media (max-width: 1024px) {
    padding: 0;
  }
}

.footer-grid {
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 80px;
  @media (max-width: 1150px) {
    grid-template-columns: 1fr;
  }
}

.footer-logo {
  .footer-logo__link {
    display: block;
    max-width: 324px;
    width: 100%;
  }
  img {
    width: 100%;
    height: auto;
  }
  @media (max-width: 1150px) {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  @media (max-width: 768px) {
    row-gap: 25px;
    padding-left: 1rem;
    padding-right: 1rem;
    .footer-logo__link {
      max-width: 200px;
    }
  }
  @media (max-width: 575px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-links {
  padding-left: 83px;
  @media (max-width: 1150px) {
    padding-left: 0;
    min-width: 300px;
  }
  .footer-links__item {
    margin-bottom: 12px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .footer-links__link {
    font-size: 16px;
    line-height: 22px;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 8px;
    transition: 0.25s;
    > [class^="icon-"] {
      flex: 0 0 24px;
      text-align: center;
      transition: 0.25s;
    }
    &:hover {
      color: var(--blue-color);
    }
  }
}

.footer-contacts {
  background-color: var(--light-color);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  @media (max-width: 1150px) {
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 -12px;
  }
  @media (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0;
  }
  @media (max-width: 660px) {
    row-gap: 24px;
  }
  .footer-contacts__column {
    flex: 0 0 50%;
    padding: 0 12px;
    @media (max-width: 660px) {
      flex: 0 0 100%;
      padding: 0;
    }
  }
  .footer-contacts__phone {
    font-weight: var(--fw-700);
    font-size: 28px;
    line-height: 42px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 7px;
    transition: 0.25s;
    > [class^="icon-"] {
      color: var(--blue-color);
      font-size: 24px;
    }
    &:hover {
      color: var(--blue-color);
    }
    @media (max-width: 1024px) {
      font-size: 32px;
      line-height: 44px;
    }
  }
  .footer-contacts__hours {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 7px;
    display: block;
  }
  .footer-contacts__call {
    display: block;
    color: #9ca3af;
    font-size: 16px;
    line-height: 22px;
  }
}
.footer-contacts__mail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 22px;
  column-gap: 10px;
  transition: 0.25s;
  > [class^="icon-"] {
    color: var(--blue-color);
  }
  &:hover {
    color: var(--blue-color);
  }
}
.footer-contacts__btn {
  margin-bottom: 12px;
  &:last-of-type {
    margin-bottom: 0;
  }
  .btn-border {
    column-gap: 10px;
    width: 100%;
    span {
      color: var(--text-color);
      transition: 0.25s;
    }
    &:hover {
      span {
        color: #fff;
      }
    }
  }
}

.footer-copyright {
  background-color: var(--greyDark-color);
  padding: 19px 0;
  margin-top: 70px;
  @media (max-width: 1150px) {
    margin-top: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  @media (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media (max-width: 575px) {
    .footer-copyright__column {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
  .footer-copyright__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .footer-copyright__text {
    font-size: 16px;
    line-height: 24px;
    color: var(--greyLight-color);
    display: inline-block;
    margin-right: 36px;
  }
  .footer-copyright__link {
    font-weight: var(--fw-700);
    font-size: 16px;
    line-height: 24px;
    color: var(--greyLight-color);
    transition: 0.25s;
    &:hover {
      color: var(--blue-color);
    }
  }
  .footer-copyright__socials {
    display: flex;
    gap: 1rem;
    .social-link {
      background-color: var(--text-color);
      color: #fff;
      padding: 9px;
      aspect-ratio: 1;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      transition: 0.25s;
      &:hover {
        background-color: var(--blue-color);
      }
      @media (max-width: 575px) {
        width: 42px;
        height: 42px;
      }
      font-size: 20px;
    }
    @media (max-width: 575px) {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
  }
}
