.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #fff;
  &._header-scroll {
    position: fixed;
    // top: -100%;
    opacity: 0;
    visibility: hidden;
  }
  &._header-show {
    top: 0;
    transition: top 0.5s ease 0s, opacity 0.25s ease 0.25s;
    opacity: 1;
    visibility: visible;
    .header-topbar {
      @media (min-width: 769px) {
        display: none;
      }
    }
  }
}

//====================================================================================================
.header-topbar {
  display: flex;
  flex-wrap: wrap;
  row-gap: 15px;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  @media (max-width: 1024px) {
    column-gap: 24px;
  }
  @media (max-width: 768px) {
    padding-top: 13px;
    padding-bottom: 13px;
    justify-content: flex-start;
    .topbar-search {
      display: none;
    }
  }
  @media (max-width: 374px) {
    justify-content: space-between;
  }
  .topbar-logo {
    max-width: 240px;
    width: 100%;
    height: auto;
    a {
      display: block;
    }
    img {
      width: 100%;
      height: auto;
    }
    @media (max-width: 1024px) {
      max-width: 200px;
    }
    @media (max-width: 768px) {
      width: 120px;
      height: 34px;
      img,
      picture {
        width: 120px;
        height: 34px;
      }
    }
  }
  .topbar-info {
    display: flex;
    flex-direction: column;
    text-align: right;
    @media (max-width: 768px) {
      margin-left: auto;
    }
    @media (max-width: 374px) {
      display: none;
    }
  }
  .topbar-phone {
    font-size: 32px;
    line-height: 44px;
    color: var(--text-color);
    transition: 0.25s;
    &:hover {
      color: var(--blue-color);
    }
    @media (max-width: 1024px) {
      font-size: 24px;
      line-height: 33px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      line-height: 22px;
    }
  }
  .topbar-hours {
    font-size: 1rem;
    line-height: 22px;
    color: #9ca3af;
    @media (max-width: 1024px) {
      font-size: 12px;
      line-height: 15px;
    }
    @media (max-width: 768px) {
      font-size: 9px;
      line-height: 12px;
    }
  }
}

.topbar-search {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // @media (max-width: 480px) {
  //   flex: 0 0 61%;
  // }
  // @media (max-width: 374px) {
  //   flex: 0 0 40%;
  // }
}
.search-form {
  width: 100%;
  max-width: 520px;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}
.search-form__inner {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #e5e7eb;
  background-color: var(--superLight-color);
  border-radius: 6px;
  padding-left: 1rem;
  color: #9ca3af;
  font-size: 20px;
}

.header-account,
.header-cart {
  @media (max-width: 768px) {
    .header-btn {
      > span {
        display: none;
      }
    }
  }
}

.header-nav {
  background-color: var(--greyDark-color);
  padding-top: 1rem;
  padding-bottom: 1rem;
  > .header__container {
    display: grid;
    // justify-content: space-between;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    column-gap: 60px;
    row-gap: 15px;
    @media (max-width: 768px) {
      gap: 14px;
      grid-template-columns: 1fr 112px;
    }
  }
  .topbar-search {
    @media (min-width: 769px) {
      display: none;
    }
  }
  @media (max-width: 768px) {
    min-height: 74px;
  }
}

.main-nav {
  flex: 1 0 60%;
  @media (max-width: 1024px) {
    flex: 1 0 auto;
  }
  .main-nav__list {
    color: var(--greyLight-color);
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 15px;
    @media (max-width: 1024px) {
      column-gap: 1rem;
    }
  }
  .main-nav__list-item {
    a {
      display: block;
      transition: 0.25s;
      color: var(--greyLight-color);
      font-weight: var(--fw-600);
      &:hover {
        color: var(--blue-color);
      }
    }
  }
  @media (max-width: 768px) {
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    background-color: var(--greyDark-color);
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s;
    .main-nav__list {
      flex-direction: column;
      align-items: center;
      padding-top: 35px;
      padding-bottom: 35px;
      gap: 0;
    }
    .main-nav__list-item {
      &:last-of-type {
        margin-bottom: 0;
      }
      a {
        font-size: 1rem;
        line-height: 22px;
        padding: 12px 1rem;
      }
    }
  }
}
.header-actions {
  display: flex;
  column-gap: 1.5rem;
  justify-content: flex-end;
  .has-child {
    position: relative;
    &.active {
      .header-dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(10px);
        @media (max-width: 768px) {
          transform: translateY(0);
        }
      }
      .header-btn {
        background-color: var(--blue-color);
        color: #fff;
        [class^="icon-"] {
          color: #fff;
        }
      }
    }
  }
  @media (max-width: 768px) {
    column-gap: 14px;
  }
}
.header-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 265px;
  transform: translateY(20px);
  opacity: 0;
  visibility: hidden;
  transition: 0.25s;
  background-color: #fff;
  box-shadow: 0px 11px 24px rgba(0, 0, 0, 0.07),
    0px 4px 16px rgba(153, 153, 153, 0.25);
  border-radius: 8px;
  z-index: 3;
  &.account-info {
    .btn-close {
      display: none;
    }
    @media (max-width: 768px) {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      transform: translateY(0);
      z-index: 102;
      .btn-close {
        display: block;
      }
    }
  }
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  min-height: 41px;
  height: 42px;
  color: var(--greyLight-color);
  transition: 0.25s;
  .cart-quant__text {
    margin-left: -5px;
  }
  > * {
    pointer-events: none;
  }
  &:hover {
    background-color: var(--blue-color);
    color: #fff;
    [class^="icon-"] {
      color: #fff;
    }
  }
  [class^="icon-"] {
    color: var(--blue-color);
    font-size: 22px;
    transition: color 0.25s;
    flex: 0 0 22px;
    aspect-ratio: 1;
  }
  @media (max-width: 1024px) {
    .cart-quant__text {
      display: none;
    }
  }
  @media (max-width: 768px) {
    width: 49px;
  }
}
//====================================================================================================

//Burger
.icon-menu {
  display: none;
  @media (max-width: 768px) {
    display: block;
    position: relative;
    width: rem(18);
    height: rem(16);
    cursor: pointer;
    z-index: 5;
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #9ca3af;
      pointer-events: none;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - rem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}

@media (max-width: 768px) {
  .menu-open {
    .main-nav {
      opacity: 1;
      visibility: visible;
    }
    .backdrop {
      opacity: 0.5;
      visibility: visible;
      display: block;
    }
  }
}

@media (max-width: 1024px) {
}
