.product-wrapper {
  .sidebar {
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .layout.layout-sidebar {
    @media (max-width: 1024px) {
      grid-template-columns: 1fr;
    }
  }
}

.product-card {
  .product-card__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    @media (max-width: 1024px) {
      margin-bottom: 0;
      padding-top: 34px;
      padding-bottom: 44px;
    }
    @media (max-width: 768px) {
      padding-top: 0;
      padding-bottom: 1rem;
    }
  }
  .product-card__subtitle {
    font-size: 24px;
    line-height: 33px;
    color: var(--heading-color);
    text-align: center;
  }
  .product-card__row {
    @media (min-width: 1025px) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -16px;
    }
    @media (max-width: 1024px) {
      padding-top: 24px;
    }
    @media (max-width: 575px) {
      padding-top: 0;
    }
  }
  .product-card__col {
    min-width: 0;
    &:last-of-type {
      margin-bottom: 0;
    }
    @media (min-width: 1025px) {
      flex: 0 0 50%;
      &:first-of-type {
        flex: 0 0 41%;
      }
      &:last-of-type {
        flex: 0 0 59%;
      }
      padding: 0 16px;
    }
    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }
  .product-card__slider {
    @media (min-width: 1025px) {
      height: 100%;
    }
  }
  .product-card__slider-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 2;
    pointer-events: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .product-card__slider-nav-btn {
    width: 42px;
    height: 42px;
    background-color: var(--superLight-color);
    border: 1px solid var(--light-color);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    pointer-events: all;
    transition: 0.25s;
    &:hover {
      background-color: var(--blue-color);
      color: #fff;
      border-color: var(--blue-color);
    }
  }
  .product-card__slider-prev {
    [class^="icon-"] {
      transform: rotate(-180deg);
    }
  }
  .product-card__image {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f5f5f5;
    height: 100%;
    display: flex;
    &::before,
    &::after {
      content: "";
      display: block;
    }
    img,
    picture {
      display: block;
      width: 100%;
      object-fit: contain;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
    &::before {
      padding-top: 50%;
    }
    &::after {
      padding-bottom: 50%;
    }
    @media (max-width: 1024px) {
      aspect-ratio: 1;
      &::before {
        padding-top: 50%;
      }
      &::after {
        padding-bottom: 50%;
      }
    }
  }
}

.product-characteristics {
  .product-characteristics__title {
    color: var(--heading-color);
    font-size: 24px;
    line-height: 1;
    font-weight: var(--fw-700);
    margin-bottom: 21px;
  }
  .product-characteristics__list {
    margin-bottom: 32px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    overflow: hidden;
    @media (max-width: 768px) {
      margin-bottom: 24px;
    }
  }
  .product-characteristics__item {
    display: grid;
    grid-template-columns: 45% 55%;
    border-bottom: 1px solid #e5e7eb;
    &:last-of-type {
      border-bottom: none;
    }
    > * {
      padding: 7px 1rem;
      font-size: 14px;
      line-height: 24px;
      @media (max-width: 768px) {
        padding: 10px 1rem;
      }
      @media (max-width: 575px) {
        padding: 10px 0.6rem;
      }
    }
    @media (max-width: 1250px) {
      grid-template-columns: 1fr 1fr;
    }
  }
  .product-characteristics__label {
    background-color: var(--light-color);
    color: var(--heading-color);
    font-weight: var(--fw-600);
  }
}

.product-card__table {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  margin-top: 32px;
  margin-bottom: 75px;
  overflow: hidden;
  @media (max-width: 1024px) {
    margin-bottom: 40px;
  }
  @media (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: none;
    gap: 8px;
    margin-bottom: 32px;
  }
  @media (max-width: 575px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .product-card__table-header,
  .product-card__table-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    > * {
      padding-top: 9px;
      padding-bottom: 9px;
      @media (max-width: 768px) {
        padding: 0;
      }
    }
    @media (max-width: 1024px) {
      column-gap: 12px;
    }
  }
  .product-card__table-header {
    background-color: var(--light-color);
    > * {
      font-weight: var(--fw-600);
      font-size: 14px;
      line-height: 24px;
      color: var(--heading-color);
    }
    @media (max-width: 768px) {
      display: none;
    }
  }
  .product-card__table-body {
    border-bottom: 1px solid #e5e7eb;
    &:last-of-type {
      border-bottom: none;
    }
    .btn {
      margin-left: auto;
      padding: 6.5px 1rem;
      font-size: 14px;
      line-height: 19px;
    }
    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      border-bottom: none;
      border-radius: 8px;
      padding: 1rem;
      gap: 8px;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid #e5e7eb;
        border-radius: 8px;
        pointer-events: none;
        z-index: -1;
      }
      .btn {
        width: 100%;
      }
      [data-pill-quant],
      [data-pill-price],
      [data-pill-sum] {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 12px;
        line-height: 18px;
        font-weight: var(--fw-600);
        &::before {
          display: block;
        }
      }
      [data-pill-quant] {
        &::before {
          content: attr(data-pill-quant);
        }
      }
      [data-pill-price] {
        &::before {
          content: attr(data-pill-price);
        }
      }
      [data-pill-sum] {
        &::before {
          content: attr(data-pill-sum);
        }
      }
    }
  }
}

.product-card__table-body-link {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1rem;
  margin-bottom: 7px;
  @media (min-width: 769px) {
    display: none;
  }
  img {
    display: block;
    flex: 0 0 48px;
    max-width: 48px;
    aspect-ratio: 1;
    object-fit: contain;
    border-radius: 8px;
  }
  a {
    font-weight: var(--fw-600);
    font-size: 16px;
    line-height: 24px;
    color: var(--blue-color);
  }
}

.product-card__description {
  .description-title {
    font-weight: var(--fw-700);
    font-size: 24px;
    line-height: 33px;
    color: var(--heading-color);
    margin-bottom: 26px;
    &.title-underline {
      padding-bottom: 15px;
      border-bottom: 2px solid var(--heading-color);
    }
  }
  .section-text {
    a {
      color: var(--blue-color);
      text-decoration: underline;
    }
  }
  @media (max-width: 1024px) {
    margin-bottom: 40px;
  }
}

.number-list {
  padding-top: 1rem;
  margin-bottom: 50px;
  @media (max-width: 1024px) {
    margin-bottom: 25px;
  }
  li {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 1rem;
    &:last-of-type {
      margin-bottom: 0;
    }
    > .number {
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 42px;
      width: 42px;
      height: 42px;
      border-radius: 42px;
      background-color: var(--light-color);
      font-size: 1rem;
      line-height: 24px;
      font-weight: var(--fw-700);
    }
  }
}

.popular-slider__prev {
  [class^="icon-"] {
    transform: rotate(-180deg);
  }
}
