.about-us-intro {
  padding-top: 65px;
  position: relative;
  overflow: hidden;
  .section-title {
    max-width: 860px;
    @media (max-width: 768px) {
      max-width: 550px;
    }
  }
  @media (max-width: 1024px) {
    .section-text.about-text {
      max-width: 680px;
    }
  }
  @media (max-width: 768px) {
    padding-top: 40px;
  }
  .about-us-intro__img {
    position: relative;
    max-width: 80%;
    width: 100%;
    z-index: 2;
    img,
    picture {
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
    }
    @media (max-width: 1024px) {
      max-width: 100%;
    }
    @media (max-width: 768px) {
      height: 160px;
    }
  }
  .about-us-intro__info {
    padding-top: 67px;
    position: relative;
    background-color: #fff;
    &::after {
      content: "";
      position: absolute;
      top: 22px;
      right: -90px;
      width: 31%;
      height: calc(100% + 22px);
      background-color: #f8f8f8;
    }
    .section-text {
      margin-bottom: 53px;
    }
    @media (max-width: 768px) {
      padding-top: 40px;
    }
  }
}

.about-achievements {
  padding-top: 75px;
  text-align: center;
  overflow: hidden;
  .section-title {
    margin-bottom: 21px;
  }
  .about-achievements__header {
    margin-bottom: 60px;
    text-align: left;
    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }
  @media (max-width: 768px) {
    padding-top: 40px;
  }
}

.about-achievements__info {
  padding-top: 60px;
  padding-bottom: 40px;
  .achievements-title {
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
    color: #000000;
    flex: 0 0 400px;
  }
  .achievements-list {
    padding-top: 40px;
    max-width: 1280px;
    // padding-left: 60px;
    // padding-right: 60px;
    .achievements-list__item {
      // max-width: 220px;
    }
    .slider-bottom-nav {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-top: 0;
      z-index: 3;
      pointer-events: none;
    }
    .slider-bottom-nav-btns {
      width: 100%;
      justify-content: space-between;
    }
    .slider-btn {
      // pointer-events: all;
    }
  }
}

.about-text {
  max-width: 893px;
  position: relative;
  z-index: 2;
  @media (min-width: 1900px) {
    max-width: 80%;
    font-size: 24px;
  }
}

.about-info {
  padding-top: 77px;
  padding-bottom: 82px;
  overflow: hidden;
  .section-text {
    margin-bottom: 34px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  @media (max-width: 768px) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .about-us-intro__img {
    margin-bottom: 62px;
    max-width: 80%;
    width: 100%;
    img {
      max-width: 100%;
      width: 100%;
    }
    @media (max-width: 1024px) {
      max-width: 100%;
    }
    @media (max-width: 768px) {
      margin-bottom: 40px;
    }
  }
}

.support {
  overflow: hidden;
  .support-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #111111;
    margin-bottom: 48px;
  }
  .support-info__wrapper {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -90px;
      width: 10%;
      height: 70vh;
      background-color: #f8f8f8;
      @media (max-width: 1024px) {
        display: none;
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      right: -90px;
      width: 15%;
      height: 45vh;
      background-image: url("@img/chess.webp");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 3;
      @media (max-width: 1100px) {
        display: none;
      }
    }
  }
}
.support-info {
  max-width: 894px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -11px;
  padding-top: 22px;
  padding-bottom: 84px;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  @media (min-width: 1900px) {
    max-width: 80%;
  }
  @media (max-width: 768px) {
    padding-bottom: 40px;
    padding-top: 30px;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  &:last-of-type {
    border-bottom: none;
  }
  .support-info__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: #111111;
    margin-bottom: 10px;
    @media (max-width: 768px) {
      text-align: center;
      margin-bottom: 25px;
    }
  }
  .support-info__text {
    flex: 0 0 624px;
    padding: 0 11px;
    @media (min-width: 1900px) {
      flex: 0 0 70%;
    }
    @media (max-width: 1024px) {
      flex: 0 0 100%;
    }
    @media (max-width: 768px) {
      order: 2;
    }
  }
  .support-info__img {
    flex: 0 0 200px;
    padding: 0 11px;
    margin-left: auto;
    img,
    picture {
      display: block;
      max-width: 100%;
      width: 100%;
    }
    @media (max-width: 768px) {
      margin: 0 auto;
      flex: 0 0 auto;
      margin-bottom: 24px;
      order: 1;
    }
  }
  .support-info__list-item {
    padding-left: 15px;
    position: relative;
    font-size: 16px;
    line-height: 150%;
    color: #111111;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
    &::before {
      content: "";
      position: absolute;
      top: 11px;
      left: 0;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #111;
    }
  }
  .support-info__descr {
    margin-top: 43px;
    @media (max-width: 768px) {
      text-align: center;
      max-width: 90%;
      margin: 0 auto;
    }
  }
}
.support-info__descr {
  font-size: 16px;
  line-height: 150%;
  color: #111111;
  flex: 0 0 100%;
  @media (min-width: 1900px) {
    max-width: 70%;
    width: 100%;
  }
  @media (max-width: 768px) {
    order: 3;
  }
}

.support-footer {
  .support-info__descr {
    margin-bottom: 30px;
  }
}

.support-footer__header {
  display: flex;
  margin-bottom: 110px;
  @media (max-width: 1024px) {
    flex-direction: column-reverse;
    margin-bottom: 60px;
  }
  @media (max-width: 768px) {
    margin-bottom: 40px;
  }
  .support-footer__img {
    position: relative;
    z-index: 2;
    img,
    picture {
      max-width: 100%;
      width: 100%;
    }
    @media (min-width: 1900px) {
      flex: 0 0 30%;
    }
    @media (max-width: 1024px) {
      padding-left: 21px;
      padding-right: 21px;
      img,
      picture {
        height: 389px;
        object-fit: cover;
      }
    }
  }
  .support-footer__about {
    padding-top: 115px;
    padding-left: 40px;
    padding-right: 70px;
    padding-bottom: 70px;
    position: relative;
    @media (max-width: 1024px) {
      padding-top: 70px;
      padding-left: 80px;
    }
    @media (max-width: 768px) {
      padding-top: 40px;
      padding-bottom: 40px;
      text-align: center;
      display: flex;
      justify-content: center;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -50px;
      transform: translateY(-50%);
      width: 80vw;
      height: calc(100% + 80px);
      background-color: #f5f5f5;
      @media (min-width: 1900px) {
        width: 60vw;
      }
      @media (max-width: 1024px) {
        width: 85%;
        left: 21px;
        height: 100%;
      }
      @media (max-width: 768px) {
        width: 100%;
        left: 0;
      }
    }
    &::before {
      @media (max-width: 1024px) {
        content: "";
        position: absolute;
        top: -60px;
        right: 0;
        width: 200px;
        height: calc(100% + 30px);
        background-image: url("@img/chess.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 3;
      }
      @media (max-width: 768px) {
        display: none;
      }
    }
  }
  .support-footer__about-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #1e1e1e;
    max-width: 455px;
    width: 100%;
    position: relative;
    z-index: 2;
    @media (min-width: 1900px) {
      max-width: 70%;
    }
  }
}

.about-accordion {
  margin-top: 80px;
  @media (max-width: 768px) {
    margin-top: 40px;
  }
}
