.products {
  padding-top: 124px;
  padding-bottom: 117px;
  position: relative;
  @media (max-width: 1024px) {
    padding-top: 100px;
    padding-bottom: 66px;
  }
  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .section-title {
    margin-bottom: 68px;
    margin-bottom: 40px;
  }
}

.products-slider-wrapper {
  padding-left: 5.625rem;
  @media (max-width: 1024px) {
    padding-left: 42px;
  }
  @media (max-width: 768px) {
    padding-left: 17px;
  }
  .products-slider {
    @media (min-width: 769px) {
      padding-right: 50px;
    }
  }
  .swiper-slide {
    max-width: 282px;
    width: 100%;
    user-select: none;
  }
  .products-slider-nav {
    padding-right: 115px;
    .btn {
      max-width: 260px;
      width: 100%;
    }
    @media (max-width: 1024px) {
      padding-right: 46px;
    }
    @media (max-width: 768px) {
      padding-right: 17px;
    }
  }
  .slider-bottom-nav {
    padding-top: 118px;
    @media (max-width: 1024px) {
      padding-top: 68px;
    }
    @media (max-width: 768px) {
      flex-wrap: wrap;
    }
  }
  .slider-bottom-nav .swiper-pagination {
    flex: 0 0 60%;
    @media (max-width: 1024px) {
      flex: 0 0 50%;
    }
    @media (max-width: 768px) {
      flex: 0 0 100%;
      margin-bottom: 57px;
    }
    @media (max-width: 480px) {
      display: flex;
    }
  }
}
.products-item {
  .products-item__img {
    margin-bottom: 42px;
    position: relative;
    display: block;
    transition: opacity 0.25s;
    &:hover {
      opacity: 0.7;
    }
    img,
    picture {
      max-width: 100%;
      height: 200px;
      object-fit: contain;
    }
    @media (max-width: 575px) {
      display: flex;
      justify-content: center;
    }
  }
  .products-item__title {
    display: block;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #111111;
    transition: opacity 0.25s;
    &:hover {
      opacity: 0.7;
    }
    @media (max-width: 575px) {
      text-align: center;
      font-size: 1rem;
      line-height: 19px;
    }
  }
  .products-item__footer {
    margin-top: 47px;
    background-color: #e2e2e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 270px;
    padding: 22px 0;
    @media (max-width: 480px) {
      max-width: 100%;
    }
  }
  .products-item__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-left: 34px;
    padding-right: 19px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 1px;
      height: 20px;
      background-color: #000;
    }
    @media (max-width: 1080px) {
      padding-left: 30px;
    }
  }
  .products-item__buy {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: underline;
    padding-right: 34px;
    padding-left: 19px;
    transition: opacity 0.25s;
    &:hover {
      opacity: 0.5;
    }
  }
}
