// Заголовки, общие БЄМ блоки и проче...

.link-underline,
a.link-underline {
  color: #fff;
  display: block;
  font-size: 1rem;
  line-height: 19px;
  text-decoration: underline;
}

.section-title {
  font-weight: 400;
  font-size: 62px;
  line-height: 76px;
  color: var(--dark-secondary-clr);
  @media (max-width: 768px) {
    text-align: center;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    letter-spacing: 0.03em;
  }
}
.section-subtitle {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.03em;
  color: #111111;
  @media (max-width: 768px) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
  }
}

.text-white {
  color: #fff;
}

@keyframes right-in {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
}

@keyframes left-in {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
}

@keyframes left-in-blur {
  from {
    transform: translateX(-100px);
    opacity: 0;
    filter: blur(5px);
  }
  to {
    transform: translateX(0);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes bounce-out {
  0%,
  100%,
  20%,
  40%,
  60%,
  80% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  40% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  60% {
    transform: scale3d(0.8, 0.8, 0.8);
  }
  80% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@media (prefers-reduced-motion) {
  [data-fade-in] {
    transition: none;
  }
}

@keyframes heroImgAnim {
  from {
    transform: scale(1.1);
    filter: blur(5px);
  }
  to {
    transform: scale(1);
    filter: blur(0);
  }
}

.swiper {
  position: relative;
}

.slider-nav {
  display: none;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 3;
  @media (max-width: 991.98px) {
    display: flex;
  }
}

.slider-btn {
  width: 46px;
  height: 46px;
  background-color: #838383;
  border: 1px solid #838383;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  color: #fff;
  pointer-events: all;
  transition: 0.25s;
  &.slider-btn-prev {
    transform: rotate(180deg);
  }
  &.swiper-button-disabled {
    border-color: #f1f1f1;
    background-color: #fff;
    color: #b1b1b1;
  }
}

.slider-bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
  .swiper-pagination {
    position: relative;
    height: 3px !important;
    flex: 0 0 70%;
    --swiper-theme-color: #000000;
    @media (max-width: 480px) {
      display: none;
    }
  }
  .slider-bottom-nav-btns {
    display: flex;
    align-items: center;
    column-gap: 15px;
    @media (max-width: 480px) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      justify-content: space-between;
      z-index: 3;
      pointer-events: none;
      .slider-btn {
        pointer-events: all;
      }
    }
  }
}

.bg-grey {
  background-color: var(--grey-light-secondary);
}

.text-overflow {
  ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  -ms-line-clamp: 3;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.d-block {
  display: block;
}

/***************************************************
 * Generated by SVG Artista on 10/1/2022, 8:36:54 AM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

// @-webkit-keyframes animate-svg-fill-1 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-1 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-1 {
//   -webkit-animation: animate-svg-fill-1 0.5s ease-in 0.1s both;
//   animation: animate-svg-fill-1 0.5s ease-in 0.1s both;
// }

// @-webkit-keyframes animate-svg-fill-2 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-2 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-2 {
//   -webkit-animation: animate-svg-fill-2 0.5s ease-in 0.15000000000000002s both;
//   animation: animate-svg-fill-2 0.5s ease-in 0.15000000000000002s both;
// }

// @-webkit-keyframes animate-svg-fill-3 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-3 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-3 {
//   -webkit-animation: animate-svg-fill-3 0.5s ease-in 0.2s both;
//   animation: animate-svg-fill-3 0.5s ease-in 0.2s both;
// }

// @-webkit-keyframes animate-svg-fill-4 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-4 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-4 {
//   -webkit-animation: animate-svg-fill-4 0.5s ease-in 0.25s both;
//   animation: animate-svg-fill-4 0.5s ease-in 0.25s both;
// }

// @-webkit-keyframes animate-svg-fill-5 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-5 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-5 {
//   -webkit-animation: animate-svg-fill-5 0.5s ease-in 0.30000000000000004s both;
//   animation: animate-svg-fill-5 0.5s ease-in 0.30000000000000004s both;
// }

// @-webkit-keyframes animate-svg-fill-6 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-6 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-6 {
//   -webkit-animation: animate-svg-fill-6 0.5s ease-in 0.35s both;
//   animation: animate-svg-fill-6 0.5s ease-in 0.35s both;
// }

// @-webkit-keyframes animate-svg-fill-7 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-7 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-7 {
//   -webkit-animation: animate-svg-fill-7 0.5s ease-in 0.4s both;
//   animation: animate-svg-fill-7 0.5s ease-in 0.4s both;
// }

// @-webkit-keyframes animate-svg-fill-8 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-8 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-8 {
//   -webkit-animation: animate-svg-fill-8 0.5s ease-in 0.45000000000000007s both;
//   animation: animate-svg-fill-8 0.5s ease-in 0.45000000000000007s both;
// }

// @-webkit-keyframes animate-svg-fill-9 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-9 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-9 {
//   -webkit-animation: animate-svg-fill-9 0.5s ease-in 0.5s both;
//   animation: animate-svg-fill-9 0.5s ease-in 0.5s both;
// }

// @-webkit-keyframes animate-svg-fill-10 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-10 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-10 {
//   -webkit-animation: animate-svg-fill-10 0.5s ease-in 0.55s both;
//   animation: animate-svg-fill-10 0.5s ease-in 0.55s both;
// }

// @-webkit-keyframes animate-svg-fill-11 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-11 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-11 {
//   -webkit-animation: animate-svg-fill-11 0.5s ease-in 0.6s both;
//   animation: animate-svg-fill-11 0.5s ease-in 0.6s both;
// }

// @-webkit-keyframes animate-svg-fill-12 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-12 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-12 {
//   -webkit-animation: animate-svg-fill-12 0.5s ease-in 0.65s both;
//   animation: animate-svg-fill-12 0.5s ease-in 0.65s both;
// }

// @-webkit-keyframes animate-svg-fill-13 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-13 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-13 {
//   -webkit-animation: animate-svg-fill-13 0.5s ease-in 0.7000000000000001s both;
//   animation: animate-svg-fill-13 0.5s ease-in 0.7000000000000001s both;
// }

// @-webkit-keyframes animate-svg-fill-14 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-14 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-14 {
//   -webkit-animation: animate-svg-fill-14 0.5s ease-in 0.75s both;
//   animation: animate-svg-fill-14 0.5s ease-in 0.75s both;
// }

// @-webkit-keyframes animate-svg-fill-15 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-15 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-15 {
//   -webkit-animation: animate-svg-fill-15 0.5s ease-in 0.8s both;
//   animation: animate-svg-fill-15 0.5s ease-in 0.8s both;
// }

// @-webkit-keyframes animate-svg-fill-16 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-16 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-16 {
//   -webkit-animation: animate-svg-fill-16 0.5s ease-in 0.85s both;
//   animation: animate-svg-fill-16 0.5s ease-in 0.85s both;
// }

// @-webkit-keyframes animate-svg-fill-17 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-17 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-17 {
//   -webkit-animation: animate-svg-fill-17 0.5s ease-in 0.9s both;
//   animation: animate-svg-fill-17 0.5s ease-in 0.9s both;
// }

// @-webkit-keyframes animate-svg-fill-18 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-18 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-18 {
//   -webkit-animation: animate-svg-fill-18 0.5s ease-in 0.9500000000000001s both;
//   animation: animate-svg-fill-18 0.5s ease-in 0.9500000000000001s both;
// }

// @-webkit-keyframes animate-svg-fill-19 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-19 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-19 {
//   -webkit-animation: animate-svg-fill-19 0.5s ease-in 1s both;
//   animation: animate-svg-fill-19 0.5s ease-in 1s both;
// }

// @-webkit-keyframes animate-svg-fill-20 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-20 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-20 {
//   -webkit-animation: animate-svg-fill-20 0.5s ease-in 1.05s both;
//   animation: animate-svg-fill-20 0.5s ease-in 1.05s both;
// }

// @-webkit-keyframes animate-svg-fill-21 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-21 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-21 {
//   -webkit-animation: animate-svg-fill-21 0.5s ease-in 1.1s both;
//   animation: animate-svg-fill-21 0.5s ease-in 1.1s both;
// }

// @-webkit-keyframes animate-svg-fill-22 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-22 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-22 {
//   -webkit-animation: animate-svg-fill-22 0.5s ease-in 1.1500000000000001s both;
//   animation: animate-svg-fill-22 0.5s ease-in 1.1500000000000001s both;
// }

// @-webkit-keyframes animate-svg-fill-23 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-23 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-23 {
//   -webkit-animation: animate-svg-fill-23 0.5s ease-in 1.2000000000000002s both;
//   animation: animate-svg-fill-23 0.5s ease-in 1.2000000000000002s both;
// }

// @-webkit-keyframes animate-svg-fill-24 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-24 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-24 {
//   -webkit-animation: animate-svg-fill-24 0.5s ease-in 1.2500000000000002s both;
//   animation: animate-svg-fill-24 0.5s ease-in 1.2500000000000002s both;
// }

// @-webkit-keyframes animate-svg-fill-25 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-25 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-25 {
//   -webkit-animation: animate-svg-fill-25 0.5s ease-in 1.3000000000000003s both;
//   animation: animate-svg-fill-25 0.5s ease-in 1.3000000000000003s both;
// }

// @-webkit-keyframes animate-svg-fill-26 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-26 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-26 {
//   -webkit-animation: animate-svg-fill-26 0.5s ease-in 1.35s both;
//   animation: animate-svg-fill-26 0.5s ease-in 1.35s both;
// }

// @-webkit-keyframes animate-svg-fill-27 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-27 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-27 {
//   -webkit-animation: animate-svg-fill-27 0.5s ease-in 1.4000000000000001s both;
//   animation: animate-svg-fill-27 0.5s ease-in 1.4000000000000001s both;
// }

// @-webkit-keyframes animate-svg-fill-28 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-28 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-28 {
//   -webkit-animation: animate-svg-fill-28 0.5s ease-in 1.4500000000000002s both;
//   animation: animate-svg-fill-28 0.5s ease-in 1.4500000000000002s both;
// }

// @-webkit-keyframes animate-svg-fill-29 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-29 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-29 {
//   -webkit-animation: animate-svg-fill-29 0.5s ease-in 1.5000000000000002s both;
//   animation: animate-svg-fill-29 0.5s ease-in 1.5000000000000002s both;
// }

// @-webkit-keyframes animate-svg-fill-30 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-30 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-30 {
//   -webkit-animation: animate-svg-fill-30 0.5s ease-in 1.5500000000000003s both;
//   animation: animate-svg-fill-30 0.5s ease-in 1.5500000000000003s both;
// }

// @-webkit-keyframes animate-svg-fill-31 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-31 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-31 {
//   -webkit-animation: animate-svg-fill-31 0.5s ease-in 1.6s both;
//   animation: animate-svg-fill-31 0.5s ease-in 1.6s both;
// }

// @-webkit-keyframes animate-svg-fill-32 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-32 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-32 {
//   -webkit-animation: animate-svg-fill-32 0.5s ease-in 1.6500000000000001s both;
//   animation: animate-svg-fill-32 0.5s ease-in 1.6500000000000001s both;
// }

// @-webkit-keyframes animate-svg-fill-33 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-33 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-33 {
//   -webkit-animation: animate-svg-fill-33 0.5s ease-in 1.7000000000000002s both;
//   animation: animate-svg-fill-33 0.5s ease-in 1.7000000000000002s both;
// }

// @-webkit-keyframes animate-svg-fill-34 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-34 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-34 {
//   -webkit-animation: animate-svg-fill-34 0.5s ease-in 1.7500000000000002s both;
//   animation: animate-svg-fill-34 0.5s ease-in 1.7500000000000002s both;
// }

// @-webkit-keyframes animate-svg-fill-35 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-35 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-35 {
//   -webkit-animation: animate-svg-fill-35 0.5s ease-in 1.8000000000000003s both;
//   animation: animate-svg-fill-35 0.5s ease-in 1.8000000000000003s both;
// }

// @-webkit-keyframes animate-svg-fill-36 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-36 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-36 {
//   -webkit-animation: animate-svg-fill-36 0.5s ease-in 1.85s both;
//   animation: animate-svg-fill-36 0.5s ease-in 1.85s both;
// }

// @-webkit-keyframes animate-svg-fill-37 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-37 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-37 {
//   -webkit-animation: animate-svg-fill-37 0.5s ease-in 1.9000000000000001s both;
//   animation: animate-svg-fill-37 0.5s ease-in 1.9000000000000001s both;
// }

// @-webkit-keyframes animate-svg-fill-38 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-38 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-38 {
//   -webkit-animation: animate-svg-fill-38 0.5s ease-in 1.9500000000000002s both;
//   animation: animate-svg-fill-38 0.5s ease-in 1.9500000000000002s both;
// }

// @-webkit-keyframes animate-svg-fill-39 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-39 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-39 {
//   -webkit-animation: animate-svg-fill-39 0.5s ease-in 2s both;
//   animation: animate-svg-fill-39 0.5s ease-in 2s both;
// }

// @-webkit-keyframes animate-svg-fill-40 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-40 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-40 {
//   -webkit-animation: animate-svg-fill-40 0.5s ease-in 2.0500000000000003s both;
//   animation: animate-svg-fill-40 0.5s ease-in 2.0500000000000003s both;
// }

// @-webkit-keyframes animate-svg-fill-41 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-41 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-41 {
//   -webkit-animation: animate-svg-fill-41 0.5s ease-in 2.1s both;
//   animation: animate-svg-fill-41 0.5s ease-in 2.1s both;
// }

// @-webkit-keyframes animate-svg-fill-42 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-42 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-42 {
//   -webkit-animation: animate-svg-fill-42 0.5s ease-in 2.1500000000000004s both;
//   animation: animate-svg-fill-42 0.5s ease-in 2.1500000000000004s both;
// }

// @-webkit-keyframes animate-svg-fill-43 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-43 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-43 {
//   -webkit-animation: animate-svg-fill-43 0.5s ease-in 2.2s both;
//   animation: animate-svg-fill-43 0.5s ease-in 2.2s both;
// }

// @-webkit-keyframes animate-svg-fill-44 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-44 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-44 {
//   -webkit-animation: animate-svg-fill-44 0.5s ease-in 2.25s both;
//   animation: animate-svg-fill-44 0.5s ease-in 2.25s both;
// }

// @-webkit-keyframes animate-svg-fill-45 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-45 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-45 {
//   -webkit-animation: animate-svg-fill-45 0.5s ease-in 2.3000000000000003s both;
//   animation: animate-svg-fill-45 0.5s ease-in 2.3000000000000003s both;
// }

// @-webkit-keyframes animate-svg-fill-46 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// @keyframes animate-svg-fill-46 {
//   0% {
//     fill: transparent;
//   }

//   100% {
//     fill: rgb(255, 255, 255);
//   }
// }

// .svg-elem-46 {
//   -webkit-animation: animate-svg-fill-46 0.5s ease-in 2.35s both;
//   animation: animate-svg-fill-46 0.5s ease-in 2.35s both;
// }
